
    <!--javascript-->
    <script src="app/js/bower_components/jquery/dist/jquery.min.js" ></script>
    <script src="app/js/bower_components/lodash/lodash.min.js" ></script>
    <script src="app/js/bower_components/backbone/backbone-min.js" ></script>
    <script src="app/js/bower_components/respond.min.js" ></script>
    <script src="app/js/bower_components/jquery.mobile.custom/jquery.mobile.custom.min.js" ></script>

    <script src="app/js/bower_components/backbone.syphon.fork-weber.min.js" ></script>
    <script src="app/js/bower_components/fastclick/lib/fastclick.js" ></script>
    <script src="app/js/bower_components/audiojs/audiojs/audio.js" ></script>
    <script src="app/js/bower_components/the-modal-master/jquery.the-modal.js" ></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script src="bundle/javascript.min.js?v=10" ></script>
    </body>
</html>