<!--footer-->
<footer class="b-footer ">
    <div class="b-footer__cnt">
        <div class="b-footer__wrapper">
            <a href="/" class="b-logo">
                <img class="b-logo__img" src="assets/logo-b.png" alt=""/>
            </a>

            <div class="b-footer__social_media">
                <div class="b-footer__social_media__title">Присоединяйтесь к нам</div>
                <a href="/" class="b-footer__social_media__link  b-icon">&#xe81b;</a>
                <a href="/" class="b-footer__social_media__link  b-icon">&#xe832;</a>
                <a href="/" class="b-footer__social_media__link  b-icon">&#xe81e;</a>
                <a href="/" class="b-footer__social_media__link  b-icon">&#xe81d;</a>
                <a href="/" class="b-footer__social_media__link  b-icon">&#xe81f;</a>
            </div>
            <div class="b-footer__contact">
                <a href="tel:+79064797363" class="b-footer__contact--phone">+7 (906) 479-73-63</a>
                <span class="b-footer__contact--mode">Ежедневно с 9:00 до 20:00</span>
            </div>
            <div class="b-footer__desc">
                Центр практической психологии
            </div>
        </div>
        <hr class="b-hr_white"/>
        <div class="b-footer__wrapper">
            <div class="b-footer__nav_panel">
                <div class="b-footer__nav_panel__mobile_menu">
                    <ul class="b-nav_panel__nav_panel__mobile_menu__shortlink">
                        <li class="b-nav_panel__mobile_menu__shortlink__item">
                            <a class="b-nav_panel__mobile_menu__link b-icon icon-home">&#xe800;</a>
                        </li>
                        <li class="b-nav_panel__mobile_menu__shortlink__item">
                            <a class="b-nav_panel__mobile_menu__link b-icon ico-mail">&#xe82d;</a>
                        </li>
                        <li class="b-nav_panel__mobile_menu__shortlink__item ">
                            <a class="b-nav_panel__mobile_menu__link b-icon ico-phone js-show_contact_phone">&#xe805;</a>
                        </li>
                    </ul>
                </div>
                <div class="b-footer__nav_panel__social_media--left">
                    <div class="b-footer__social_media__title"></div>
                    <a href="/" class="b-footer__social_media__link  b-icon">&#xe81b;</a>
                    <a href="/" class="b-footer__social_media__link  b-icon">&#xe832;</a>
                    <a href="/" class="b-footer__social_media__link  b-icon">&#xe81e;</a>
                    <a href="/" class="b-footer__social_media__link  b-icon">&#xe81d;</a>
                    <a href="/" class="b-footer__social_media__link  b-icon">&#xe81f;</a>
                </div>
                <div class="b-footer__nav_panel__line_menu">
                    <!--Desctop navigation-->
                    <ul class="b-nav_panel__line_menu">
                        <li class="b-nav_panel__line_menu__item">
                            <a href="/" class="b-nav_panel__line_menu__link">Главная</a>
                        </li>
                        <li class="b-nav_panel__line_menu__item">
                            <a href="/service.html" class="b-nav_panel__line_menu__link">Услуги</a>
                        </li>
                        <li class="b-nav_panel__line_menu__item">
                            <a href="/list_article.html" class="b-nav_panel__line_menu__link">Статьи</a>
                        </li>
                        <li class="b-nav_panel__line_menu__item">
                            <a href="/audio.html" class="b-nav_panel__line_menu__link">Аудиостатьи</a>
                        </li>
                        <li class="b-nav_panel__line_menu__item">
                            <a href="/video.html" class="b-nav_panel__line_menu__link">Видео</a>
                        </li>
                        <li class="b-nav_panel__line_menu__item">
                            <a href="" class="b-nav_panel__line_menu__link">Файлы</a>
                        </li>
                        <li class="b-nav_panel__line_menu__item">
                            <a href="/about.html" class="b-nav_panel__line_menu__link">О нас</a>
                        </li>
                        <li class="b-nav_panel__line_menu__item">
                            <a href="/contact.html" class="b-nav_panel__line_menu__link">Контакты</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="b-footer__wrapper">
            <p class="b-copyright">
                &copy; copyright 2012-2015. Символ. Центр практической психологии. Все права защищены.<br>
                       Запрещено любое копирование материалов ресурса  без писменного согласия владельца.
            </p>

        </div>
    </div>
</footer>
<div class="modal" id="your_question" style="display: none">
    <a  class="close">&times;</a>
    <div class="modal_cnt ">
        <div class="modal_cnt__title">
            Задать вопрос
        </div>
        <div class="modal_cnt__subtitle modal_cnt__subtitlemain ">
            <p>
                Заполинте все поля и нажмите "ОТПРАВИТЬ"
            </p>
        </div>
        <div class="modal_cnt__subtitle js_send_messages_complite hide">
            «Заявка приянята. мы свяжимся с вами»
        </div>
        <form   class="b-cnt_contact__cnt__form_study_advice__form ">

            <div class="form-row">
                <label for="your_question_name" class="form-label">Имя</label>
                <input type="text" value=""  name="your_question[name]" id="your_question_name" class="form-input_text" placeholder="введите фамилию, имя, отчество" >
            </div>

            <div class="form-row">
                <label for="your_question_mail" class="form-label">E-mail</label>
                <input type="text"  name="your_question[mail]" id="your_question_mail" class="form-input_text " placeholder="введите ваш email">
            </div>

            <div class="form-row">
                <label for="your_question_message" class="form-label form-label_textarea">Ваш вопрос</label>
                <textarea class="form-area feedback_message--modi" name="your_question[message]" id="your_question_message" placeholder="Ваш вопрос"></textarea>
            </div>


            <div class="form-row clearfix">
                <button  disabled class="btn--blue b-cnt_contact__cnt__form_study_advice__submit js-your_question_submit">Отправить</button>
            </div>

        </form>

    </div>
</div>
<div class="modal" id="appointment" style="display: none">
    <a  class="close">&times;</a>
    <div class="modal_cnt ">
        <div class="modal_cnt__title">
            Заказать звонок
        </div>
        <div class="modal_cnt__subtitle modal_cnt__subtitlemain ">
            <p>
                Заполинте все поля и нажмите "ОТПРАВИТЬ"
            </p>
        </div>
        <div class="modal_cnt__subtitle js_send_messages_complite hide">
            «Заявка приянята. мы свяжимся с вами»
        </div>
        <form   class="b-cnt_contact__cnt__form_appointment__form ">

            <div class="form-row">
                <label for="appointment_name" class="form-label">ФИО</label>
                <input type="text" value=""  name="appointment[name]" id="appointment_name" class="form-input_text" placeholder="введите фамилию, имя, отчество" >
            </div>
            <div class="form-row">
                <label for="appointment_phone" class="form-label">Телефон</label>
                <input type="text" value="" name="appointment[phone]" id="appointment_phone" class="form-input_text" placeholder="введите ваш телефон">
            </div>
            <div class="form-row">
                <label for="appointment_time" class="form-label">Удобное время звонка</label>
                <select name="appointment[time]" id="appointment_time" class="form-select">
                    <option value="09:00-10:00">09:00-10:00</option>
                    <option value="10:00-11:00">10:00-11:00</option>
                    <option value="11:00-12:00">11:00-12:00</option>
                    <option value="12:00-13:00">12:00-13:00</option>
                    <option value="13:00-14:00">13:00-14:00</option>
                    <option value="14:00-15:00">14:00-15:00</option>
                    <option value="15:00-16:00">15:00-16:00</option>
                    <option value="16:00-17:00">16:00-17:00</option>
                    <option value="17:00-18:00">17:00-18:00</option>
                    <option value="18:00-19:00">18:00-19:00</option>
                    <option value="19:00-20:00">19:00-20:00</option>
                    <option value="20:00-21:00">20:00-21:00</option>
                </select>
            </div>
            <div class="form-row clearfix">
                <button  disabled class="btn--blue b-cnt_contact__cnt__form_study_advice__submit js-appointment_submit">Отправить</button>
            </div>

        </form>

    </div>
</div>
<div class="modal" id="study_advice" style="display: none">
    <a  class="close">&times;</a>
    <div class="modal_cnt ">
        <div class="modal_cnt__title">
            Бесплатная консультация
        </div>
        <div class="modal_cnt__subtitle modal_cnt__subtitlemain ">
            <p>
                Заполинте все поля и нажмите "ОТПРАВИТЬ"
            </p>
        </div>
        <div class="modal_cnt__subtitle js_send_messages_complite hide">
            «Заявка приянята. мы свяжимся с вами»
        </div>
        <form   class="b-cnt_contact__cnt__form_study_advice__form ">

            <div class="form-row">
                <label for="study_advice_name" class="form-label">ФИО</label>
                <input type="text" value=""  name="study_advice[name]" id="study_advice_name" class="form-input_text" placeholder="введите фамилию, имя, отчество" >
            </div>
            <div class="form-row">
                <label for="study_advice_phone" class="form-label">Телефон</label>
                <input type="text" value="" name="study_advice[phone]" id="study_advice_phone" class="form-input_text" placeholder="введите ваш телефон">
            </div>
            <div class="form-row">
                <label for="study_advice_mail" class="form-label">E-mail</label>
                <input type="text"  name="study_advice[mail]" id="study_advice_mail" class="form-input_text " placeholder="введите ваш email">
            </div>
            <div class="form-row" >

                <label class="form-label">Форма встречи</label>
                                    <span class="b-radio_wrap ">
                                        <input type="radio" checked class="b-radio js-study_advice_meet_radio" id='study_advice_meet1' name="study_advice[meet]"  value="1">
                                        <label for="study_advice_meet1" class="b-radio_title">Очно</label>
                                        <input type="radio" class="b-radio js-study_advice_meet_radio" id='study_advice_meet2' name="study_advice[meet]" value="2">
                                        <label for="study_advice_meet2" class="b-radio_title ">Skype</label>
                                    </span>
            </div>
            <div class="form-row b-study_advice_meet_address" >

                <div class="b-study_advice_meet_address__item">
                    <div class="b-study_advice_meet_address__item--title">
                        ВНИМАНИЕ!
                    </div>
                    <div class="b-study_advice_meet_address__item--body">
                        Очные встречи проводятся по адресу : г. ПЯТИГОРСК, ул. Орджонекидзе,2
                    </div>
                </div>
            </div>
            <div class="form-row b-study_advice_skype" >
                <label for="study_advice_skype" class="form-label">Skype</label>
                <input type="text" name="study_advice[skype]" id="study_advice_skype" class="form-input_text" placeholder="введите ваш skype">
            </div>


            <div class="form-row clearfix">
                <button  disabled class="btn--blue b-cnt_contact__cnt__form_study_advice__submit js-study_advice_submit">Отправить</button>
            </div>

        </form>

    </div>
</div>
<div class="modal" id="skype_consultancy" style="display: none">
    <a  class="close">&times;</a>
    <div class="modal_cnt">
        <div class="modal_cnt__title">
            Запись на скайп консультацию
        </div>
        <div class="modal_cnt__subtitle modal_cnt__subtitlemain">
            Заполинте все поля и нажмите "ОТПРАВИТЬ"
        </div>
        <div class="modal_cnt__subtitle js_send_messages_complite hide">
            «Заявка приянята. мы свяжимся с вами»
        </div>
        <form   class="b-cnt_contact__cnt__form_study_advice__form">
            <div class="form-row">
                <label for="skype_consultancy_name" class="form-label">ФИО</label>
                <input type="text" name="skype_consultancy[name]" id="skype_consultancy_name" class="form-input_text" placeholder="введите фамилию, имя, отчество">
            </div>
            <div class="form-row">
                <label for="skype_consultancy_phone" class="form-label">Телефон</label>
                <input type="text" name="skype_consultancy[phone]" id="skype_consultancy_phone" class="form-input_text" placeholder="введите ваш телефон">
            </div>
            <div class="form-row">
                <label for="skype_consultancy_mail" class="form-label">E-mail</label>
                <input type="text" name="skype_consultancy[mail]" id="skype_consultancy_mail" class="form-input_text" placeholder="введите ваш email">
            </div>
            <div class="form-row">
                <label for="skype_consultancy_skype" class="form-label">Skype</label>
                <input type="text" name="skype_consultancy[skype]" id="skype_consultancy_skype" class="form-input_text" placeholder="введите ваш skype">
            </div>
            <div class="form-row">
                <label for="skype_consultancy_title" class="form-label">Тема вашего обращения</label>
                <input type="text" name="skype_consultancy[title]" id="skype_consultancy_title" class="form-input_text" placeholder="">
            </div>

            <div class="form-row clearfix">
                <button disabled  class="btn--blue b-cnt_contact__cnt__form_study_advice__submit js-skype_consultancy_submit">Отправить</button>

            </div>
        </form>

    </div>
</div>
<div class="modal" id="individual_counseling" style="display: none">
    <a  class="close">&times;</a>
    <div class="modal_cnt">
        <div class="modal_cnt__title">
            Запись на индивидуальную консультацию
        </div>
        <div class="modal_cnt__subtitle modal_cnt__subtitlemain">
            Заполинте все поля и нажмите "ОТПРАВИТЬ"
        </div>
        <div class="modal_cnt__subtitle js_send_messages_complite hide">
            «Заявка приянята. мы свяжимся с вами»
        </div>
        <form  name="individual_counseling" class="b-cnt_contact__cnt__form_study_advice__form">
            <div class="form-row">
                <label for="individual_counseling_name" class="form-label">ФИО</label>
                <input type="text" name="individual_counseling[name]" id="individual_counseling_name" class="form-input_text" placeholder="введите фамилию, имя, отчество">
            </div>
            <div class="form-row">
                <label for="individual_counseling_city" class="form-label">Город</label>
                <input type="text" name="individual_counseling[city]" id="individual_counseling_city" class="form-input_text" placeholder="введите ваш телефон">
            </div>
            <div class="form-row">
                <label for="individual_counseling_phone" class="form-label">Телефон</label>
                <input type="text" name="individual_counseling[phone]" id="individual_counseling_phone" class="form-input_text" placeholder="введите ваш телефон">
            </div>
            <div class="form-row">
                <label for="individual_counseling_mail" class="form-label">E-mail</label>
                <input type="text" name="individual_counseling[mail] " id="individual_counseling_mail" class="form-input_text" placeholder="введите ваш email">
            </div>

            <div class="form-row">
                <label for="individual_counseling_title" class="form-label">Тема вашего обращения</label>
                <input type="text" name="individual_counseling[title]" id="individual_counseling_title" class="form-input_text" placeholder="">
            </div>
            <div class="form-row b-study_advice_meet_address" >

                <div class="b-study_advice_meet_address__item">
                    <div class="b-study_advice_meet_address__item--title">
                        ВНИМАНИЕ!
                    </div>
                    <div class="b-study_advice_meet_address__item--body">
                        Очные встречи проводятся по адресу : г. ПЯТИГОРСК, ул. Орджонекидзе,2
                    </div>
                </div>
            </div>
            <div class="form-row clearfix">
                <input type="submit" class="btn--blue b-cnt_contact__cnt__form_study_advice__submit js-individual_counseling_submit" value="Отправить">
            </div>
        </form>

    </div>
</div>