<!--sidebar-->
<div class="b-nav_panel__sidebar clearfix">
    <i class="b-nav_panel__sidebar__icon_close b-icon js-hide_sidebar">&#xe84f</i>
    <ul class="b-nav_panel__sidebar__menu">
        <li class="b-nav_panel__sidebar__menu__item">
            <a href="/" class="b-nav_panel__sidebar__menu__link">Главная</a>
        </li>
        <li class="b-nav_panel__sidebar__menu__item st-nav_panel__sidebar__menu__item--selected">
            <a href="/service.html" class="b-nav_panel__sidebar__menu__link">Услуги</a>
        </li>
        <li class="b-nav_panel__sidebar__menu__item">
            <a href="/list_article.html" class="b-nav_panel__sidebar__menu__link">Статьи</a>
        </li>
        <li class="b-nav_panel__sidebar__menu__item ">
            <a href="" class="b-nav_panel__sidebar__menu__link js-show_submenu-sidebar">Полезное <i class="ico-arrow-down">&#9660;</i></a>
            <!--submenu-->
            <ul class="b-nav_panel__sidebar__submenu">
                <li class="b-nav_panel__sidebar__submenu__item st-nav_panel__sidebar__submenu__item--selected">
                    <a href="/audio.html" class="b-nav_panel__sidebar__submenu__link">Аудистатьи</a>
                </li>
                <li class="b-nav_panel__sidebar__submenu__item">
                    <a href="/video.html" class="b-nav_panel__sidebar__submenu__link">Видео</a>
                </li>
                <li class="b-nav_panel__sidebar__submenu__item">
                    <a href="" class="b-nav_panel__sidebar__submenu__link">Файлы</a>
                </li>
            </ul>
            <!--end submenu-->
        </li>
        <li class="b-nav_panel__sidebar__menu__item">
            <a href="/about.html" class="b-nav_panel__sidebar__menu__link">О нас</a>
        </li>
        <li class="b-nav_panel__sidebar__menu__item">
            <a href="/contact.html" class="b-nav_panel__sidebar__menu__link">Контакты</a>
        </li>
    </ul>
</div>
<div class="b-wrapper_header clearfix">
    <!--header-->
    <div class="b-col__border-bottom header  clearfix ">
        <div class="b-cnt b-header clearfix ">
            <a href="/" class="b-logo">
                <img class="b-logo__img" src="assets/logo-w.png" alt=""/>
            </a>
            <div class="b-header__contact ">
                <span class="b-header__contact--phone">+7 (906) 479-73-63</span>
                <span class="b-header__contact--mode">Ежедневно с 9:00 до 20:00</span>
                <i class="b-icon b-header__contact--other ">&#xe805;
                    <span class="b-header__contact--other__text js-show_contact">Свяжитесь с нами</span> </i>

                <!--contact popup-->
                <div class="b-contact_popup animated">
                    <div class="b-contact_popup__romb"></div>
                    <ul class="b-contact_popup__cnt">
                        <li class="b-contact_popup__item">
                            <div class="b-label js-open_window" data-window="appointment">Заказать звонок</div>
                        </li>
                        <li class="b-contact_popup__item">
                            <div class="b-label">Написать нам</div>
                            <div class="b-contact_popup__item__mail">info@symvol-psy.ru</div>
                        </li>
                        <li class="b-contact_popup__item">
                            <div class="b-label">Viber/WhatSapp</div>
                            <div class="b-contact_popup__item__phone">+7 (906) 479-73-63</div>
                        </li>
                        <li class="b-contact_popup__item">
                            <div class="b-label">Позвоните нам</div>
                            <div class="b-contact_popup__item__phone">+7 (906) 479-73-63</div>
                            <b class="b-contact_popup__item__mode">Ежедневно с 9:00 до 20:00</b>
                        </li>
                    </ul>
                </div>
                <!--end contact popup-->
            </div>
            <div class="b-header__info">
                «Кораблю, который не знает куда плыть — ни один ветер не будет попутным»
            </div>
            <div class="b-header__desc">
                Центр практической психологии
            </div>
        </div>
    </div>
    <!--navigation-->
    <div class="b-col__border-bottom-light nav_panel ">
        <div class="b-cnt b-nav_panel clearfix">
            <!--Desctop navigation-->
            <ul class="b-nav_panel__line_menu ">
                <li class="b-nav_panel__line_menu__item st-nav_panel__line_menu__item--selected">
                    <a href="/" class="b-nav_panel__line_menu__link">Главная</a>
                </li>
                <li class="b-nav_panel__line_menu__item">
                    <a href="/service.html" class="b-nav_panel__line_menu__link">Услуги</a>
                </li>
                <li class="b-nav_panel__line_menu__item">
                    <a href="/list_article.html" class="b-nav_panel__line_menu__link">Статьи</a>
                </li>
                <li class="b-nav_panel__line_menu__item">
                    <a href="" class="b-nav_panel__line_menu__link js-showmenu">Полезное <i class="ico-arrow-down">&#9660;</i></a>
                    <!--submenu-->
                    <ul class="b-nav_panel__line_menu__submenu">
                        <li class="b-nav_panel__line_menu__submenu__item st-nav_panel__line_menu__submenu__item--selected">
                            <a href="/audio.html" class="b-nav_panel__line_menu__submenu__item__linksub">Аудистатьи</a>
                        </li>
                        <li class="b-nav_panel__line_menu__submenu__item">
                            <a href="/video.html" class="b-nav_panel__line_menu__submenu__item__linksub">Видео</a>
                        </li>
                        <li class="b-nav_panel__line_menu__submenu__item">
                            <a href="" class="b-nav_panel__line_menu__submenu__item__linksub">Файлы</a>
                        </li>
                    </ul>
                    <!--end submenu-->
                </li>
                <li class="b-nav_panel__line_menu__item">
                    <a href="/about.html" class="b-nav_panel__line_menu__link">О нас</a>
                </li>
                <li class="b-nav_panel__line_menu__item">
                    <a href="/contact.html" class="b-nav_panel__line_menu__link">Контакты</a>
                </li>
            </ul>
            <form action="" name="search" class="b-search">
                <div class=" b-icon b-search__icon">&#xe85f</div>
                <input type="text" class="form-input_text form-input_text--short" name="search_query" value="" placeholder="поиск по сайту"/>
            </form>

            <!--Mobile navigation-->
            <div class="b-nav_panel__mobile_menu clearfix">
                <div class="b-nav_panel__mobile_menu__mainmenu ">
                    <a class="b-nav_panel__mobile_menu__link b-icon js-show_sidebar">&#xe804;</a>
                </div>
                <ul class="b-nav_panel__mobile_menu__shortlink">
                    <li class="b-nav_panel__mobile_menu__shortlink__item">
                        <a class="b-nav_panel__mobile_menu__link b-icon icon-home">&#xe800;</a>
                    </li>
                    <li class="b-nav_panel__mobile_menu__shortlink__item ">
                        <a class="b-nav_panel__mobile_menu__link b-icon">&#xe82d;</a>
                    </li>
                    <li class="b-nav_panel__mobile_menu__shortlink__item ">
                        <a class="b-nav_panel__mobile_menu__link b-icon js-show_contact_phone">&#xe805;</a>
                        <!--contact popup-->
                        <div class="b-contact_popup--position__icon_phone  animated">
                            <div class="b-contact_popup__romb"></div>
                            <ul class="b-contact_popup__cnt">
                                <li class="b-contact_popup__item">
                                    <a class="b-label js-open_window" data-window="appointment">Заказать звонок</a>
                                </li>
                                <li class="b-contact_popup__item">
                                    <div class="b-label">Написать нам</div>
                                    <div class="b-contact_popup__item__mail">info@symvol-psy.ru</div>
                                </li>
                                <li class="b-contact_popup__item">
                                    <div class="b-label">Viber/WhatSapp</div>
                                    <div class="b-contact_popup__item__phone">+7 (906) 479-73-63</div>
                                </li>
                                <li class="b-contact_popup__item">
                                    <div class="b-label">Позвоните нам</div>
                                    <div class="b-contact_popup__item__phone">+7 (906) 479-73-63</div>
                                    <b class="b-contact_popup__item__mode">Ежедневно с 9:00 до 20:00</b>
                                </li>
                            </ul>
                        </div>
                        <!--end contact popup-->
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>