.b-breadcrumbs{
    @include e('cnt') {
        padding: 1rem 0;
        display: none;
        margin-left: 2rem;
        padding-left: 1rem;


        @media only screen and (min-width: 736px) {
            padding-left: 0rem;
            display: block;
          //  width: 736px;
            //margin:0 auto;
        }

       /* @media only screen and (min-device-width: 768px) {
            padding-left: 0rem;
            width: 768px;
        }*/
        @media (orientation:landscape) and (min-device-height:1000px),
        all and (min-width:1000px) and (min-resolution: 2dppx){
            padding-left: 0rem;
            display: block;
            width: 960px;
            margin:0 auto;
        }
        @media only screen and (min-width: 961px) {
            padding-left: 0rem;
            display: block;
            width: 960px;
            margin:0 auto;
        }
    }
    @include e('item'){
        @include fsize(14);
        text-decoration: none;
        color: $color12;
        cursor: pointer;

        &:before{
            content: '\e83d'; //
            font-family: fontello;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            font-size: 1.6rem;
            text-decoration: inherit;
            width: 1em;
            text-align: center;
            text-transform: none;
            line-height: 1rem;
            margin: 0 1rem;
        }

        &:first-child:before{
            content: '';
            margin: 0rem;
        }

        &:visited{
            color: $color12;
        }
    }
}