.b-cnt_contact {
    .b-cnt_contact__cnt-wrap{


        @media only screen and (min-width: 736px) {
            //width: 736px;
            width: auto;
            margin: 0 auto;
        }
        @media (orientation:landscape) and (min-device-height:1000px),
        all and (min-width:1000px) and (min-resolution: 2dppx){
            width: 960px;
            margin: 0 auto;
            margin-bottom: 3rem;
        }
        @media only screen and (min-width: 960px) {
            width: 916px;
            margin: 0 auto;
            margin-bottom: 3rem;
        }
        @media only screen and (min-width: 961px) {
            width: 960px;
            margin: 0 auto;
            margin-bottom: 3rem;
        }
    }

    @include e('cnt') {
        text-align: center;
        position: relative;

        @media only screen and (min-width: 375px) {padding: 0 0.5rem;}
        @media only screen and (min-width: 480px) {padding: 0 2rem;}
        @media only screen and (min-width: 768px) {padding: 0rem;
            padding-top: 0.5rem;
        }

        @include e('contacts'){
            margin: 0rem auto ;
            width: 300px;
            text-align: left;

            @media only screen and (min-width: 375px) {
                //margin: 2rem auto ;
                width: 360px;
            }
            @media only screen and (min-width: 414px) {
                width: 400px;
            }

            @media only screen and (min-width: 480px) {
                //margin: 2rem auto ;
                width: 450px;
            }

            @media only screen and (min-width: 568px) {
                float: left;
                width: 568px;
                margin-bottom: 0;
            }
            @media only screen and (min-width: 667px) {
                float: left;
                width: 667px;
                margin-bottom: 0;
            }

            @media only screen and (min-width: 736px) {
                float: left;
                width: 730px;
                margin-bottom: 0;
            }

            @media only screen and (min-width: 768px) {
                float: none;
                width: auto;
                margin-bottom: 0;
                margin-left: 1.3rem;
            }
            @media (orientation:landscape) and (min-device-height:1000px),
            all and (min-width:1000px) and (min-resolution: 2dppx){
                margin: 0rem auto ;
                float: left;
                width: 350px;
            }
            @media only screen and (min-width: 960px) {
                margin: 0rem auto ;
                float: left;
                width: 350px;
            }

            @include e('title'){
                @include fsize(20);
                @extend .altBoldFont;
                padding-bottom: 1rem;
            }

            @include e('title2'){
                @include fsize(20);
                @extend .altBoldFont;
                padding-bottom: 1rem;
                text-align: center;


                @media only screen and (min-width: 768px) {
                    text-align: center;
                }
                @media (orientation:landscape) and (min-device-height:1000px),
                all and (min-width:1000px) and (min-resolution: 2dppx){
                    text-align: left;
                }
                @media only screen and (min-width: 960px) {
                    text-align: left;
                }
            }

            @include e('items'){

            }
            @include e('item'){
                @include fsize(14);
                @extend .altLightFont;
                color:$color0AA ;
                margin: 0rem 0 ;
                @media (orientation:landscape) and (min-device-height:1000px),
                all and (min-width:1000px) and (min-resolution: 2dppx){
                    margin: 1rem 0 ;
                }
                @media only screen and (min-width: 960px) {
                    margin: 1rem 0 ;
                }
            }
            @include e('icon'){
                color: $color6;
                position: relative;
                margin-top: 1rem;
                margin-right: 1.4rem;
            }
        }
        @include e('socials'){
            margin: 4rem 0 4rem 0px;
            text-align: center;

            @media only screen and (min--width: 753px) {
                text-align: center;
            }
            @media (orientation:landscape) and (min-device-height:1000px),
            all and (min-width:1000px) and (min-resolution: 2dppx){
                text-align: left;
            }
            @media only screen and (min-width: 960px) { text-align: left }

            @include e('title'){
                display: none;
                @media only screen and (min-width: 753px) {  display: none; }
                @media only screen and (min-width: 960px) { display: block;  }
            }

            @include e('items'){


            }
            @include e('item'){
                display: inline-block;
                position: relative;
                padding: 1rem;
                margin: 1rem;
                color: $color0A;
                @include fsize(20);

                &:first-child{
                    margin-left: 0rem;
                }

                &:last-child{
                    margin-right: 0rem;
                }

                &:visited{
                    color: $color0A;
                }


            }
        }
        @include e('form_feedback') {
            margin: 2rem auto ;
            width: 300px;
            text-align: left;

            @media only screen and (min-width: 480px) {
                width: 450px;
            }

            @media only screen and (min-width: 753px) {
                width: 450px;
            }
            @media (orientation:landscape) and (min-device-height:1000px),
            all and (min-width:1000px) and (min-resolution: 2dppx){
                width: 452px;
                float: right;
                margin: 0 ;
            }
            @media only screen and (min-width: 960px) {
                width: 452px;
                float: right;
                margin: 0 ;
            }

            @include e('form'){
                .form-label{
                    text-align: center;
                    @media only screen and (min-width:753px) {
                        text-align: center;
                    }
                    @media (orientation:landscape) and (min-device-height:1000px),
                    all and (min-width:1000px) and (min-resolution: 2dppx){
                        text-align: left
                    }
                    @media only screen and (min-width:960px) {
                        text-align: left
                    }
                }
                .form-label2{
                    @extend .form-label;
                    text-align: left;


                }
                .form-input_text--modi{

                    @media only screen and (min-width:480px) {
                        width: 420px;
                        height: 60px;
                    }

                    @media only screen and (min-width:753px) {
                        width: 430px;
                        height: 60px;
                    }
                    @media (orientation:landscape) and (min-device-height:1000px),
                    all and (min-width:1000px) and (min-resolution: 2dppx){
                        width: 300px;
                        height: 30px;
                    }
                    @media only screen and (min-width:960px) {
                        width: 300px;
                        height: 30px;
                    }
                }
                .feedback_message--modi{

                    @media only screen and (min-width:480px) {
                        width: 42rem;
                    }
                    @media only screen and (min-width:753px) {
                        width: 43rem;
                    }
                    @media (orientation:landscape) and (min-device-height:1000px),
                    all and (min-width:1000px) and (min-resolution: 2dppx){
                        width: 43rem;
                        height: 14.8rem;
                    }
                    @media only screen and (min-width:960px) {
                        width: 43rem;
                        height: 14.8rem;
                    }
                }
            }
            @include e('submit'){
                float: right;
                margin-top: -0.4rem;
                position: relative;
                padding: 1rem 1rem;

                @media only screen and (min-width: 480px) {
                    padding: 1rem 3rem;
                }
                @media only screen and (min-width:753px) {
                    padding: 1rem 3rem;
                }
            }
            @include e('code_input'){
                width: 6rem;
                height: 3rem;
                border: 1px solid $color1;
                color: $color1;
                padding: 0 1rem;
                @include fsize(14);
                @extend .altLightFont;
                float: left;
                margin-right: 1rem;
                @media only screen and (min-width: 480px) {
                    width: 10rem;
                }
                @media only screen and (min-width:753px) {
                    width: 10rem;
                    height: 3.2rem;
                }
                @media (orientation:landscape) and (min-device-height:1000px),
                all and (min-width:1000px) and (min-resolution: 2dppx){
                    width: 100px;
                    height: 32px;
                }
                @media only screen and (min-width:960px) {
                    width: 100px;
                    height: 32px;
                }
            }
            @include e('code'){
                width: 6rem;
                height: 3rem;
                border: 1px solid $color1;
                color: $color8;
                padding: 0 1rem;
                @include fsize(14);
                @extend .altLightFont;
                float: left;
                margin-right: 1rem;
                @media only screen and (min-width: 480px) {
                    margin-right: 2rem;
                    width: 10rem;
                }

                @media only screen and (min-width:753px) {
                    margin-right: 2rem;
                    width: 11rem;
                    height: 3.2rem;
                }
                @media (orientation:landscape) and (min-device-height:1000px),
                all and (min-width:1000px) and (min-resolution: 2dppx){
                    width: 100px;
                    height: 32px;
                }
                @media only screen and (min-width:960px) {
                    width: 100px;
                    height: 32px;
                }
            }
        }
        @include e('map'){
            min-width: 300px;
            min-height: 350px;
            margin-bottom: 3rem;
        }
    }
}