.b-cnt_psy_area{
    @include e('cnt') {
        background: url($asset-base-path + '/bg_line_big.jpg') repeat;
        min-height: 480px;
        text-align: center;
        padding: 0 0.5rem;
        padding-bottom: 2rem;

        @include e('block_schema') {
            position: relative;
            width: 307px;
            margin: 0 auto;
            min-height: 21rem;

            @media only screen and (min-width: 568px) {
                width: 363px;
                min-height: 28rem;
            }



            @media only screen and (min-width: 736px) {
                right: 0rem;
                //float: right;
                margin-top: 2rem;
                min-height: 28rem;
            }
            @media (orientation:landscape) and (min-device-height:1000px),
            all and (min-width:1000px) and (min-resolution: 2dppx){
                right: 23rem;
                float: right;
                margin-top: 2rem;
                min-height: 46rem;
            }
            @media only screen and (min-width: 960px) {
                right: 21rem;
                float: right;
                margin-top: 2rem;
                min-height: 46rem;
            }
            @media only screen and (min-width: 961px) {
                right: 23rem;
                float: right;
                margin-top: 2rem;
                min-height: 46rem;
            }

            @include e('bg') {
                position: absolute;
                width: 266px;
                height: 286px;
                background: url($asset-base-path + '/head_man.png') no-repeat center;
                background-size: cover;
                transition: all .5s;


                @media only screen and (min-width: 568px) {
                    margin: 0;
                    width: 250px;
                    height: 265px;
                }


                @media (orientation:landscape) and (min-device-height:1000px),
                all and (min-width:1000px) and (min-resolution: 2dppx){
                    margin: 0;
                    width: 356px;
                    height: 381px;
                    border: none;
                    left: 2rem;
                }
                @media only screen and (min-width: 960px) {
                    margin: 0;
                    width: 356px;
                    height: 381px;
                    border: none;
                    left: 2rem;

                }
                @media only screen and (max-width: 568px) {
                    margin: 0;
                    width: 163px;
                    height: 174px;

                }
            }
            @include e('item') {
                position: relative;
                @include fsize(14);
                padding: 0;
                margin: 0;
                line-height: 1;
                margin: 0 0 6px 0;
                cursor: pointer;

                @extend .altFont;
                font-weight: 600;
                color:$color7;

                &:hover{
                    color:$colorA5;
                }

                @media only screen and (min-width: 568px) {
                    margin: 0 0 14px 0;
                    @include fsize(16);
                    line-height: 1;
                }


                @media (orientation:landscape) and (min-device-height:1000px),
                all and (min-width:1000px) and (min-resolution: 2dppx){
                    margin: 0 0 23px;
                    @include fsize(20)
                }
                @media only screen and (min-width: 960px) {
                    margin: 0 0 23px;
                    @include fsize(20);
                }
            }

            @include e('wrap') {
                position: relative;
                margin: 0.2rem 0 0 168px;
                text-align: left;
                width: 13rem;

                @media only screen and (min-width: 568px) {
                    top: 4px;
                    margin: 0.6rem 0 0 260px;
                    //width: 18rem;
                }

                @media only screen and (min-width: 736px) {
                    left: 4rem;
                    margin: 0.6rem 0 0 220px;
                }
                @media (orientation:landscape) and (min-device-height:1000px),
                all and (min-width:1000px) and (min-resolution: 2dppx){
                    margin: 0.6rem 0 0 344px;
                    width: 18rem;
                }
                @media only screen and (min-width: 960px) {
                    margin: 0.6rem 0 0 344px;
                    width: 18rem;
                }
            }
        }
        @include e('desc') {
            position: relative;
            margin-top: -56px;

            @media only screen and (min-width: 736px) {
                float: left;
                margin:-40px  1rem 0 1rem;
            }
            @media (orientation:landscape) and (min-device-height:1000px),
            all and (min-width:1000px) and (min-resolution: 2dppx){
                float: left;
                width: 35rem;
                margin-left: 0rem;
                top: 3.8rem;
            }
            @media only screen and (min-width: 960px){
                float: left;
                width: 35rem;
                margin-left: 0rem;
                top: 3.8rem;
            }

            @include e('item') {
                display: none;
                background: $color0A;
                padding: 2.5rem;
                margin: 2rem 0 1rem 0;
            }
            @include e('title') {
                @include fsize(20);
                @extend .altFont;
                margin-bottom: 3rem;
                margin-top: 0.9rem;
                text-align: left;
                margin-left: 4.4rem;
                color:$colorA4;
            }
            @include e('controll') {
                position: relative;
                text-align: right;
                //width: 9rem;
                top: 79px;
                display: block;

                padding-right: 1rem;

                @media only screen and (max-width: 320px) {
                    top: 56px;
                }
                @media (orientation:landscape) and (min-device-height:1000px),
                all and (min-width:1000px) and (min-resolution: 2dppx){
                    display: none;
                }
                @media only screen and (min-width: 960px){
                    display: none;
                }

                @include m('left') {
                    @include fsize(33);
                    color:$color6;
                    display: inline-block;
                }
                @include m('right') {
                    @include fsize(33);
                    color:$color6;
                    display: inline-block;
                }
            }
            @include e('text') {
                @include fsize(16);
                @extend .altLightFont;
                line-height: 1.5;
                text-align: left;
            }
        }
    }
}
.ico_psy--bag{
    display: inline-block;
    position: relative;
    width: 36px;
    height: 32px;
    float: left;
    background: url($asset-base-path + '/ico_bag.png')  no-repeat;
}

.s-psy_area_desc_item--show{
    display: block;
}
.s-psy_area_desc_item--hide{
    display: none;
}
.s-psy_area_block_schema_item--selected{
    color: $colorA5;
    font-weight: bold;
}