.live_cicle_item_mobile{
    min-height: 7rem;
    text-align: left;
    @extend .altLightFont;
    @include fsize(16);
}

.live_cicle_item_desktop{
    position: absolute;
    text-align: left;
    min-height: 6rem;
    @extend .altLightFont;
    @include fsize(16);
}
.live_cicle_item_image{
    width: 90px;
    min-height: 90px;
    background-size: cover;
    transition: all .5s;
    float: left;
    margin: 0.8rem 1rem 0.5rem 0;
}
.live_cicle_item{
    margin: 0.5rem 0;
    margin-bottom: 3rem;

}

.b-cnt_live_cicle{
    @include e('cnt') {
        text-align: center;
        position: relative;
        padding: 0 0.5rem;

        @include e('mobile') {
            display: none;
            padding: 1rem 0rem;
            padding-bottom: 7rem;

            @media only screen and (min-width: 767px) {
                width:680px;
                padding: 1rem 2rem;
            }

            @media only screen and (max-width: 959px) {
                display: block;
            }

            @media (orientation:landscape) and (min-device-height:1000px),
            all and (min-width:1000px) and (min-resolution: 2dppx){
                display: none;
            }

            @include e('desc') {
                display: table;
                @extend .live_cicle_item_mobile;

                @include e('text') {
                    display: table-cell;
                    vertical-align: middle;
                    padding-top: 0.5rem;
                }
            }

            @include m('item1') {
                @extend .live_cicle_item;
                @include e('img') {
                    @extend .live_cicle_item_image;
                    background: url($asset-base-path + '/label_c_man.png') no-repeat center center;
                }
            }
            @include m('item2') {
                @extend .live_cicle_item;
                @include e('img') {
                    @extend .live_cicle_item_image;
                    background: url($asset-base-path + '/label_c_face.png') no-repeat center center;
                }
            }
            @include m('item3') {
                @extend .live_cicle_item;
                @include e('img') {
                    @extend .live_cicle_item_image;
                    background: url($asset-base-path + '/label_c_bomb.png') no-repeat center center;
                }
            }
            @include m('item4') {
                @extend .live_cicle_item;
                @include e('img') {
                    @extend .live_cicle_item_image;
                    background: url($asset-base-path + '/label_c_head.png') no-repeat center center;
                }
            }
            @include m('item5') {
                @extend .live_cicle_item;
                @include e('img') {
                    @extend .live_cicle_item_image;
                    background: url($asset-base-path + '/label_c_mixture.png') no-repeat center center;
                }
            }
            @include m('item_finish') {
                margin: 2rem 0 0rem 0 ;

                @extend .live_cicle_item;

                @include e('img') {
                    width: 134px;
                    min-height: 133px;
                    background-size: cover;
                    transition: all .5s;
                    position: relative;
                    margin: 1rem auto;
                    background: url($asset-base-path + '/label_c_door.png') no-repeat center center;
                }

                @include e('desc') {
                    text-align: center;
                    width: 30rem;
                    position: relative;
                    margin: 0 auto;

                    margin-top: 1rem;
                    margin-bottom: 2rem;
                    @extend .altFont;
                    @include fsize(16);

                }
                @include e('title') {
                    @extend .altBoldFont;
                    @include fsize(18);
                    padding-top: 1rem;
                }
            }
        }

        @include e('desktop') {
            padding: 1rem 0;
            display: none;

            @media (orientation:landscape) and (min-device-height:1000px),
            all and (min-width:1000px) and (min-resolution: 2dppx){
                display: block;
                padding: 1rem 0 5rem 0;
                min-height: 56rem;
            }
            @media only screen and (min-width: 960px) {
                display: block;
                padding: 1rem 0 5rem 0;
                min-height: 56rem;
            }

            @include e('bg') {
                display: inline-block;
                background: url($asset-base-path + '/label_c_all.png') no-repeat center center;

                background-size: cover;
                transition: all .5s;
                position: relative;


                @media (orientation:landscape) and (min-device-height:1000px),
                all and (min-width:1000px) and (min-resolution: 2dppx){
                    width: 503px;
                    height: 479px;
                }
                @media only screen and (min-width: 960px) {
                    width: 503px;
                    height: 479px;
                }

            }
            @include m('item1') {
                @extend .live_cicle_item_desktop;

                width: 30rem;
                @media (orientation:landscape) and (min-device-height:1000px),
                all and (min-width:1000px) and (min-resolution: 2dppx){
                    margin-left: 323px;
                    margin-top: -3px;
                }

                @media only screen and (min-width: 960px) {
                    margin-left: 323px;
                    margin-top: -3px;

                }
            }

            @include m('item2') {
                @extend .live_cicle_item_desktop;
                @media (orientation:landscape) and (min-device-height:1000px),
                all and (min-width:1000px) and (min-resolution: 2dppx){
                    margin-top: 133px;
                    margin-left: 512px;
                    width: 23rem;
                }
                @media only screen and (min-width: 960px) {
                    margin-top: 133px;
                    margin-left: 512px;
                    width: 23rem;
                }
            }

            @include m('item3') {
                @extend .live_cicle_item_desktop;

                @media (orientation:landscape) and (min-device-height:1000px),
                all and (min-width:1000px) and (min-resolution: 2dppx){
                    margin-top: 396px;
                    margin-left: 416px;
                    width: 26rem;
                }

                @media only screen and (min-width: 960px) {
                    margin-top: 396px;
                    margin-left: 416px;
                    width: 26rem;
                }
            }

            @include m('item4') {
                @extend .live_cicle_item_desktop;
                @media (orientation:landscape) and (min-device-height:1000px),
                all and (min-width:1000px) and (min-resolution: 2dppx){
                    margin-top: 450px;
                    margin-left: 162px;
                    width: 15rem;
                }

                @media only screen and (min-width: 960px) {
                    margin-top: 450px;
                    margin-left: 162px;
                    width: 15rem;
                }
            }

            @include m('item5') {
                @extend .live_cicle_item_desktop;

                @media (orientation:landscape) and (min-device-height:1000px),
                all and (min-width:1000px) and (min-resolution: 2dppx){
                    margin-top: 107px;
                    margin-left: -134px;
                    width: 23rem;
                }
                @media only screen and (min-width: 960px) {
                    margin-top: 107px;
                    margin-left: -134px;
                    width: 23rem;
                }
            }
            @include m('item_finish') {
                @extend .live_cicle_item_desktop;

                @media (orientation:landscape) and (min-device-height:1000px),
                all and (min-width:1000px) and (min-resolution: 2dppx){
                    margin-top: 364px;
                    margin-left: -162px;
                    width: 19rem;
                }
                @media only screen and (min-width: 960px) {
                    margin-top: 364px;
                    margin-left: -162px;
                    width: 19rem;
                }
            }

        }
    }
}
