
.b-cnt_basis_center{
    background: url($asset-base-path + '/bg_basis_center.jpg') repeat;
    min-height: 480px;

    @include e('cnt') {
        text-align: center;
        position: relative;
        padding: 0 0.5rem;


        @include e('mobile') {
            display: none;
            margin: 0 1rem;



            @media only screen and (max-width: 959px) {
                display: block;
            }
            @media (orientation:landscape) and (min-device-height:1000px),
            all and (min-width:1000px) and (min-resolution: 2dppx){
                display: none;
            }

            @include e('item'){
                margin-bottom: 3rem;
            }

            @include e('title'){
                @include fsize(18);
                @extend .altBoldFont;
                color: $colorA10;
                text-align: left;
                padding-bottom: 1rem;

            }
            @include e('img'){
                position: relative;
                margin-bottom: 1rem;
               // float: both;

                @media only screen and (min-width: 736px) {
                    float: left;
                    margin-right: 1.5rem;
                }
            }
            @include e('desc'){
                @include fsize(16);
                @extend .altLightFont;
                text-align: left;
            }
        }
        @include e('desktop') {
            display: none;

            background: url($asset-base-path + '/image_basis_center_full.png') no-repeat center center;
            width: 659px;
            height: 693px;
            background-size: cover;
            transition: all .5s;
            position: relative;
            margin: 15rem;

            @media (orientation:landscape) and (min-device-height:1000px),
            all and (min-width:1000px) and (min-resolution: 2dppx){
                display: inline-block;
                margin-top: 10rem;
            }
            @media only screen and (min-width: 960px) {
                display: inline-block;
                margin-top: 10rem;
            }

            @include e('title'){
                @include fsize(18);
                @extend .altBoldFont;
                color: $colorA10;
                text-align: left;
                padding-bottom: 1rem;
            }
            @include e('desc'){
                @include fsize(16);
                @extend .altLightFont;
                text-align: left;
            }

            .b-cnt_basis_center__cnt__desktop__item{
                width: 30rem;
                position: absolute;
            }

            @include e('item1'){
                @extend .b-cnt_basis_center__cnt__desktop__item;
                top: -70px;
                left: -150px;
            }
            @include e('item2'){
                @extend .b-cnt_basis_center__cnt__desktop__item;
                top: -97px;
                left: 180px;
            }
            @include e('item3'){
                @extend .b-cnt_basis_center__cnt__desktop__item;
                top: -28px;
                left: 488px;
            }
            @include e('item4'){
                @extend .b-cnt_basis_center__cnt__desktop__item;
                top: 483px;
                left: 488px;
            }
            @include e('item5'){
                @extend .b-cnt_basis_center__cnt__desktop__item;
                top: 599px;
                left: 163px;
            }
            @include e('item6'){
                @extend .b-cnt_basis_center__cnt__desktop__item;
                top: 482px;
                left: -149px;
            }
        }
    }
}