.b-cnt_individual_work{

    @include e('cnt') {
        background: url($asset-base-path + '/bg_area.jpg') no-repeat center center;
        min-height: 500px;
        background-size: cover;
        transition: all .5s;
        text-align: center;
        padding: 0 0.5rem;

        @media only screen and (max-width: 320px) {  }
        @media (orientation:landscape) and (min-device-height:1000px),
        all and (min-width:1000px) and (min-resolution: 2dppx){
            height: auto; min-height: 500px;
        }
        @media only screen and (min-width: 1200px) { height: auto; min-height: 500px;}

        @include e('image') {
            width: 13rem;
            height: 8rem;
            display: block;
            float: left;
            border:1px solid $color6;
            margin: 0.4rem 1rem 0.3rem 0;

            @media only screen and (min-width: 600px) {
                width: 18rem;
                height: auto;
            }
            @media (orientation:landscape) and (min-device-height:1000px),
            all and (min-width:1000px) and (min-resolution: 2dppx){
                width: 30rem;
                height: auto;
                float: none;
                margin: 0 0rem 0.9rem 0;
            }
            @media only screen and (min-width: 960px) {
                width: 30rem;
                height: auto;
                float: none;
                margin: 0 0rem 0.9rem 0;
            }
            @media only screen and (min-width: 961px) {
                width: 30rem;
                height: auto;
                float: none;
                margin: 0 0rem 0.9rem 0;
            }

        }

        @include e('block') {
            margin:0 0.5rem 2.5rem 0.5rem;
            display: inline-block;
            line-height: 1;
            vertical-align: top;
            //width: 25rem;
            text-align: left;

            @media only screen and (min-width: 600px) {

                margin-left: 3rem;
                margin-right: 3rem;
                min-height: 5rem;
            }

            @media (orientation:landscape) and (min-device-height:1000px),
            all and (min-width:1000px) and (min-resolution: 2dppx){
                width: 27rem;
                margin-left: 2.3rem;
                margin-right: 2.3rem;
                min-height: 5rem;
            }
            @media only screen and (min-width: 960px) {
                width: 25rem;
                margin-left: 2.3rem;
                margin-right: 2.3rem;
                min-height: 5rem;
            }
            @media only screen and (min-width: 961px) {
                width: 27rem;
                margin-left: 2.3rem;
                margin-right: 2.3rem;
                min-height: 5rem;
            }

            @include e('title') {
                color: $color7;
                @extend .altBoldFont;
                @include fsize(18);

                text-align: left;
                font-weight: bold;
                text-align: start;
                padding: 0.3rem 0rem 0rem 0rem;

                @media (orientation:landscape) and (min-device-height:1000px),
                all and (min-width:1000px) and (min-resolution: 2dppx){
                    min-height: 1rem;
                    text-align: left;
                }
                @media only screen and (min-width: 960px) {
                    min-height: 1rem;
                    text-align: left;
                }
                @media only screen and (min-width: 961px) {
                    min-height: 1rem;
                    text-align: left;
                }

            }
            @include e('desc'){
                text-align: left;
                font-weight: bold;
                @include fsize(16);
                padding: 0.5rem 0 1rem 0;
            }

        }
    }
}