.b-cnt_main_row{
    background: url($asset-base-path + '/sub_bg_cn.jpg') repeat-x top;
    //height: 426px;
    @media only screen and (max-width: 1200px) {  background:none; }

    @include e('cnt') {
        background: url($asset-base-path + '/bg_cn.jpg') no-repeat center center;
        height: 426px;
        background-size: cover;
        transition: all .5s;

        @media only screen and (max-width: 1024px) { height: 304px;}
        @media only screen and (max-width: 736px) { height: 304px;}
        @media only screen and (max-width: 667px) { height: 268px;}
        @media only screen and (max-width: 568px) { height: 223px;}
        @media only screen and (max-width: 480px) { height: 218px;}
        @media only screen and (max-width: 320px) { height: 192px; }
        @media only screen and (min-width: 1280px) { height: 370px;}
    }
    @include e('wraper_btn') {
        float: right;
        position: relative;
        text-align: right;
        width: 30.5rem;
        margin-top: 7rem;

        @media only screen and (min-width: 568px) {
            margin-top: 8rem;
        }
        @media only screen and (min-width: 667px) {
            margin-top: 10rem;
        }
        @media only screen and (min-width: 736px) {
            margin-top: 14rem;
        }

        @media only screen and (min-width: 960px) {
            margin-top: 19rem;
        }


        @media (orientation:landscape) and (min-device-height:1000px),
        all and (min-width:1000px) and (min-resolution: 2dppx) {
            margin-top: 15rem;
        }


    }
}


