.b-cnt_ask {

    @include e('icon') {
        position: relative;
        float: left;
        display: block;

        @media only screen and (min-width: 736px) {
            padding: 0.4rem;
        }
    }
    @include e('cnt') {
        text-align: center;
        position: relative;
        padding: 0 0.5rem;
        padding-bottom: 5rem;

        @include e('items'){
            margin-bottom: 2rem;


            @include e('item'){
                border-bottom: 1px dashed $color9;
                &:last-child {
                    border: none;
                }
            }
            @include e('title'){
                @include fsize(18);
                padding: 1.5rem 1rem;
                text-align: left;
                cursor: pointer;

                @media only screen and (min-width: 736px) {
                    @include fsize(22);
                }

                @include e('text'){
                    margin-left: 3rem;
                }
            }
            @include e('text'){
                display: none;
                @extend .altLightFont;
                @include fsize(16);
                text-align: left;
                margin-left: 4rem;
                padding: 0.5rem 0  2rem 0 ;
            }
        }

        @include e('footer') {
            margin: 1rem 0 ;
        }
    }

    @include e('wraper_btn') {
        width: 30rem;
        text-align: right;
        float: right;
        min-height: 10rem;

        @media only screen and (min-width: 736px) {
            width: 53rem;
            min-height: 2rem;
        }
    }
}

.s-cnt_ask__cnt__items__title--selected{
    color:$color6;
}
.s-cnt_ask__cnt__items__text--show{
    display: block;
}

.s-cnt_ask_slide_up{
    @extend .animated;
    @extend .slideInUp;
}
.s-cnt_ask_slide_down{
    @extend .animated;
    @extend .slideInDown;
}