.b-cnt_methods{
    @include e('cnt'){
        margin-bottom: 4rem;

        @include e('block'){
            @include fsize(16);
            @extend .altLightFont;
            padding-left: 1rem;

            p{
                @include fsize(16);
                line-height: 1.5;
            }

            @include e('img'){
               // float:left;
                //width: 12rem;
                margin: 0 1rem 1rem 0;

                @media only screen and (min-width: 480px) {
                    float:left;
                    width: 21rem;
                    margin: 0 1rem 0.5rem 0;
                }

                @media only screen and (min-width: 736px) {
                    float:left;
                    width: 36rem;
                    margin: 0 1rem 0.5rem 0;
                }
                @media (orientation:landscape) and (min-device-height:1000px),
                all and (min-width:1000px) and (min-resolution: 2dppx){
                    float:right;
                    width: 46rem;
                    margin: 0 0rem 1rem 1rem;
                }
                @media only screen and (min-width: 960px) {
                    float:right;
                    width: 46rem;
                    margin: 0 0rem 1rem 1rem;
                }

            }
        }
    }
}