.b-cnt_steps{
    @include e('cnt') {
        text-align: center;
        position: relative;
        padding: 0 0.5rem;
        padding-bottom: 5rem;

        @include e('order') {
            margin: 1rem 0;
        }
        @include e('mobile') {
            display: none;
            padding: 1rem 0;

            @media only screen and (max-width: 959px) {
                display: block;
            }

            @media (orientation:landscape) and (min-height:1000px),
            all and (min-width:1000px) and (min-resolution: 2dppx){
                display: none;
            }

            @include e('item') {
                width: 29.3rem;
                position: relative;
                margin: 0 auto;
                margin-bottom: 3rem;
                @media only screen and (min-width: 411px) {
                    width:35.5rem;
                }

                @media only screen and (min-width: 736px) {
                    width:49.3rem;
                }
            }
            @include e('title') {
                color:$colorA10;
                font-width: bold;
                text-align: left;
                margin-top: 0px;
                margin-bottom: 1rem;
                @include fsize(15);
                @extend .altFont;

            }
            @include e('wrap') {

                float: left;
                position:relative;
                width:15.5rem;
                padding: 0 0 0 0.9rem;

                @media only screen and (min-width: 411px) {
                    width:21.5rem;
                }

                @media only screen and (min-width: 736px) {
                    width:34.5rem;
                }
            }
            @include e('wrap1') {
                float: left;
                position:relative;
                display: block;
            }

            @include e('img') {
                border: 1px solid $color6;
                display: block;
                position: relative;
            }
            @include e('desc') {
                position: relative;
                margin: 1rem 0 0 0;
                @include fsize(14);
                @extend .altLightFont;
                font-weight: 400;
                text-align: left;
            }
            @include e('notation') {
                @include fsize(12);
                @extend .altFont;
                text-align: left;
                line-height: 1.4;
            }
            @include e('time') {
                font-style: italic;
                text-align: left;
                @include fsize(12);
                margin-top: 1rem;
            }
            .b-cnt_steps__cnt__mobile__time b{
                @include fsize(12);
            }

            @include e('arrow') {
                position:relative;
                width:3rem;
                padding-top: 3rem;
                @include fontsize(5.5);
                color:$color1
            }
        }
        @include e('desktop') {
            display: none;
            padding: 1rem 0 5rem 0;
            position: relative;
            margin: 0 auto;


            @media (orientation:landscape) and (min-device-height:1000px),
            all and (min-width:1000px) and (min-resolution: 2dppx){
                display: block;
            }

            @media only screen and (min-width: 960px) {
                display: block;
                width: 92rem;
            }

            @include e('item') {
                position:relative;
                width: 23rem;
                float: left;

                @media only screen and (min-width: 960px) {
                    width: 21rem;
                }
                @media only screen and (min-width: 961px) {
                    width: 22rem;
                }
            }

            @include e('title') {
                color:$colorA10;
                font-width: bold;
                margin-bottom: 1rem;
                @include fsize(20);
                @extend .altFont;
                line-height: 1.3;
            }
            @include e('img') {
                border: 1px solid $colorA7;
                width: 22rem;
                margin-bottom: 1rem;
            }

            @include e('desc') {
                position: relative;
                margin: 1.5rem 0 0 0;
                text-align: left;

                @include fsize(16);
                @extend .altLightFont;
            }
            @include e('notation') {
                @include fsize(16);
                @extend .altFont;
                line-height: 1.5;
                font-weight: 500;
                text-align: left;
            }
            @include e('time') {
                font-style: italic;
                @include fsize(16);
                text-align: left;
                line-height: 1.5
            }
            .b-cnt_steps__cnt__desktop__time b{
                @include fsize(16);
                line-height: 1.5
            }

            @include e('arrow') {
                position:relative;
                width:11rem;
                float: left;
                padding-top: 6rem;
                left: 1rem;
                @include fontsize(8.5);
                color:$color1
            }
        }
    }
}