.b-article_new{

    @media only screen and (min-width: 480px){
        padding: 0 0rem 0 1rem;
        margin-right: 1rem;
    }
    @media only screen and (min-width: 640px){
        width: 26rem;
        float: left;
        margin-right: 5rem;
    }
    @media (orientation:landscape) and (min-device-height:1000px),
    all and (min-width:1000px) and (min-resolution: 2dppx){
        float:none;
        padding: 0rem;
        width: 22rem;
    }
    @media only screen and (min-width: 960px){
        float:none;
        padding: 0rem;
        width: 22rem;
    }



    @include e('wrap'){
        @media only screen and (min-width: 640px){
            width: 640px;
            margin: 0 auto;
        }
        @media (orientation:landscape) and (min-device-height:1000px),
        all and (min-width:1000px) and (min-resolution: 2dppx){
            width: 262px;
            margin: 0;
        }
        @media only screen and (min-width: 960px){
            width: 233px;
            margin: 0;
        }
        @media only screen and (min-width: 961px){
            width: 262px;
            margin: 0;
        }


    }

    @include e('list'){
        padding-bottom: 2rem;

        @include e('item') {
            float: left;
            width: 29rem;
            padding-bottom: 1rem;

            @media only screen and (min-width: 480px){
                width: 25rem;
            }

            @media only screen and (min-width: 640px){
                width: 30rem;
            }
            @media (orientation:landscape) and (min-device-height:1000px),
            all and (min-width:1000px) and (min-resolution: 2dppx){
                width: 22rem;
            }
            @media only screen and (min-width: 960px){
                width: 22rem;
            }



            @include e('img'){
                width: 5rem;
                margin: 0 1rem 0.5rem 0;
                float: left;

                @media only screen and (min-width: 480px){
                    width: 8rem;
                }
            }
            @include e('body'){

                @include e('title'){
                    @extend .altFont;
                    @include fsize(13);
                    padding-bottom: 0.7rem;
                }
            }
        }
    }
}

.b-article_subscription{
    margin-bottom: 4rem;

    @media only screen and (min-width: 480px){
        padding: 0 0 0 1rem;
    }

    @media only screen and (min-width: 768px){
        padding: 0 0 0 0rem;
    }

    @media only screen and (min-width: 960px){padding: 0rem;}

    @include e('form_text'){
        height: 3.7rem;
        @include fsize(16);
        margin-bottom: 0.7rem;
        width: 13rem;
        float: left;
        margin-right: 1rem;

        @media only screen and (min-width: 480px){
            width: 24rem;
        }

        @media (orientation:landscape) and (min-device-height:1000px),
        all and (min-width:1000px) and (min-resolution: 2dppx){
            margin-bottom: 0.7rem;
            width: 20rem;
            float:none;
        }
        @media only screen and (min-width: 960px){
            margin-bottom: 0.7rem;
            width: 20rem;
            float:none;
        }
    }
    @include e('form_submit'){
        padding: 1rem 2.2rem;
        margin-left: 0px;
        top:-3px;
        position: relative;

        @media only screen and (min-width: 480px){
            padding: 1rem 4.2rem;
        }

        @media only screen and (min-width: 960px){
            padding: 1rem 6.2rem;
        }
    }
    .b-cnt__desc{
        padding-left: 0.2rem;
        margin-bottom: -2rem;
    }
}
.b-article_socialnet{

}
.b-article_preview{


    @media only screen and (min-width: 960px){
        width: 660px;
    }
    @media (orientation:landscape) and (min-device-height:1000px),
    all and (min-width:1000px) and (min-resolution: 2dppx){
        width: 670px
    }
    @media only screen and (min-width: 961px){
        width: 670px
    }

    @include e('text'){
        margin-bottom: 1rem;
        padding: 0rem;

        @media only screen and (min-width: 480px){
            //padding: 0 1rem
        }

        @media only screen and (min-width: 960px){
            padding: 0rem;
            width: 660px;
        }
        @media (orientation:landscape) and (min-device-height:1000px),
        all and (min-width:1000px) and (min-resolution: 2dppx){
            padding: 0rem;
            width: 687px;
        }
        @media only screen and (min-width: 961px){
            padding: 0rem;
            width: 687px;
        }

    }
    @include e('list'){
        padding-bottom: 4rem;


        @media only screen and (min-width: 960px){
            width: 660px;
        }
        @media (orientation:landscape) and (min-device-height:1000px),
        all and (min-width:1000px) and (min-resolution: 2dppx){
            //width: 687px;
        }
        @media only screen and (min-width: 961px){
            width: 687px;
        }


        @include e('item'){
           // border-bottom: 1px solid $color13;
            border-top: 1px solid $color13;
            padding: 3rem 0 2rem 0;

            &:last-child{
                border-bottom: 1px solid $color13;
            }

            @media only screen and (min-width: 768px){
                padding-left: 2rem;
            }

            @media (orientation:landscape) and (min-device-height:1000px),
            all and (min-width:1000px) and (min-resolution: 2dppx){
                padding-left: 0rem;
            }
            @media only screen and (min-width: 960px){
                padding-left: 0rem;
            }

            @include e('img'){
                position: relative;
                float: left;
                margin: 0 1rem 0.7rem 0;
                width: 13rem;
                border: 1px solid $color12;

                @media only screen and (min-width: 768px){
                    width: 18rem;
                    margin: 0 2.4rem 0.7rem 0;
                }

                @include m('no-border'){
                    position: relative;
                    float: left;
                    margin: 3px 1rem 0.7rem 0;
                    width: 14rem;
                    border: 1px solid #F7F5F5;

                    @media only screen and (min-width: 640px){
                        margin: -34px 3rem 0.7rem 0;
                        width: 19rem;
                    }

                }
            }

            @include e('body'){
                @include e('title'){
                    @extend .altBoldFont;
                    @include fsize(18);
                    padding-bottom: 1rem;
                    padding-left: 1.7rem;

                    @include m('blue'){
                        color: $color6;

                        @extend .altBoldFont;
                        @include fsize(18);
                        padding-bottom: 1rem;
                        text-align: left;

                        @media only screen and (min-width: 480px){
                            @include fsize(23);
                        }

                        @media only screen and (min-width: 640px){
                            @include fsize(25);
                            margin-left: 22rem;
                        }
                    }
                }

                @include e('text'){
                    padding-right: 1rem;
                    @media only screen and (min-width: 768px){
                        padding-right:2rem;
                    }

                    @media (orientation:landscape) and (min-device-height:1000px),
                    all and (min-width:1000px) and (min-resolution: 2dppx){
                        padding-right:0rem;
                    }
                    @media only screen and (min-width: 960px){
                        padding-right:0rem;
                    }
                }
                @include e('status'){
                    position: relative;
                    margin-top: -2rem;
                    position: relative;
                    float: left;
                    width: 100%;

                    @media only screen and (min-width: 627px){
                        width: auto;
                    }

                    @media only screen and (min-width: 627px){
                        float: right;
                    }
                    @include m('author') {

                        text-align: right;
                        padding-right: 1rem;
                        position: relative;
                        top: 2px;
                        margin-bottom: 1rem;
                        margin-left: 12rem;

                        @media only screen and (min-width: 480px){
                            float: left;
                            width: 20rem;
                            margin-left: 0;
                            text-align: left;
                        }


                        @include e('people') {
                            @include fsize(14);
                            @extend .baseLightFont;

                            &:before{
                                content: '\e86c'; //
                                font-family: fontello;
                                font-style: normal;
                                color: $color6;
                                font-weight: 400;
                                @include fsize(15);
                                text-decoration: inherit;
                                width: 1em;
                                text-align: center;
                                text-transform: none;
                                line-height: 1rem;
                                margin: 0 1rem;
                            }
                        }
                    }
                    @include m('star'){
                        width:13rem;
                        position: relative;
                        float: right;
                        color:$colorA0;


                        @media only screen and (min-width: 627px){
                            width:11rem;
                            margin-top: 3px;
                        }

                        i{
                            @media only screen and (min-width: 627px){
                                @include fsize(16);
                            }
                        }


                    }
                    @include m('looking'){
                        width: 6rem;
                        text-align: right;
                        padding-right: 1rem;
                        position: relative;
                        float: right;
                        top: 4px;

                        @media (orientation:landscape) and (min-device-height:1000px),
                        all and (min-width:1000px) and (min-resolution: 2dppx){
                            top: 0px;


                        }

                        @media only screen and (min-width: 960px){
                            top: 0px;
                            @-moz-document url-prefix() {
                                top: 3px;
                            }
                        }

                        @include e('count'){
                            @include fsize(15);
                            font-weight: bold;

                            &:before{
                                content: '\e860'; //
                                font-family: fontello;
                                font-style: normal;
                                font-weight: 400;
                                @include fsize(20);
                                text-decoration: inherit;
                                width: 1em;
                                text-align: center;
                                text-transform: none;
                                line-height: 1rem;
                                margin: 0 1rem;
                                top: 1px;
                                position: relative;
                            }
                        }

                        @include e('count_hphone'){
                            @include fsize(15);
                            font-weight: bold;

                            &:before{
                                content: '\e868'; //
                                font-family: fontello;
                                font-style: normal;
                                font-weight: 400;
                                @include fsize(20);
                                text-decoration: inherit;
                                width: 1em;

                                color: $color6;
                                text-align: center;
                                text-transform: none;
                                line-height: 1rem;
                                margin: 0 1rem;
                            }
                        }
                    }
                }
            }
        }

        @include e('controll'){
            text-align: center;
            padding-bottom: 6rem;
        }
    }

}
.b-article_status{
    width: 31rem;
    margin-bottom: 2rem;
    margin-left: 0.5rem;

    @media only screen and (min-width: 480px){
        width: 35rem;
    }
    @media only screen and (min-width: 640px){
        margin-left: 1.5rem;
    }

    @media only screen and (min-width: 768px){
        margin-left: 1.5rem;
    }
    @media (orientation:landscape) and (min-device-height:1000px),
    all and (min-width:1000px) and (min-resolution: 2dppx){
        margin-left: 0rem;
    }
    @media only screen and (min-width: 960px){
        margin-left: 0rem;
    }
}
.b-article_date{
    @include fsize(12);
    font-weight: bold;
    padding-bottom: 1rem;
    position: relative;
    top: 2px;
    width: 11rem;
    float: left;

    .b-icon{
        color:$color6;
        @include fsize(19);
        margin-right: 0.7rem;

    }
    @media only screen and (min-width: 480px){
        width: 15rem;
        float: left;
        @include fsize(16);
    }
}
.b-article_notation{
    @include fsize(16);
    @extend .baseLightFont;
    line-height: 1.6;
    color:$colorA11;
    position: relative;

    @media only screen and (min-width: 650px){
        left: 1.5rem;
    }
    @media (orientation:landscape) and (min-device-height:1000px),
    all and (min-width:1000px) and (min-resolution: 2dppx){
        left: 2rem;
    }
    @media only screen and (min-width: 960px){
        left: 2rem;
    }

}
.b-article-footer__author{
    width: 25rem;
    float: right;
}
.b-article-footer__author_label{
    @include fsize(20);
    padding-right: 1rem;
    color:$color6;
    margin: 0.8rem 0;
    text-align: right;
    margin-right: 1.5rem;
    &:before{
        content: "Автор";
        @include fsize(18);
        padding-right: 1rem;
        padding-left: .7rem;
        color:$color10;
    }
}
.b-article_print{
    float: left;
    @extend .altLightFont;
    @include fsize(16);
    color:$color6;
    margin: 0.8rem 0;
    width: 18rem;
    text-decoration: none;
    position: relative;
    margin-top: 6.5rem;
    ;
    &:visited{
        color:$color6;
    }
    i{
        @include fsize(23);
    }
    span{
        color:$color10;
    }

    @media only screen and (max-width: 760px){
        display: none;
    }
    @media only screen and (min-width: 768px){
        margin-left: 1.5rem;
    }
    @media (orientation:landscape) and (min-device-height:1000px),
    all and (min-width:1000px) and (min-resolution: 2dppx){
        margin-left: 0rem;
    }
    @media only screen and (min-width: 960px){
        margin-left: 0rem;
    }
}
.b-article_footer{
    margin-bottom: 2rem;

}
.b-article_status_footer{



    @media only screen and (min-width: 650px){
        margin: 2rem 0 5rem 0;
    }

    .b-article_preview__list__item__body__status--star{
        float: left;
        display: none;

        @media only screen and (min-width: 650px){
            display: block;
        }
    }


}
.b-article_status_footer__label{
    float: left;
    @include fsize(16);
    padding-right: 1rem;
    position: relative;
    top: 1px;
    margin-bottom: 1rem;
    display: none;

    @media only screen and (min-width: 650px){
        display: block;
    }

}
.b-article_help{
    @include fsize(12);
    @extend .altLightFont;
    color:$color12;
    float: right;
    display: none;
    @media (orientation:landscape) and (min-device-height:1000px),
    all and (min-width:1000px) and (min-resolution: 2dppx){
        display: block;
    }
    @media only screen and (min-width: 960px){
        display: block;
    }
}

.b-list{
    li{
        &:before{
            content: '\e821';
            color: #1faed8;
            font-family: fontello;
            font-style: normal;
            font-weight: 400;
            speak: none;
            @include fsize(16);
            text-decoration: inherit;
            width: 1em;
            margin-right: 0.5rem;
            text-align: center;
            font-variant: normal;
            text-transform: none;
            line-height: 1rem;

            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    }
}
.b-article_preview_player{
    position: relative;
    margin-top: 2rem;
    margin-bottom: 1rem;

    @media only screen and (min-width: 736px){
        float: right;
        margin-top: 1rem;
        margin-right: 1rem;
    }
    @media (orientation:landscape) and (min-device-height:1000px),
    all and (min-width:1000px) and (min-resolution: 2dppx){
        float: right;
        top:  10px;
        margin-top: unset;
        margin-right: 0rem;
    }
    @media only screen and (min-width: 960px){
        float: right;
        top:  10px;
        margin-top: unset;
        margin-right: -1rem;
    }
    @include e('title'){
        @include fsize(16);
        font-weight: bold;
        margin: 0 0 1rem 1rem;
    }
}

.b-article_audio_player{
    position: relative;

    margin: 0 1rem 0.7rem 0;

    @media only screen and (min-width: 736px){
        margin: 0 3rem 0.7rem 0;
        float: left;
    }

    @media (orientation:landscape) and (min-device-height:1000px),
    all and (min-width:1000px) and (min-resolution: 2dppx){
        margin: 0 1rem 0.7rem -2.5rem;
        float: left;
    }
}
.b-article_preview_wrap{
    float: left;
    position: relative;
    width: 310px;
   // left: 1rem;


    @media only screen and (min-width: 960px){
        width: 340px;
        left: 0rem;
    }
}
.b-video{

    margin:  0 2rem 2rem 0;

    @media only screen and (min-width: 736px){
        float: left;
    }

    @media only screen and (min-width: 960px){
        margin:  0 2rem 1rem 0;
        float: left;
    }

    @include e('src') {
        width: 306px;
        height: 193px;

        @media only screen and (min-width: 375px){
            width: 364px;
            height: 215px;
        }

        @media only screen and (min-width: 480px){
            /*width: 397px;
            height: 231px;*/
            width: 467px;
            height: 267px;
        }

        @media only screen and (min-width: 667px){
            width: 492px;
            height: 282px;
        }

        @media only screen and (min-width: 736px){
            width: 393px;
            height: 237px;
        }

        @media only screen and (min-width: 960px){
            width: 255px;
            height: 189px
        }
    }
}

.b-hist{
    border-bottom: 1px solid;
    border-top: 1px solid;
    position: relative;
    padding: 2rem 0 1.5rem 0;

   @include e('title') {
       @include fsize(14);
       text-transform:uppercase;
       position: absolute;
       left: 50%;
       transform: translate(-50%, -171%);
       background:$color0A;
       padding: 0 1rem;
       color:$color12;
    }
    @include e('cnt'){
        @include fsize(14);
        @extend .altFont;
        p{
            @include fsize(14);
            @extend .altFont;
        }
    }
}