.b-cnt_group_center{
    padding-bottom: 2rem;

    @include e('cnt') {
        text-align: left;
        position: relative;
        padding: 0 2rem;
        
        @include e('title'){
            @include fsize(27);
            font-weight: bold;
            padding-bottom: 1rem;
            padding-top: 1rem;
        }

        @include e('items'){
            @media (orientation:landscape) and (min-device-height:1000px),
            all and (min-width:1000px) and (min-resolution: 2dppx){
                margin-left: -2rem;
            }
            @media only screen and (min-width: 960px) {
                margin-left: -2rem;
            }

            @include e('item'){
                position: relative;
                margin: 2rem 0;

                @media (orientation:landscape) and (min-device-height:1000px),
                all and (min-width:1000px) and (min-resolution: 2dppx){
                    width: 450px;
                    float: left;
                    margin: 2rem;
                }
                @media only screen and (min-width: 960px) {
                    width: 430px;
                    float: left;
                    margin: 2rem;
                }
                @media only screen and (min-width: 961px) {
                    width: 450px;
                    float: left;
                    margin: 2rem;
                }

                @include e('title'){
                    color:$colorA10;
                    @include fsize(20);
                    @extend .altFont;
                    padding-bottom: 1rem;
                }
                @include e('desc'){
                    @include fsize(16);
                    @extend .altLightFont;
                    line-height: 1.4;
                }
                @include e('photo'){
                    width: 10rem;
                    float: left;
                    margin: 0 2rem 0rem 0;
                    @media (orientation:landscape) and (min-device-height:1000px),
                    all and (min-width:1000px) and (min-resolution: 2dppx){
                        width: 15rem;
                    }
                    @media only screen and (min-width: 960px) {
                        width: 15rem;
                    }
                }
            }
        }

    }
}