.c-label{
    height: 55px;
    width: 55px;
    display: inline-block;
    transition: all .5s;
    margin-bottom: 1.2rem;
    @media only screen and (min-width: 736px) {
        height: 40px;
        width: 40px;
        float: left;
        position: relative;
        margin: 0 1rem;
        top:0.9rem;
    }
    @media (orientation:landscape) and (min-device-height:1000px),
    all and (min-width:1000px) and (min-resolution: 2dppx){
        height: 40px;
        width: 40px;
        float: left;
        position: relative;
        margin: 0 0rem;
        top:0.9rem;
    }
    @media only screen and (min-width: 960px) {
        height: 40px;
        width: 40px;
        float: left;
        position: relative;
        margin: 0 1rem;
        top:0.9rem;
    }

}
.b-label-logo{
    background: url($asset-base-path + '/label_logo.png') no-repeat center;
    background-size: cover;
    @extend .c-label;
}

.b-label-target{
    background: url($asset-base-path + '/label_target.png') no-repeat center;
    background-size: cover;
    @extend .c-label;
}

.b-label-man{
    background: url($asset-base-path + '/label_man.png') no-repeat center;
    background-size: cover;
    @extend .c-label;
}

.b-cnt_about{
    @include e('cnt') {
        text-align: center;

        @include e('block') {
            margin:0 1rem 5rem 0.5rem;
            display: inline-block;
            line-height: 1;
            vertical-align: middle;
            max-width: 33rem;


            @include respond-to(phone-m3-landscape){
                width: 30rem;
            }
            @media only screen and (min-width: 600px) {
                width: 37rem;
                min-height: 32rem;
                margin-left: 2.5rem;
                margin-right: 2.5rem;
            }

            @media only screen and (min-width: 768px) {
                width: 50rem;
                min-height: 8rem;
                margin-left: 4.5rem;
                margin-right: 4.5rem;
                max-width: 55rem;
                margin-bottom: 4rem;

            }
            @media (orientation:landscape) and (min-device-height:1000px),
            all and (min-width:1000px) and (min-resolution: 2dppx){
                margin-left: 1.5rem;
                margin-right: 1.5rem;
                min-height: 36rem;
                width: 28rem;
            }
            @media only screen and (min-width: 960px){
                margin-left: 2rem;
                margin-right: 2rem;
                min-height: 36rem;
                width: 26rem;

                @-moz-document url-prefix() {
                    margin-left: 1rem;
                    margin-right: 2rem;
                    min-height: 36rem;
                    width: 28rem;
                }

            }

            @include e('title') {
                color: $color6;
                text-align: start;
                font-weight: 500;
                padding: 0rem 0rem 0.5rem 0rem;
                @extend .altBoldFont;
                @include fsize(18);
                line-height: 1.3;


                @media only screen and (min-width: 736px) {
                    min-height: 4rem;
                    text-align: left;
                    vertical-align: middle;
                    padding: 1.2rem 0rem 1rem 0rem;
                }
                @media (orientation:landscape) and (min-device-height:1000px),
                all and (min-width:1000px) and (min-resolution: 2dppx){
                    min-height: 4rem;
                    text-align: left;
                    padding: 0.7rem 0rem 1rem 5rem;
                }
                @media only screen and (min-width: 960px) {
                    min-height: 4rem;
                    text-align: left;
                    padding: 0.7rem 0rem 1rem 5rem;
                }
                @include respond-to(laptop){
                    min-height: 4rem;
                    text-align: left;
                    padding: 0.7rem 0rem 1rem 5rem;
                }
                @media only screen and (max-width: 320px) {  @include fsize(18); }
            }
            @include e('subtitle'){
                @extend .altFont;
                @include fsize(16);
                font-weight: 500;
                padding: 0.8rem 0;
                line-height: 1.6;
                text-align: left;

                @media only screen and (max-width: 320px) {  @include fsize(16); }
                @include respond-to(laptop){
                    margin-left: 1rem;
                }
            }

            @include e('desc'){
                text-align: left;
                @extend .altLightFont;
                @include fsize(14);

                @include respond-to(laptop){
                    margin-left: 1rem;
                }
            }
        }
    }
}
