.b-cnt_reviews {
    background: url($asset-base-path + '/bg_review.jpg') repeat;
   /// min-height: 450px;

        @include e('cnt') {
            text-align: center;
            position: relative;
            padding: 0 0.5rem;
            padding-bottom: 5rem;

            @include e('wrap'){
                position: relative;
            }

            @include e('items') {
                position: relative;
                @include e('controll_left') {
                    @include fsize(70);
                    color: $color6;
                    float: left;
                    position: absolute;
                    left: -24px;
                    top: 57px;
                    cursor: pointer;

                    @media only screen and (max-width: 960px) {
                        display: none;
                    }
                    @media only screen and (min-width: 736px) {
                        display: block;
                        left: 0px;
                    }
                }
                @include e('controll_right') {
                    @include fsize(70);
                    color: $color6;
                    position: absolute;
                    right: -36px;
                    top: 57px;
                    float: right;
                    cursor: pointer;

                    @media only screen and (max-width: 960px) {
                        display: none;
                    }

                    @media only screen and (min-width: 736px) {
                        display: block;
                        right: 0px;

                    }
                }
                @include e('controll_left_b') {
                    @include fsize(60);
                    color: $color6;
                    position: relative;
                    float: left;
                    @media only screen and (min-width: 736px) {display: none;}
                }
                @include e('controll_right_b') {
                    @include fsize(60);
                    color: $color6;
                    position: relative;
                    float: left;
                    @media only screen and (min-width: 736px) {display: none;}
                }
                @include e('logo') {
                    position: absolute;
                    background: url($asset-base-path + '/face.png') no-repeat;;
                    width: 38px;
                    height: 80px;
                    top: 0.6rem;
                    left: 9rem;

                    @media only screen and (max-width: 960px) {
                        display: none;
                    }

                }
            }

            @include e('item') {
                display: none;
                margin: 0 auto;
                margin-top: -10px;
                width:300px;

                @media only screen and (min-width: 480px) {
                    width:439px;
                }

                @media only screen and (min-width: 600px)  {
                    width:555px;
                }


                @media only screen and (min-width: 960px) {
                    width:613px;

                }

                @include e('cnt') {
                    @include fsize(18);
                    @extend .baseLightItalicFont;
                    text-align: left;
                    line-height: 1.5;
                    position: relative;
                    left: 0rem;

                    @media only screen and (min-width: 960px) {
                        left: 2.5rem;
                        @include fsize(16)
                    }
                }
                @include e('author') {
                    @include fsize(20);
                    @extend .altBoldFont;
                    float: right;
                    position: relative;
                    margin-top: 2rem;

                    left: 5rem;
                    @media only screen and (max-width: 960px) {
                        left: 0rem;
                    }
                }

                @include e('ico_comma'){
                    @include m('right'){
                        @include fsize(30);
                        color: $color6;
                        position: relative;
                        right: -78px;
                        margin-top: -10px;
                        float: right;
                        display: none;

                        @media only screen and (min-width: 960px) {
                            display: block;
                        }
                    }
                    @include m('left'){
                        @include fsize(30);
                        color: $color6;
                        float: left;

                        display: block;
                        position: relative;
                        margin-left: 2px;
                        top: -10px;

                        @media only screen and (min-width: 960px) {
                            position: absolute;
                            left: 146px;
                            top: 3px;
                        }
                    }
                }
            }

            .s-cnt_reviews_item--selected{
                display: block;
                @extend .animated;
            }

            .a-cnt_reviews_fade_right{
                @extend .fadeInRight;

                .b-cnt_reviews__cnt__item__ico_comma--left {
                    @media only screen and (min-width: 960px) {
                        left: -28px;
                    }
                }

            }
            .a-cnt_reviews_fade_left{
                @extend .fadeInLeft;

                .b-cnt_reviews__cnt__item__ico_comma--left {
                    @media only screen and (min-width: 960px) {
                        left: -28px;
                    }
                }
            }
    }
}