.b-mobile_scroll_up{
    @include e('item'){
        width: 42px;
        height: 40px;
        position: relative;
        margin: 0 auto;
        padding: 1rem 0 3rem 0;
        background: url($asset-base-path + '/arr_up.png') no-repeat center;
    }
    @media only screen and (min-width: 736px) { display: none }
}