.b-slide_article{
    position: relative;

    @include e('wrap'){
        position: relative;
        margin: 0rem 0 0 0;
    }
    @include e('cnt'){
       // border: 1px solid green;
        min-height: 20rem;
        position: relative;
        top: -7rem;
        display: block;
        margin: 0 auto;
        width: 22rem;
        margin-bottom: -7rem;


        @media only screen and (min-width: 480px){

            width: 45rem;
        }
        @media only screen and (min-width: 568px){
            width: 46rem;
        }

        @media only screen and (min-width: 667px){
            width: 53rem;
        }

        @media only screen and (min-width: 736px){
            width: 69.2rem;
        }
        @media (orientation:landscape) and (min-device-height:1000px),
        all and (min-width:1000px) {
            width: 56rem;
        }
        @media only screen and (min-width: 960px){
            width: 56rem;
        }
    }
    @include e('item'){
        width: 220px;
        min-height: 20rem;
        float:left;
        display: none;
        visibility:hidden;
        text-decoration: none;
        color: $color10;
        @extend .animated;

        &:visited{
            color: $color10;
        }

        @media only screen and (min-width: 320px) and (max-width: 480px){
            margin: 0 0.1rem;
            &:nth-child(-n+1) {
                display: block;
                visibility:visible;
            }
        }


        @media only screen and (min-width: 480px) and (max-width: 568px){
            margin: 0 0.1rem;
            &:nth-child(-n+2) {
                display: block;
                visibility:visible;
            }
        }

        @media only screen and (min-width: 568px) and (max-width: 667px){
            margin: 0 0.4rem;
            &:nth-child(-n+2) {
                display: block;
                visibility:visible;
            }
        }
        @media only screen and (min-width: 667px) and (max-width: 736px){
            margin: 0 2.1rem;
            &:nth-child(-n+2) {
                display: block;
                visibility:visible;
            }
        }

        @media only screen and (min-width: 736px) and (max-width: 960px) and (orientation:landscape){
            margin: 0 2.8rem;
            display: none;
            &:nth-child(-n+2) {
                display: block;
                visibility:visible;
            }
        }
        @media only screen and (min-width: 736px) and (max-width: 960px) and (orientation:portrait){
            margin: 0 0.42rem;
            &:nth-child(-n+3) {
                display: block;
                visibility:visible;
            }
        }
        @media (orientation:landscape) and (min-device-height:1000px),
        all and (min-width:1000px) and (min-resolution: 2dppx){
            margin: 0 2.8rem;
            display: none;
            &:nth-child(-n+2) {
                display: block;
                visibility:visible;
            }
        }
        @media only screen and (min-width: 960px){
            margin: 0 2.8rem;
            display: none;
            &:nth-child(-n+2) {
                display: block;
                visibility:visible;
            }
        }

        @include e('cnt') {
            @include e('title'){
                @include fsize(16);
                font-weight: bold;
                @extend .altBoldFont;
                margin: 2rem 0;

            }
            @include e('text'){
                @include fsize(14);
                @extend .altLightFont;

            }
        }

    }
    .s-slide_article__item--show{
        display: block;
        visibility:visible;
    }

    .b-slide_article__controll{
        @include fsize(70);
        color: $color6;
        cursor: pointer;
        margin: 0;
        top: 8rem;
        z-index: 1000;
    }

    @include e('controll_left') {

        @extend .b-slide_article__controll;
        position: relative;
        float: left;
        text-align: left;
    }
    @include e('controll_right') {

        @extend .b-slide_article__controll;
        position: relative;
        float: right;
        text-align: right;
    }

}