<!-- include "./partials/_header.html" -->
<div class="b-wrapper ">
    <!-- include "./partials/header.html" --> 
    <!--content-->
    <div class="b-row b-breadcrumbs">
        <div class="b-cnt b-breadcrumbs__cnt">
            <a href="" class="b-breadcrumbs__item">Главная</a>
            <a href="" class="b-breadcrumbs__item">О нас</a>
        </div>
    </div>
    <div class="b-row b-cnt_text">
        <div class="b-cnt b-cnt_text__cnt">
            <div class="b-cnt__title2  clearfix">
                <h2 class="b-cnt__title__title2 ">О нас</h2>
                <span class="b-cnt__title__notation"></span>
            </div>
            <div class="b-cnt__desc">
                <p>
                    Родился 8 июля 1975 года в Казани. В 1996 году окончил Казанский финансово-экономический институт.
                    Имеет большой опыт работы в ранге топ-менеджера. Родился 8 июля 1975 года в Казани.
                    В 1996 году окончил Казанский финансово-экономический институт.
                    Имеет большой опыт работы в ранге топ-менеджера.

                </p>
                <br/>
                <p>
                    Родился 8 июля 1975 года в Казани. В 1996 году окончил Казанский финансово-экономический институт.
                    Имеет большой опыт работы в ранге топ-менеджера. Родился 8 июля 1975 года в Казани.
                    В 1996 году окончил Казанский финансово-экономический институт.
                    Имеет большой опыт работы в ранге топ-менеджера.
                </p>
            </div>
        </div>
    </div>
    <div class="b-row b-cnt_group_center">
        <div class="b-cnt b-cnt_group_center__cnt clearfix">
            <h1 class="b-cnt_group_center__cnt__title">Команда Центра:</h1>
            <div class="b-cnt_group_center__cnt__items clearfix">
                <div class="b-cnt_group_center__cnt__items__item clearfix">
                    <img src="assets/photo_ivan.jpg" class="b-cnt_group_center__cnt__items__item__photo" alt=""/>
                    <div class="b-cnt_group_center__cnt__items__item__title">
                        Иван Иванов
                    </div>
                    <div class="b-cnt_group_center__cnt__items__item__desc">
                        Родился 8 июля 1975 года в Казани.
                        В 1996 году окончил Казанский финансово- экономический институт.
                        Имеет большой опыт работы в ранге топ-менеджера
                    </div>
                </div>
                <div class="b-cnt_group_center__cnt__items__item clearfix">
                    <img src="assets/photo_ivan.jpg" class="b-cnt_group_center__cnt__items__item__photo" alt=""/>
                    <div class="b-cnt_group_center__cnt__items__item__title">
                        Иван Иванов
                    </div>

                    <div class="b-cnt_group_center__cnt__items__item__desc">
                        Родился 8 июля 1975 года в Казани.
                        В 1996 году окончил Казанский финансово- экономический институт.
                        Имеет большой опыт работы в ранге топ-менеджера
                    </div>
                </div>
                <div class="b-cnt_group_center__cnt__items__item clearfix">
                    <img src="assets/photo_ivan.jpg" class="b-cnt_group_center__cnt__items__item__photo" alt=""/>
                    <div class="b-cnt_group_center__cnt__items__item__title">
                        Иван Иванов
                    </div>

                    <div class="b-cnt_group_center__cnt__items__item__desc">
                        Родился 8 июля 1975 года в Казани.
                        В 1996 году окончил Казанский финансово- экономический институт.
                        Имеет большой опыт работы в ранге топ-менеджера
                    </div>
                </div>
                <div class="b-cnt_group_center__cnt__items__item clearfix">
                    <img src="assets/photo_ivan.jpg" class="b-cnt_group_center__cnt__items__item__photo" alt=""/>
                    <div class="b-cnt_group_center__cnt__items__item__title">
                        Иван Иванов
                    </div>

                    <div class="b-cnt_group_center__cnt__items__item__desc">
                        Родился 8 июля 1975 года в Казани.
                        В 1996 году окончил Казанский финансово- экономический институт.
                        Имеет большой опыт работы в ранге топ-менеджера
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="b-row b-cnt_basis_center ">
        <div class="b-cnt b-cnt_basis_center__cnt clearfix ">
            <div class="b-cnt__title2  clearfix">
                <h2 class="b-cnt__title__title ">Основные принципы центра</h2>
                <span class="b-cnt__title__notation"></span>
            </div>
            <div class="b-cnt_basis_center__cnt__mobile ">
                <div class="b-cnt_basis_center__cnt__mobile__item clearfix">
                    <img src="assets/image_basis_center_sprout.png" alt="" class="b-cnt_basis_center__cnt__mobile__img"/>
                    <div class="b-cnt_basis_center__cnt__mobile__title">
                        «Меняя себя, не изменять себе»
                    </div>
                    <div class="b-cnt_basis_center__cnt__desktop__desc">
                        Наши специалисты достаточно компетентны,
                        чтобы помочь клиенту отличить его цели от навязанных внешними влиянием.
                    </div>
                </div>
                <div class="b-cnt_basis_center__cnt__mobile__item clearfix">
                    <img src="assets/image_basis_center_head.png" alt="" class="b-cnt_basis_center__cnt__mobile__img"/>
                    <div class="b-cnt_basis_center__cnt__mobile__title">
                        «Быть, а не казаться»
                    </div>
                    <div class="b-cnt_basis_center__cnt__mobile__desc">
                        Долгие разговоры о проблемах клиента и попытки научить клиента «наконец-то полюбить себя»,
                        на наш взгляд, неэффективны.
                        Мы говорим о проблемах только на первой сессии,
                        дабы точно определить направления дальнейшей работы,
                        или же привести клиента к решению на первой же сессии.
                    </div>
                </div>
                <div class="b-cnt_basis_center__cnt__mobile__item clearfix">
                    <img src="assets/image_basis_center_notepad.png" alt="" class="b-cnt_basis_center__cnt__mobile__img"/>
                    <div class="b-cnt_basis_center__cnt__mobile__title">
                        «Клиент участвует!»
                    </div>
                    <div class="b-cnt_basis_center__cnt__mobile__desc">
                        Мы даем домашние задания, которые позволяют клиенту экономить деньги,
                        самостоятельно работая над собой дома. Это важный фактор,
                        который подталкивает клиента к осознанию своей личной ответственности за результат.
                    </div>
                </div>
                <div class="b-cnt_basis_center__cnt__mobile__item clearfix">
                    <img src="assets/image_basis_center_clock.png" alt="" class="b-cnt_basis_center__cnt__mobile__img"/>
                    <div class="b-cnt_basis_center__cnt__mobile__title">
                        «Краткосрочность – это честно»
                    </div>
                    <div class="b-cnt_basis_center__cnt__mobile__desc">
                        Следуя принципам психотерапии новой волны,
                        на первых этапах мы можем предварительно говорить о сроках,
                        за которые клиент сможет обрести желаемые зменения.
                        Когда клиент понимает, что психотерапия – это не бесконечный процесс,
                        он куда с большим рвением погружается в работу.
                    </div>
                </div>
                <div class="b-cnt_basis_center__cnt__mobile__item clearfix">
                    <img src="assets/image_basis_center_ship.png" alt="" class="b-cnt_basis_center__cnt__mobile__img"/>
                    <div class="b-cnt_basis_center__cnt__mobile__title">
                        «Кораблю, который не знает куда плыть – ни один ветер не будет попутным»
                    </div>
                    <div class="b-cnt_basis_center__cnt__mobile__desc">
                        Первым делом мы выясняем, что клиент хотел бы обрести вместо своих проблем.
                        То есть, как он представляет свою новую жизнь.
                    </div>
                </div>
                <div class="b-cnt_basis_center__cnt__mobile__item clearfix">
                    <img src="assets/image_basis_center_hourglass.png" alt="" class="b-cnt_basis_center__cnt__mobile__img"/>
                    <div class="b-cnt_basis_center__cnt__mobile__title">
                        «Золотая середина»
                    </div>
                    <div class="b-cnt_basis_center__cnt__mobile__desc">
                        Благополучие – есть баланс счастливости и успешности.
                    </div>
                </div>
            </div>
            <div class="b-cnt_basis_center__cnt__desktop ">
                <div class="b-cnt_basis_center__cnt__desktop__item1">
                    <div class="b-cnt_basis_center__cnt__desktop__title">
                        «Кораблю, который не знает куда плыть – ни один ветер не будет попутным»
                    </div>
                    <div class="b-cnt_basis_center__cnt__desktop__desc">
                        Первым делом мы выясняем, что клиент хотел бы обрести вместо своих проблем.
                        То есть, как он представляет свою новую жизнь.
                    </div>
                </div>
                <div class="b-cnt_basis_center__cnt__desktop__item2">
                    <div class="b-cnt_basis_center__cnt__desktop__title">
                        «Золотая середина»
                    </div>
                    <div class="b-cnt_basis_center__cnt__desktop__desc">
                        Благополучие – есть баланс счастливости и успешности.
                    </div>
                </div>
                <div class="b-cnt_basis_center__cnt__desktop__item3">
                    <div class="b-cnt_basis_center__cnt__desktop__title">
                        «Меняя себя, не изменять себе»
                    </div>
                    <div class="b-cnt_basis_center__cnt__desktop__desc">
                        Наши специалисты достаточно компетентны,
                        чтобы помочь клиенту отличить его цели от навязанных внешними влиянием.
                    </div>
                </div>
                <div class="b-cnt_basis_center__cnt__desktop__item4">
                    <div class="b-cnt_basis_center__cnt__desktop__title">
                        «Быть, а не казаться»
                    </div>
                    <div class="b-cnt_basis_center__cnt__desktop__desc">
                        Долгие разговоры о проблемах клиента и попытки научить клиента «наконец-то полюбить себя»,
                        на наш взгляд, неэффективны.
                        Мы говорим о проблемах только на первой сессии,
                        дабы точно определить направления дальнейшей работы,
                        или же привести клиента к решению на первой же сессии.
                    </div>
                </div>
                <div class="b-cnt_basis_center__cnt__desktop__item5">
                    <div class="b-cnt_basis_center__cnt__desktop__title">
                        «Клиент участвует!»
                    </div>
                    <div class="b-cnt_basis_center__cnt__desktop__desc">
                        Мы даем домашние задания, которые позволяют клиенту экономить деньги,
                        самостоятельно работая над собой дома. Это важный фактор,
                        который подталкивает клиента к осознанию своей личной ответственности за результат.
                    </div>
                </div>
                <div class="b-cnt_basis_center__cnt__desktop__item6">
                    <div class="b-cnt_basis_center__cnt__desktop__title">
                        «Краткосрочность – это честно»
                    </div>
                    <div class="b-cnt_basis_center__cnt__desktop__desc">
                        Следуя принципам психотерапии новой волны,
                        на первых этапах мы можем предварительно говорить о сроках,
                        за которые клиент сможет обрести желаемые зменения.
                        Когда клиент понимает, что психотерапия – это не бесконечный процесс,
                        он куда с большим рвением погружается в работу.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="b-row b-cnt_methods">
        <div class="b-cnt b-cnt_methods__cnt">
            <div class="b-cnt__title  clearfix">
                <h2 class="b-cnt__title__title ">Наши методы работы</h2>
                <span class="b-cnt__title__notation"></span>
            </div>
            <div class="b-cnt_methods__cnt__block">
                <img src="assets/photo_bman.jpg" alt="" class="b-cnt_methods__cnt__block__img"/>
               <p>
                   На сегодняшний день методы работы с бессознательным человека становятся все более эффективными и глубокими, однако они все еще остаются разобщенными и ориентированы только на конкретную область запросов или конкретную социальную группу людей.
               </p>
                <br/>
               <p>
                   В силу четко зафиксированной парадигмы многие методы направлены на решение проблем какой-то одной области жизни человека , например, исключительно в области счастливости или только лишь в успешности. Часто это семья, любовь, секс или же исключительно карьера, бизнес, деньги.
               </p>
                <br/>
               <p>
                   В итоге получается, что человек постоянно лишается целостности в современном быстро меняющемся мире. Где, как известно, для того, чтобы стоять – нужно идти, а для того, чтобы прийти куда то, нужно бежать очень быстро..
               </p>
                <br/>
               <p>
                   Но для гармоничной, полноценной жизни любому человеку необходимо как счастье так и успешность – это как колесо и само вращение. Без такого баланса получается это – как шикарный комфортабельный автомобиль, ржавеющий годами в гараже из-за желания хозяина сохранить его новеньким.
               </p>
                <br/>
                <p>
                    Счастливость и успешность – это две стороны одной медали как день-ночь, хорошо это изображает всем нам известный символ «Инь-Ян».
                </p>
                <br/>
                <p>
                    Мы интегрируем наиболее эффективные и глубокие методы консультирования и психотерапии,
                    такие как:
                </p>
                <br/>

                <ul class="b-cnt__list">
                    <li class="b-cnt__list__item">
                        <i class="b-icon">&#xe821</i>
                        Интегральное нейропрограммирование (автор проф. Ковалев С.В.),
                    </li>
                    <li class="b-cnt__list__item">
                        <i class="b-icon">&#xe821</i>
                        Психология субличностей «Voice dialogues»(авторы: Х.Стоун, С.Стоун)
                    </li>
                    <li class="b-cnt__list__item">
                        <i class="b-icon">&#xe821</i>
                        А также транзактный анализ, системные расстановки, nlp-t, гештальт-терапия, символдрама.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="b-row b-cnt_reviews ">
        <div class="b-cnt b-cnt_reviews__cnt">
            <div class="b-cnt__title  clearfix">
                <h2 class="b-cnt__title__title ">Отзывы</h2>
                    <span class="b-cnt__title__notation"></span>
            </div>
            <div class="b-cnt_reviews__cnt__body">
                <div class="b-cnt_reviews__cnt__items clearfix">
                    <div class="b-cnt_reviews__cnt__wrap">
                        <div class="b-icon b-cnt_reviews__cnt__items__controll_left js-prev_reviews">&#xe828;</div>
                        <div class="b-icon b-cnt_reviews__cnt__items__controll_right js-next_reviews">&#xe829;</div>
                        <div class="b-cnt_reviews__cnt__items__logo"></div>
                    </div>
                    <div class="b-cnt_reviews__cnt__item  clearfix s-cnt_reviews_item--selected " data-id="1">
                        <i class="b-icon b-cnt_reviews__cnt__item__ico_comma--left">&#xe818;</i>
                        <br clear="all">
                        <div class="b-cnt_reviews__cnt__item__cnt ">
                            Какое огромное счастье и огромная свобода, когда ЭГО прекращает мешать жить,
                            когда вдруг чувствуешь, что никакие реакции человека не препятствуют выражению своих истинных
                            чувств к нему, когда ты наконец можешь точно узнать, какие же чувства лежат в основе твоего
                            общения...
                            Большая благодарность Денису за его ум, тонкость чувствования клиента,
                            глубоко сердечное отношение к миру, профессиональное мастерство и точность,
                            а также умение ясно видеть правду. Я начинаю жить!
                        </div>
                        <i class="b-icon b-cnt_reviews__cnt__item__ico_comma--right">&#xe819;</i>
                        <br clear="all">
                        <div class="b-cnt_reviews__cnt__item__author">— Иван Иванов</div>
                    </div>
                    <div class="b-cnt_reviews__cnt__item  clearfix " data-id="2">
                        <i class="b-icon b-cnt_reviews__cnt__item__ico_comma--left">&#xe818;</i>
                        <br clear="all">
                        <div class="b-cnt_reviews__cnt__item__cnt ">
                            Какое огромное счастье и огромная свобода, когда ЭГО прекращает мешать жить,
                            когда вдруг чувствуешь, что никакие реакции человека не препятствуют выражению своих истинных
                            чувств к нему, когда ты наконец можешь точно узнать, какие же чувства лежат в основе твоего
                            общения...

                        </div>
                        <i class="b-icon b-cnt_reviews__cnt__item__ico_comma--right">&#xe819;</i>
                        <br clear="all">
                        <div class="b-cnt_reviews__cnt__item__author">— Иван Иванов</div>
                    </div>
                    <div class="b-icon  b-cnt_reviews__cnt__items__controll_left_b js-prev_reviews">&#xe80d;</div>
                    <div class="b-icon b-cnt_reviews__cnt__items__controll_right_b js-next_reviews">&#xe80e;</div>

                </div>
            </div>
        </div>
    </div>
    <div class="b-row b-mobile_scroll_up">
        <div class="b-cnt">
            <div class="b-mobile_scroll_up__item js-scroll_up"></div>
        </div>
    </div>
</div>
<!-- include "./partials/footer.html" -->
<!-- include "./partials/_footer.html" -->