<!-- include "./partials/_header.html" -->
<div class="b-wrapper">
    <!-- include "./partials/header.html" -->
    <!--content-->
    <div class="b-row b-breadcrumbs">
        <div class="b-cnt b-breadcrumbs__cnt">
            <a href="" class="b-breadcrumbs__item">Главная</a>
            <a href="" class="b-breadcrumbs__item">Статья</a>
        </div>

    </div>

    <div class="b-row ">
        <div class="b-cnt  clearfix  ">
            <div class="b-col_left ">
                <div class="b-article_preview ">
                    <div class="b-article_preview__text">
                         <div class="player b-article_preview_player clearfix ">
                            <div class="b-article_preview_player__title">Прослушать статью:</div>
                            <audio src="assets/2.mp3" preload="auto"  sizefile="3.9 Mb" />
                        </div>
                        <div class="b-article_preview_wrap  clearfix">
                            <h2 class="b-cnt__atitle">Сценарии жизни</h2>
                            <div class="b-article_status clearfix">
                                <div class="b-article_date"><i class="b-icon">&#xe861;</i>7 августа 2015</div>
                                <div class=" b-article_preview__list__item__body__status--star">
                                    <i class="b-icon" data-starid="1">&#xe85c;</i>
                                    <i class="b-icon" data-starid="2">&#xe85c;</i>
                                    <i class="b-icon" data-starid="3">&#xe85c;</i>
                                    <i class="b-icon" data-starid="4">&#xe85d;</i>
                                    <i class="b-icon" data-starid="5">&#xe85b;</i>
                                </div>
                                <div class="b-article_preview__list__item__body__status--looking">
                                    <span class="b-article_preview__list__item__body__status--looking__count">11</span>
                                </div>
                            </div>
                            <i class="b-article_notation">
                                “При написании ребенком драмы своей жизни
                                финальная сцена является неотъемлемой
                                частью его сценария.”
                            </i>
                        </div>


                        <br clear="all"/>
                        <br/>
                        <br/>
                        <div class="b-cnt__desc">
                            <p>
                                В детстве каждый из нас пишет свой собственный сценарий жизни. Основной сюжет мы пишем в раннем детстве до того, как научились говорить, а к четырем годам определеям основные моменты его содержания. Позднее мы лишь добавляем детали к нашему сценарию. Примерно к семи годам сценарий в основном написан,
                                а в юношеском в озрасте мы можем в него добавить некоторые детали. Позднее мы лишь добавляем детали к нашему сценарию.
                            </p>
                            <br/>
                            <p>
                                Примерно к семи годам сценарий в основном написан, а в юношеском возрасте мы можем в него добавить некоторые деталиПозднее мы лишь добавляем детали к нашему сценарию. Примерно к семи годам сценарий в основном написан, а в юношеском возрасте мы можем в него добавить некоторые детали.

                            </p>
                            <br/>

                            <img src="assets/art1.jpg" alt="" class="imgfull"/>
                            <!---->

                            <p>
                                Будучи взрослыми, мы обычно не осознаем, что написали для себя сценарий жизни. Тем не менее в точности ему следуем, двигаясь к  финальной сцене, которую определили в детстве. Такой неосознаваемый человеком план жизни известен в как сценарий жизнедеятельности.
                            </p>
                            <br/>
                            <p>
                                Как и любая история, сценарий жизни имеет начало, середину и конец. В нем присутствуют герои, героини, злодеи и второстепенные персонажи так же, как основная тема и отдельные сюжетные линии.Сценарий жизни может быть комичным или трагичным; интересным и скучным; вдохновляющим и позорным.

                            </p>
                            <br/>
                            <img src="assets/art4.jpg" alt="" class="img320right"/>
                            <ul class="b-list">
                                <li class="b-cnt__list__item">

                                    <b>Cписок первый</b>
                                </li>
                                <li class="b-cnt__list__item">
                                    <b>Cписок первый</b>
                                </li>
                                <li class="b-cnt__list__item">
                                    <b>Cписок первый</b>
                                </li>
                                <li class="b-cnt__list__item">
                                    <b>Cписок первый </b>
                                </li>
                            </ul>

                            <br/>

                            <p>
                                Впервые  теория сценария была разработана Эриком Берном и его коллегами, особенно Клодом Стайнером, в середине 60-х годов. С тех пор многие авторы внесли в нее свои оригинальные идеи, а концепция сценария стала одной из важных частей теории Транзактного анализа
                            </p>
                            <br clear="all"/>

                            <br/>
                            <blockquote>
                                Расплата за сценарий: Сценарий ведет к расплате (финалу).
                                При написании ребенком драмы своей жизни финальная сцена является неотъемлемой
                                частью его сценария. Таким образом, другие составные части сценария,
                                начиная с первой сцены, служат для того, чтобы привести сценарий к этой
                                заключительной сцене. Эта заключительная сцена получила название расплаты за
                                сценарий. Теория говорит о том, что при проигрывании нами сценария мы
                                бессознательно избираем поведения, которые приблизят нас к расплате,
                                тщательно отбираем людей, которые могут нам помочь реализовать наш сценарий,
                                живем именно в тех условиях, где удобнее следовать этому плану.
                            </blockquote>
                            <br/>

                           <!-- <img src="assets/art4.jpg" alt="" class="img320left"/>-->
                            <p>
                                Расплата за сценарий: Сценарий ведет к расплате (финалу). Пр и написании ребенком драмы своей жизни финальная сцена является неотъемлемой частью его сценария. Таким образом, другие составные части сценария, начиная с первой сцены, служат для того, чтобы привести сценарий к этой заключительной сцене. Эта заключительная сцена получила название расплаты за сценарий. Теория говорит о том, что при проигрывании нами сценария мы бессознательно избираем поведения, которые приблизят нас к расплате, тщательно отбираем людей, которые могут нам помочь реализовать наш сценарий, живем именно в тех условиях, где удобнее следовать этому плану.
                            </p>
                            <br/>
                            <div class="b-hist">
                                <h3 class="b-hist__title">случай из жизни</h3>
                                <div class="b-hist__cnt">
                                    <p>
                                        Расплата за сценарий: Сценарий ведет к расплате (финалу). При написании ребенком драмы своей жизни финальная сцена является неотъемлемой частью его сценария.  Расплата за сценарий: Сценарий ведет к расплате (финалу).
                                        При написании ребенком драмы своей жизни финальная сцена является неотъемлемой частью его сценария.
                                    </p>
                                </div>
                            </div>
                            <br/>

                            <img src="assets/art3.jpg" alt="" class="img320left"/>
                            <p>
                                Расплата за сценарий: Сценарий ведет к расплате (финалу).
                                При написании ребенком драмы своей жизни финальная сцена является неотъемлемой
                                частью его сценария. Таким образом, другие составные части сценария,
                                начиная с первой сцены, служат для того, чтобы привести сценарий к этой
                                заключительной сцене. Эта заключительная сцена получила название расплаты за
                                сценарий. Теория говорит о том, что при проигрывании нами сценария мы
                                бессознательно избираем поведения, которые приблизят нас к расплате,
                                тщательно отбираем людей, которые могут нам помочь реализовать наш сценарий,
                                живем именно в тех условиях, где удобнее следовать этому плану...
                                <a href="" class="b-cnt__aalink">Читать дальше</a>
                            </p>
                        </div>
                    </div>
                    <br clear="all"/>
                    <div class="b-article_footer clearfix">
                        <a href="" class="b-article_print">
                            <i class="b-icon">&#xe84d;</i>
                            <span>Версия для печати</span>
                        </a>
                        <div class="b-article-footer__author">
                            <div class="b-article-footer__author--up">
                                <div class="b-article-footer__author_label">Иван Петров</div>
                            </div>
                            <div class="b-article-footer__author--down">
                                <a href="" class="btn--blue"><i class="b-icon">&#xe83e;</i>  Назад  к списку</a>
                            </div>
                        </div>
                    </div>
                </div>
                <hr/>
                <div class="b-article_status_footer">
                    <div class="b-article_help">
                        Обнаружив в тексте ошибку, выделите ее и нажмите Ctrl+Enter
                    </div>
                    <div class="b-article_status_footer__label">Оцените статью</div>
                    <div class=" b-article_preview__list__item__body__status--star">
                        <i class="b-icon" data-starid="1">&#xe85c;</i>
                        <i class="b-icon" data-starid="2">&#xe85c;</i>
                        <i class="b-icon" data-starid="3">&#xe85b;</i>
                        <i class="b-icon" data-starid="4">&#xe85b;</i>
                        <i class="b-icon" data-starid="5">&#xe85b;</i>
                    </div>


                    <br/>


                </div>

                <h2 class="b-cnt__atitle--center">Читайте также</h2>
                <div class="b-slide_article clearfix">
                    <div class="b-slide_article__wrap clearfix">
                        <div class="b-icon b-slide_article__controll_left js-prev_slide">&#xe828;</div>
                        <div class="b-icon b-slide_article__controll_right js-next_slide">&#xe829;</div>
                    </div>
                    <div class="b-slide_article__cnt ">
                        <a href="" class="b-slide_article__item ">
                            <img src="assets/img_article1.jpg"  width='220' alt=""/>
                            <div class="b-slide_article__item__cnt">
                                <h3 class="b-slide_article__item__cnt__title">Психотерапия стройности 1</h3>
                                <div class="b-slide_article__item__cnt__text">
                                    В детстве каждый из нас пишет свой собственный сценарий жизни.
                                    Основной сюжет мы пишем в раннем детстве до того, как научились говорить...
                                </div>
                            </div>
                        </a>
                        <a href="" class="b-slide_article__item  ">
                            <img src="assets/img_article1.jpg"  width='220' alt=""/>
                            <div class="b-slide_article__item__cnt">
                                <h3 class="b-slide_article__item__cnt__title">Психотерапия стройности 2</h3>
                                <div class="b-slide_article__item__cnt__text">
                                    В детстве каждый из нас пишет свой собственный сценарий жизни.
                                    Основной сюжет мы пишем в раннем детстве до того, как научились говорить...
                                </div>
                            </div>
                        </a>
                        <a href="" class="b-slide_article__item  ">
                            <img src="assets/img_article1.jpg"  width='220' alt=""/>
                            <div class="b-slide_article__item__cnt">
                                <h3 class="b-slide_article__item__cnt__title">Психотерапия стройности 3</h3>
                                <div class="b-slide_article__item__cnt__text">
                                    В детстве каждый из нас пишет свой собственный сценарий жизни.
                                    Основной сюжет мы пишем в раннем детстве до того, как научились говорить...
                                </div>
                            </div>
                        </a>
                        <a href="" class="b-slide_article__item ">
                            <img src="assets/img_article1.jpg"  width='220' alt=""/>
                            <div class="b-slide_article__item__cnt">
                                <h3 class="b-slide_article__item__cnt__title">Психотерапия стройности 4</h3>
                                <div class="b-slide_article__item__cnt__text">
                                    В детстве каждый из нас пишет свой собственный сценарий жизни.
                                    Основной сюжет мы пишем в раннем детстве до того, как научились говорить...
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="b-col_right ">
                <div class="b-article_new__wrap clearfix">
                    <div class="b-article_new">
                    <div class="b-cnt__title-l  clearfix">
                        <h1 class="b-cnt__title-l__title ">Новое</h1>
                        <span class="b-cnt__title-l__notation"></span>
                    </div>
                    <div class="b-article_new__list clearfix ">
                        <div class="b-article_new__list__item clearfix">
                            <img src="assets/article_1.jpg" alt="" class="b-article_new__list__item__img"/>
                            <div class="b-article_new__list__item__body">
                                <div class="b-article_new__list__item__body__title">
                                    Психотерапия стройности
                                </div>
                                <a href="" class="b-cnt__alink">Читать дальше</a>
                            </div>
                        </div>
                        <div class="b-article_new__list__item clearfix">
                            <img src="assets/article_2.jpg" alt="" class="b-article_new__list__item__img"/>
                            <div class="b-article_new__list__item__body">
                                <div class="b-article_new__list__item__body__title">
                                    Как перестать тревожиться и начать жить
                                </div>
                                <a href="" class="b-cnt__alink">Читать дальше</a>
                            </div>
                        </div>
                        <div class="b-article_new__list__item clearfix">
                            <img src="assets/article_3.jpg" alt="" class="b-article_new__list__item__img"/>
                            <div class="b-article_new__list__item__body">
                                <div class="b-article_new__list__item__body__title">
                                    О смысле и счастье
                                </div>
                                <a href="" class="b-cnt__alink">Читать дальше</a>
                            </div>
                        </div>
                        <div class="b-article_new__list__item clearfix">
                            <img src="assets/article_4.jpg" alt="" class="b-article_new__list__item__img"/>
                            <div class="b-article_new__list__item__body">
                                <div class="b-article_new__list__item__body__title">
                                    Психотерапия стройности
                                </div>
                                <a href="" class="b-cnt__alink">Читать дальше</a>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="b-article_new">
                    <div class="b-cnt__title-l  clearfix">
                        <h1 class="b-cnt__title-l__title ">Популярное</h1>
                        <span class="b-cnt__title-l__notation"></span>
                    </div>
                    <div class="b-article_new__list clearfix ">
                        <div class="b-article_new__list__item clearfix">
                            <img src="assets/article_1.jpg" alt="" class="b-article_new__list__item__img"/>
                            <div class="b-article_new__list__item__body">
                                <div class="b-article_new__list__item__body__title">
                                    Психотерапия стройности
                                </div>
                                <a href="" class="b-cnt__alink">Читать дальше</a>
                            </div>
                        </div>
                        <div class="b-article_new__list__item clearfix">
                            <img src="assets/article_2.jpg" alt="" class="b-article_new__list__item__img"/>
                            <div class="b-article_new__list__item__body">
                                <div class="b-article_new__list__item__body__title">
                                    Как перестать тревожиться и начать жить
                                </div>
                                <a href="" class="b-cnt__alink">Читать дальше</a>
                            </div>
                        </div>
                        <div class="b-article_new__list__item clearfix">
                            <img src="assets/article_3.jpg" alt="" class="b-article_new__list__item__img"/>
                            <div class="b-article_new__list__item__body">
                                <div class="b-article_new__list__item__body__title">
                                    О смысле и счастье
                                </div>
                                <a href="" class="b-cnt__alink">Читать дальше</a>
                            </div>
                        </div>
                        <div class="b-article_new__list__item clearfix">
                            <img src="assets/article_4.jpg" alt="" class="b-article_new__list__item__img"/>
                            <div class="b-article_new__list__item__body">
                                <div class="b-article_new__list__item__body__title">
                                    Психотерапия стройности
                                </div>
                                <a href="" class="b-cnt__alink">Читать дальше</a>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <hr/>
                <div class="b-article_new__wrap clearfix">
                    <div class="b-article_subscription">
                        <h2 class="b-cnt__aatitle">Подписка на материалы</h2>
                        <div class="b-cnt__desc">
                            <p>
                                Получайте свежие материалы и новости сайта
                            </p>
                        </div>
                        <form action="" method="post" name="article_subscription" class="b-article_subscription">
                            <input type="text" class="form-input_text b-article_subscription__form_text" placeholder="Выш e-mail"/>
                            <input type="submit" class="btn--blue b-article_subscription__form_submit" value="Подписаться">
                        </form>
                    </div>
                </div>
                <div class="b-article_socialnet">
                    <div class="banner">
                        <img src="assets/banner.jpg" alt=""/>
                    </div>

                    <div class="widget">
                        <img src="assets/widget_socialnet.jpg" alt=""/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="b-row b-mobile_scroll_up">
        <div class="b-cnt">
            <div class="b-mobile_scroll_up__item js-scroll_up"></div>
        </div>
    </div>
</div>
<!-- include "./partials/footer.html" -->
<!-- include "./partials/_footer.html" -->