<!-- include "./partials/_header.html" -->
<div class="b-wrapper ">
    <!-- include "./partials/header.html" -->
    <!--content-->
    <div class="b-row b-breadcrumbs">
        <div class="b-cnt b-breadcrumbs__cnt">
            <a href="" class="b-breadcrumbs__item">Главная</a>
            <a href="" class="b-breadcrumbs__item">Контакты</a>
        </div>
    </div>
    <div class="b-row b-cnt_contact">
        <div class="b-cnt b-cnt_contact__cnt">
            <div class="b-cnt__title2  clearfix">
                <h1 class="b-cnt__title__title2 ">Контакты</h1>
                    <span class="b-cnt__title__notation"></span>
            </div>
            <div class="b-cnt__desc">
                <p>
                    Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности
                   влечет за собой процесс внедрения и модернизации системы обучения кадров,
                   соответствует насущным потребностям. Равным образом укрепление и
                   развитие структуры позволяет оценить значение позиций,
                   занимаемых участниками в отношении поставленных задач.
                </p>
                <br/>
                <p>Разнообразный и богатый опыт дальнейшее развитие различных
                   форм деятельности влечет за собой процесс внедрения и модернизации системы обучения кадров,
                   соответствует насущным потребностям.
                   Равным образом укрепление и развитие структуры позволяет оценить значение позиций,
                   занимаемых участниками в отношении поставленных задач.
                </p>
            </div>
            <!-- blocks-->
            <div class="clearfix b-cnt_contact__cnt-wrap">
                <div class="b-cnt_contact__cnt__contacts ">
                    <div class="b-cnt_contact__cnt__contacts__title">
                        Наши контакты:
                    </div>
                    <div class="b-cnt_contact__cnt__contacts__items">
                        <div class="b-cnt_contact__cnt__contacts__item">
                            <i class="b-icon b-cnt_contact__cnt__contacts__icon">&#xe850;</i>
                            г. Пятигорск, ул. Орджоникидзе, 2
                        </div>
                        <div class="b-cnt_contact__cnt__contacts__item">
                            <i class="b-icon b-cnt_contact__cnt__contacts__icon">&#xe805;</i>
                            +7 (800) 444-40-44
                        </div>
                        <div class="b-cnt_contact__cnt__contacts__item">
                            <i class="b-icon b-cnt_contact__cnt__contacts__icon">&#xe853;</i>
                            symvol-psy
                        </div>
                        <div class="b-cnt_contact__cnt__contacts__item">
                            <i class="b-icon b-cnt_contact__cnt__contacts__icon">&#xe81c;</i>
                            Viber/WhatSapp +7 (987) 443-24-54
                        </div>
                        <div class="b-cnt_contact__cnt__contacts__item">
                            <i class="b-icon b-cnt_contact__cnt__contacts__icon">&#xe859;</i>
                            info@symvol-psy.ru
                        </div>
                    </div>

                    <div class="b-cnt_contact__cnt__socials ">
                        <div class="b-cnt_contact__cnt__contacts__title b-cnt_contact__cnt__socials__title">
                            Присоединяйтесь к нам:
                        </div>
                        <div class="b-cnt_contact__cnt__socials__items ">
                            <a href="" class="b-icon b-cnt_contact__cnt__socials__item bg-vk">&#xe81b;</a>
                            <a href="" class="b-icon b-cnt_contact__cnt__socials__item bg-twitter">&#xe85a;</a>
                            <a href="" class="b-icon b-cnt_contact__cnt__socials__item bg-f">&#xe855;</a>
                            <a href="" class="b-icon b-cnt_contact__cnt__socials__item bg-ok">&#xe832;</a>
                            <a href="" class="b-icon b-cnt_contact__cnt__socials__item bg-yt">&#xe858;</a>
                        </div>
                    </div>
                </div>
                <div class="b-cnt_contact__cnt__form_feedback ">
                    <div class="b-cnt_contact__cnt__contacts__title2">
                        Напишите нам:
                    </div>
                    <form action="" name="feedback" method="post" class="b-cnt_contact__cnt__form_feedback__form">
                        <div class="form-row">
                            <label for="feedback_name" class="form-label">Ваше имя</label>
                            <input type="text" name="feedback_name" id="feedback_name" class="form-input_text form-input_text--modi" placeholder="введите ваше имя"/>
                        </div>
                        <div class="form-row">
                            <label for="feedback_mail" class="form-label">Ваш E-mail</label>
                            <input type="text" name="feedback_mail" id="feedback_mail" class="form-input_text form-input_text--modi" placeholder="введите ваше email"/>
                        </div>
                        <div class="form-row">
                            <label for="feedback_message" class="form-label">Ваше сообщение</label>
                            <textarea class="form-area feedback_message--modi" name="feedback_message " id="feedback_message" placeholder="введите ваше сообщение">
                                ошибка
                            </textarea>
                        </div>
                        <div class="form-row clearfix">
                            <label for="feedback_code" class="form-label2">Код с картинки</label>

                            <div class="b-cnt_contact__cnt__form_feedback__code">
                                <!--здесь установить код, а пока рыба-->
                                123456
                            </div>
                            <input  class="form-input_text b-cnt_contact__cnt__form_feedback__code_input " type="text" name="feedback_code" id="feedback_code"/>
                            <input type="submit" class="btn--blue b-cnt_contact__cnt__form_feedback__submit" value="Отправить">
                        </div>
                    </form>
                </div>
            </div>
            <div  id="map" class="b-cnt_contact__cnt__map "></div>
            <div class="b-cnt__desc">
                <p>
                    Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности
                    влечет за собой процесс внедрения и модернизации системы обучения кадров,
                    соответствует насущным потребностям. Равным образом укрепление и
                    развитие структуры позволяет оценить значение позиций,
                    занимаемых участниками в отношении поставленных задач.
                </p>
                <br/>
                <p>Разнообразный и богатый опыт дальнейшее развитие различных
                   форм деятельности влечет за собой процесс внедрения и модернизации системы обучения кадров,
                   соответствует насущным потребностям.
                   Равным образом укрепление и развитие структуры позволяет оценить значение позиций,
                   занимаемых участниками в отношении поставленных задач.
                </p>
            </div>
            <br/>
        </div>
    </div>
    <div class="b-row b-mobile_scroll_up">
        <div class="b-cnt">
            <div class="b-mobile_scroll_up__item js-scroll_up"></div>
        </div>
    </div>
</div>
<!-- include "./partials/footer.html" -->
<!-- include "./partials/_footer_with_yandexmap.html" -->
