<!-- include "./partials/_header.html" -->
<div class="b-wrapper ">
    <!-- include "./partials/header.html" -->
    <!--content-->
    <div class="b-row b-cnt_main_row ">
        <div class="b-cnt_main_row__cnt">
            <div class="b-cnt clearfix">
                <div class="b-cnt_main_row__wraper_btn">
                    <div class="btn--green btn__position--right js-open_window" data-window="your_question">Задать вопрос</div>
                    <div class="btn--blue btn__position--right js-open_window" data-window="study_advice">Записаться на приём</div>
                </div>
            </div>
        </div>
    </div>

    <div class="b-row b-cnt_about  ">
        <div class="b-cnt b-cnt_about__cnt">
            <div class="b-cnt__title  clearfix">
                <h1 class="b-cnt__title__title ">Центр практической психологии</h1>
                <span class="b-cnt__title__notation">содействие людям в решении проблем и достижении их целей</span>
            </div>
            <div class="b-cnt_about__cnt__block ">
                <div class="b-label-logo"></div>
                <h2 class="b-cnt_about__cnt__block__title">Центр практической психологии «Символ»</h2>
                <h3 class="b-cnt_about__cnt__block__subtitle">
                    Основным направлениями нашей деятельности являются:
                </h3>
                <ul class="b-cnt__list">
                    <li class="b-cnt__list__item">
                        <i class="b-icon">&#xe821</i>
                        индивидуальное психологическое консультирование
                    </li>
                    <li class="b-cnt__list__item">
                        <i class="b-icon">&#xe821</i>
                        психокоррекция
                    </li>
                    <li class="b-cnt__list__item">
                        <i class="b-icon">&#xe821</i>
                        психотерапия
                    </li>
                    <li class="b-cnt__list__item">
                        <i class="b-icon">&#xe821</i>
                        коучинг
                    </li>
                </ul>

                <p class="b-cnt_about__cnt__block__desc ">
                    Наши специалисты проводят сессии очно и через Интренет
                </p>
            </div>
            <div class="b-cnt_about__cnt__block ">
                <i class="b-label-target"></i>
                <h2 class="b-cnt_about__cnt__block__title">Миссия Центра</h2>
                <h3 class="b-cnt_about__cnt__block__subtitle">
                    Миссия Центра оказывать  содействие:
                </h3>
                <ul class="b-cnt__list">
                    <li class="b-cnt__list__item">
                        <i class="b-icon">&#xe821</i>
                        людям в решении проблем жизнедеятельности
                    </li>
                    <li class="b-cnt__list__item">
                        <i class="b-icon">&#xe821</i>
                        в осуществлении целей
                    </li>
                    <li class="b-cnt__list__item">
                        <i class="b-icon">&#xe821</i>
                        в области человеческого  благополучия
                    </li>
                    <li class="b-cnt__list__item">
                        <i class="b-icon">&#xe821</i>
                        в обретении своей ниши в жизни
                    </li>
                    <li class="b-cnt__list__item">
                        <i class="b-icon">&#xe821</i>
                        в личностном росте
                    </li>
                </ul>
                <p class="b-cnt_about__cnt__block__desc ">

                </p>
            </div>
            <div class="b-cnt_about__cnt__block ">
                <i class="b-label-man"></i>
                <h2 class="b-cnt_about__cnt__block__title">Эффективные методы консультирования</h2>
                <h3 class="b-cnt_about__cnt__block__subtitle">
                    Мы используем наиболее  эффективные и глубокие методы
                    консультирования и психотерапии на сегодняшний день:
                </h3>
                <ul class="b-cnt__list">
                    <li class="b-cnt__list__item">
                        <i class="b-icon">&#xe821</i>
                        интегральное  нейропрограммирование  (автор проф. Ковалев С.В)
                    </li>
                    <li class="b-cnt__list__item">
                        <i class="b-icon">&#xe821</i>
                        психология субличностей «Voice  alogues» (авторы: Х.Стоун, С.Стоун)
                    </li>
                </ul>
                <p class="b-cnt_about__cnt__block__desc ">

                </p>
            </div>
        </div>
    </div>
    <div class="b-row b-cnt_individual_work ">
        <div class="b-cnt_individual_work__cnt">
            <div class="b-cnt__title  clearfix">
                <h2 class="b-cnt__title__title ">Направления индивидуальной работы</h2>
                <span class="b-cnt__title__notation">Мы разделяем стратегию работы с клиентом на 3 направления</span>
            </div>
            <div class="b-cnt ">
                <div class="b-cnt_individual_work__cnt__block">

                    <img class="b-cnt_individual_work__cnt__image" src="assets/img_labyrinth.jpg"  alt=""/>
                    <h3 class="b-cnt_individual_work__cnt__block__title">
                        Консультация псиолога
                    </h3>
                    <div class="b-cnt_individual_work__cnt__block__desc">
                        от 1 до 3-х сессий
                    </div>
                    <p>
                        Допустим, вы столкнулись с проблемами со здоровьем, взаимоотношениями, любви, секса, работы,
                        денег, и др., но сами не понимаете, как можно их решить.
                        В этом случае специалист поможет вам найти в СЕБЕ решения,
                        варианты выхода из проблем.
                    </p>
                </div>
                <div class="b-cnt_individual_work__cnt__block">

                    <img class="b-cnt_individual_work__cnt__image" src="assets/img_pazle.jpg" alt=""/>
                    <h3 class="b-cnt_individual_work__cnt__block__title">
                        Психокоррекция
                    </h3>
                    <div class="b-cnt_individual_work__cnt__block__desc">
                        от 3 до 5-и сессий
                    </div>
                    <p>
                        Бывает такое, что вы уже знаете в чем суть вашей проблемы, и знаете, что нужно делать,
                        но вы не можете сознательно это сделать или изменить.
                        В зависимости от запроса здесь требуется более масштабная работа нежели просто консультация.
                    </p>
                </div>
                <div class="b-cnt_individual_work__cnt__block">

                    <img class="b-cnt_individual_work__cnt__image" src="assets/img_road.jpg" alt=""/>
                    <h3 class="b-cnt_individual_work__cnt__block__title">
                        Психотерапия
                    </h3>
                    <div class="b-cnt_individual_work__cnt__block__desc">
                        примерно 10 сессий (24 часа)
                    </div>
                    <p>
                        Бывает так, что у вас так много проблем,
                        что вы готовы кардинально изменить себя и старый образ своей жизни,
                        когда вы уже устали жить стандартным сценарием своего унылого существования.
                        В таком случае необходима полноценная добротная психотерапия,
                        где особое внимание уделяется опыту рождения и периоду раннего детства.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="b-row b-cnt_live_cicle ">
        <div class="b-cnt b-cnt_live_cicle__cnt">
            <div class="b-cnt__title  clearfix">
                <h2 class="b-cnt__title__title ">Жизненный цикл проблемы</h2>
                    <span class="b-cnt__title__notation">
                        Почему мы наступаем на одни и те же грабли снова и снова?
                    </span>
            </div>
            <div class="b-cnt_live_cicle__cnt__mobile ">
                <div class="b-cnt_live_cicle__cnt__mobile--item1  clearfix ">
                    <div class="b-cnt_live_cicle__cnt__mobile--item1__img"></div>
                    <div class="b-cnt_live_cicle__cnt__mobile__desc">
                        <div class="b-cnt_live_cicle__cnt__mobile__desc__text ">
                            Раз за разом мы снова обнаруживаем себя неудовлетворённым,
                            с теми же проблемами, что были и раньше.
                        </div>
                    </div>
                </div>
                <div class="b-cnt_live_cicle__cnt__mobile--item2 clearfix ">
                    <div class="b-cnt_live_cicle__cnt__mobile--item2__img"></div>
                    <div class="b-cnt_live_cicle__cnt__mobile__desc">
                        <div class="b-cnt_live_cicle__cnt__mobile__desc__text ">
                            Из за наших готовых шаблонов поведения, прошлого опыта в подобных ситуациах,
                            мы действуем автоматически и решаем проблему, как умеем.
                        </div>
                    </div>
                </div>
                <div class="b-cnt_live_cicle__cnt__mobile--item3 clearfix ">
                    <div class="b-cnt_live_cicle__cnt__mobile--item3__img"></div>
                    <div class="b-cnt_live_cicle__cnt__mobile__desc">
                        <div class="b-cnt_live_cicle__cnt__mobile__desc__text">
                            Когда терпение и силы на исходе, мы взрываемся. Разрываем отношения,
                            увольняемся с работы, понимаем, что так дальше быть не может, или просто
                            заболеваем.
                        </div>
                    </div>
                </div>
                <div class="b-cnt_live_cicle__cnt__mobile--item4 clearfix ">
                    <div class="b-cnt_live_cicle__cnt__mobile--item4__img"></div>
                    <div class="b-cnt_live_cicle__cnt__mobile__desc">
                        <div class="b-cnt_live_cicle__cnt__mobile__desc__text ">
                            Что же нам делать и как разорвать порочный круг?
                        </div>
                    </div>
                </div>
                <div class="b-cnt_live_cicle__cnt__mobile--item5 clearfix ">
                    <div class="b-cnt_live_cicle__cnt__mobile--item5__img"></div>
                    <div class="b-cnt_live_cicle__cnt__mobile__desc">
                        <div class="b-cnt_live_cicle__cnt__mobile__desc__text ">
                            Взять перерыв, отвлечься, поехать в отпуск, принять лекарства или
                            сменить имидж. И со временем снова обнаружить себя в неразрешенной проблеме.
                        </div>
                    </div>
                </div>
                <div class="b-cnt_live_cicle__cnt__mobile--item_finish clearfix ">
                    <div class="b-cnt_live_cicle__cnt__mobile--item_finish__img"></div>
                    <h3 class="b-cnt_live_cicle__cnt__mobile--item_finish__title">НО ЕСТЬ ВЫХОД:</h3>
                    <div class="b-cnt_live_cicle__cnt__mobile--item_finish__desc ">
                        Устранить причины заевшей пластинки. Заменить старые убеждения
                        и модели поведения на экологичные, чтобы стать счастливым и не топтатся
                        по кругу.
                    </div>
                </div>
            </div>
            <div class="b-cnt_live_cicle__cnt__desktop">
                <div class="b-cnt_live_cicle__cnt__desktop__bg">
                    <div class="b-cnt_live_cicle__cnt__desktop--item1 ">
                        Раз за разом мы снова обнаруживаем себя неудовлетворённым,
                        с теми же проблемами, что были и раньше.
                    </div>
                    <div class="b-cnt_live_cicle__cnt__desktop--item2 ">
                        Из за наших готовых шаблонов поведения, прошлого опыта в подобных ситуациах,
                        мы действуем автоматически и решаем проблему, как умеем.
                    </div>
                    <div class="b-cnt_live_cicle__cnt__desktop--item3 ">
                        Когда терпение и силы на исходе, мы взрываемся. Разрываем отношения,
                        увольняемся с работы, понимаем, что так дальше быть не может, или просто
                        заболеваем.
                    </div>
                    <div class="b-cnt_live_cicle__cnt__desktop--item4 ">
                        Что же нам делать и как разорвать порочный круг?
                    </div>
                    <div class="b-cnt_live_cicle__cnt__desktop--item5 ">
                        Взять перерыв, отвлечься, поехать в отпуск, принять лекарства или
                        сменить имидж. И со временем снова обнаружить себя в неразрешенной проблеме.
                    </div>
                    <div class="b-cnt_live_cicle__cnt__desktop--item_finish ">
                        Устранить причины заевшей пластинки. Заменить старые убеждения
                        и модели поведения на экологичные, чтобы стать счастливым и не топтатся
                        по кругу.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="b-row b-cnt_psy_area ">
        <div class="b-cnt_psy_area__cnt">
            <div class="b-cnt__title  clearfix">
                <h2 class="b-cnt__title__title ">Мы помогаем нашим клиентам в этих областях</h2>
                <span class="b-cnt__title__notation">Охватваем все области жизнедеятельности</span>
            </div>
            <div class="b-cnt clearfix">
                <div class="b-cnt_psy_area__cnt__block_schema">
                    <div class="b-cnt_psy_area__cnt__block_schema__bg"></div>
                    <div class="b-cnt_psy_area__cnt__block_schema__wrap">
                        <div class="b-cnt_psy_area__cnt__block_schema__item js-show_psy_area_block_schema" data-id="1">
                            Здоровье
                        </div>
                        <div class="b-cnt_psy_area__cnt__block_schema__item js-show_psy_area_block_schema s-psy_area_block_schema_item--selected" data-id="2">
                            Любовь/Семья
                        </div>
                        <div class="b-cnt_psy_area__cnt__block_schema__item js-show_psy_area_block_schema" data-id="3">
                            Секс
                        </div>
                        <div class="b-cnt_psy_area__cnt__block_schema__item js-show_psy_area_block_schema" data-id="4">
                            Взаимоотношения
                        </div>
                        <div class="b-cnt_psy_area__cnt__block_schema__item js-show_psy_area_block_schema" data-id="5">
                            Работа/Бизнес
                        </div>
                        <div class="b-cnt_psy_area__cnt__block_schema__item js-show_psy_area_block_schema" data-id="6">
                            Деньги
                        </div>
                    </div>
                </div>
                <div class="b-cnt_psy_area__cnt__desc ">
                    <div class="b-cnt_psy_area__cnt__desc__controll ">
                        <i class="b-icon b-cnt_psy_area__cnt__desc__controll--left js-show_left_psy_area__cnt__desc">&#xe80d;</i>
                        <i class="b-icon b-cnt_psy_area__cnt__desc__controll--right js-show_right_psy_area__cnt__desc">&#xe80e;</i>
                    </div>
                    <div class="b-cnt_psy_area__cnt__desc__item " data-id="1">
                        <i class="ico_psy--bag"></i>
                        <h3 class="b-cnt_psy_area__cnt__desc__title"> Здоровье</h3>
                        <div class="b-cnt_psy_area__cnt__desc__text">
                            По опыту могу сказать, что совет ценен, когда его спрашивают. Конечно, я могу
                            ответить на ваши вопросы, но давать какие-либо ситуацию, описанную наблюдением,
                            я не буду. Ведь все завязано на желании человека разбираться в себе и решить свою
                            проблему. Кстати, возможно другой человек вообще не считает, что нуждается в чей-то
                            помощи.
                        </div>
                    </div>
                    <div class="b-cnt_psy_area__cnt__desc__item s-psy_area_desc_item--show" data-id="2">
                        <i class="ico_psy--bag"></i>
                        <h3 class="b-cnt_psy_area__cnt__desc__title">Любовь/Семья</h3>
                        <div class="b-cnt_psy_area__cnt__desc__text">
                            По опыту могу сказать, что совет ценен, когда его спрашивают. Конечно, я могу
                            ответить на ваши вопросы, но давать какие-либо ситуацию, описанную наблюдением,
                            я не буду. Ведь все завязано на желании человека разбираться в себе и решить свою
                            проблему. Кстати, возможно другой человек вообще не считает, что нуждается в чей-то
                            помощи.
                        </div>
                    </div>
                    <div class="b-cnt_psy_area__cnt__desc__item" data-id="3">
                        <i class="ico_psy--bag"></i>
                        <h3 class="b-cnt_psy_area__cnt__desc__title">Секс</h3>
                        <div class="b-cnt_psy_area__cnt__desc__text">
                            По опыту могу сказать, что совет ценен, когда его спрашивают. Конечно, я могу
                            ответить на ваши вопросы, но давать какие-либо ситуацию, описанную наблюдением,
                            я не буду. Ведь все завязано на желании человека разбираться в себе и решить свою
                            проблему. Кстати, возможно другой человек вообще не считает, что нуждается в чей-то
                            помощи.
                        </div>
                    </div>
                    <div class="b-cnt_psy_area__cnt__desc__item" data-id="4">
                        <i class="ico_psy--bag"></i>
                        <h3 class="b-cnt_psy_area__cnt__desc__title">Взаимоотношения</h3>
                        <div class="b-cnt_psy_area__cnt__desc__text">
                            По опыту могу сказать, что совет ценен, когда его спрашивают. Конечно, я могу
                            ответить на ваши вопросы, но давать какие-либо ситуацию, описанную наблюдением,
                            я не буду. Ведь все завязано на желании человека разбираться в себе и решить свою
                            проблему. Кстати, возможно другой человек вообще не считает, что нуждается в чей-то
                            помощи.
                        </div>
                    </div>
                    <div class="b-cnt_psy_area__cnt__desc__item" data-id="5">
                        <i class="ico_psy--bag"></i>
                        <h3 class="b-cnt_psy_area__cnt__desc__title">Работа/Бизнес</h3>
                        <div class="b-cnt_psy_area__cnt__desc__text">
                            По опыту могу сказать, что совет ценен, когда его спрашивают. Конечно, я могу
                            ответить на ваши вопросы, но давать какие-либо ситуацию, описанную наблюдением,
                            я не буду. Ведь все завязано на желании человека разбираться в себе и решить свою
                            проблему. Кстати, возможно другой человек вообще не считает, что нуждается в чей-то
                            помощи.
                        </div>
                    </div>
                    <div class="b-cnt_psy_area__cnt__desc__item" data-id="6">
                        <i class="ico_psy--bag"></i>
                        <h3 class="b-cnt_psy_area__cnt__desc__title">Деньги</h3>
                        <div class="b-cnt_psy_area__cnt__desc__text">
                            По опыту могу сказать, что совет ценен, когда его спрашивают. Конечно, я могу
                            ответить на ваши вопросы, но давать какие-либо ситуацию, описанную наблюдением,
                            я не буду. Ведь все завязано на желании человека разбираться в себе и решить свою
                            проблему. Кстати, возможно другой человек вообще не считает, что нуждается в чей-то
                            помощи.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="b-row b-cnt_steps ">
        <div class="b-cnt b-cnt_steps__cnt">
            <div class="b-cnt__title  clearfix">
                <h2 class="b-cnt__title__title ">3 шага к решению вашей проблемы</h2>
                    <span class="b-cnt__title__notation">
                    </span>
            </div>
            <div class="b-cnt_steps__cnt__mobile">
                <div class="b-cnt_steps__cnt__mobile__item clearfix">

                    <div class="b-cnt_steps__cnt__mobile__wrap1 ">
                        <img class="b-cnt_steps__cnt__mobile__img" width="120" src="assets/photo_phone.jpg" alt=""/>
                        <div class="b-icon b-cnt_steps__cnt__mobile__arrow">&#xe833</div>
                    </div>

                    <div class="b-cnt_steps__cnt__mobile__wrap">
                        <h3 class="b-cnt_steps__cnt__mobile__title">Запись на прием</h3>
                        <div class="b-cnt_steps__cnt__mobile__notation">
                            Запись по телефону или через форму на сайте
                        </div>
                        <div class="b-cnt_steps__cnt__mobile__time">
                            <b>c 9 до 20:00</b>
                        </div>
                        <div class="b-cnt_steps__cnt__mobile__desc">
                            Телефонный разговор даст вам возможность познакомиться со мной и понять, сможете ли вы отвечать
                            на мои вопросы спокойно.
                        </div>
                    </div>
                </div>

                <div class="b-cnt_steps__cnt__mobile__item clearfix">

                    <div class="b-cnt_steps__cnt__mobile__wrap1 ">
                        <img class="b-cnt_steps__cnt__mobile__img" width="120" src="assets/photo_hand.jpg" alt=""/>
                        <div class="b-icon b-cnt_steps__cnt__mobile__arrow">&#xe833</div>
                    </div>

                    <div class="b-cnt_steps__cnt__mobile__wrap">
                        <h3 class="b-cnt_steps__cnt__mobile__title">Первый сеанс</h3>
                        <div class="b-cnt_steps__cnt__mobile__notation">
                            Знакомство, диагностика ваших проблем
                        </div>
                        <div class="b-cnt_steps__cnt__mobile__time">
                            <b>первые 30 минут</b> <b class="red">бесплатно</b>
                        </div>
                        <div class="b-cnt_steps__cnt__mobile__desc">
                            Во время беседы мы определим проблему, которую надо решить, а также составим план работы для
                            получения результата.
                        </div>
                    </div>
                </div>

                <div class="b-cnt_steps__cnt__mobile__item clearfix">

                    <div class="b-cnt_steps__cnt__mobile__wrap1 ">
                        <img class="b-cnt_steps__cnt__mobile__img" width="120" src="assets/photo_man_girl.jpg" alt=""/>
                        <div class="b-icon b-cnt_steps__cnt__mobile__arrow hide">&#xe833</div>
                    </div>

                    <div class="b-cnt_steps__cnt__mobile__wrap">
                        <h3 class="b-cnt_steps__cnt__mobile__title">Работа по программе</h3>
                        <div class="b-cnt_steps__cnt__mobile__notation">
                            Курс краткий или долгосрочный
                        </div>
                        <div class="b-cnt_steps__cnt__mobile__time">
                            <b>3-10 сеансов</b>
                        </div>
                        <div class="b-cnt_steps__cnt__mobile__desc">
                            Чем серьёзнее и ответственнее подойдете к нашему общению, тем быстрее мы сможем решить вашу
                            проблему
                        </div>
                    </div>
                </div>
            </div>
            <div class="b-cnt_steps__cnt__desktop clearfix ">
                <div class="b-cnt_steps__cnt__desktop__item">
                    <h3 class="b-cnt_steps__cnt__desktop__title">Запись на прием</h3>
                    <img class="b-cnt_steps__cnt__desktop__img" src="assets/photo_phone.jpg" alt=""/>
                    <div class="b-cnt_steps__cnt__desktop__notation">
                        Запись по телефону или через форму на сайте
                    </div>
                    <div class="b-cnt_steps__cnt__desktop__time">
                        <b>c 9 до 20:00</b>
                    </div>
                    <div class="b-cnt_steps__cnt__desktop__desc">
                        Телефонный разговор даст вам возможность познакомиться со мной и понять, сможете ли вы отвечать
                        на мои вопросы спокойно.
                    </div>
                </div>
                <div class="b-icon b-cnt_steps__cnt__desktop__arrow">&#xe835</div>
                <div class="b-cnt_steps__cnt__desktop__item">
                    <h3 class="b-cnt_steps__cnt__desktop__title">Первый сеанс</h3>
                    <img class="b-cnt_steps__cnt__desktop__img" src="assets/photo_hand.jpg" alt=""/>
                    <div class="b-cnt_steps__cnt__desktop__notation">
                        Знакомство, диагностика ваших проблем
                    </div>
                    <div class="b-cnt_steps__cnt__desktop__time">
                        <b>первые 30 минут</b> <b class="red">бесплатно</b>
                    </div>
                    <div class="b-cnt_steps__cnt__desktop__desc">
                        Во время беседы мы определим проблему, которую надо решить, а также составим план работы для
                        получения результата.
                    </div>
                </div>
                <div class="b-icon b-cnt_steps__cnt__desktop__arrow">&#xe835</div>
                <div class="b-cnt_steps__cnt__desktop__item">
                    <h3 class="b-cnt_steps__cnt__desktop__title">Работа по программе</h3>
                    <img class="b-cnt_steps__cnt__desktop__img" src="assets/photo_man_girl.jpg" alt=""/>
                    <div class="b-cnt_steps__cnt__desktop__notation">
                        Курс краткий или долгосрочный
                    </div>
                    <div class="b-cnt_steps__cnt__desktop__time">
                        <b>3-10 сеансов</b>
                    </div>
                    <div class="b-cnt_steps__cnt__desktop__desc">
                        Чем серьёзнее и ответственнее подойдете к нашему общению, тем быстрее мы сможем решить вашу
                        проблему
                    </div>
                </div>
            </div>
            <div class="btn--blue b-cnt_steps__cnt__order  js-open_window"  data-window="study_advice">
                Записаться на приём
            </div>
        </div>
    </div>
    <div class="b-row b-cnt_reviews ">
        <div class="b-cnt b-cnt_reviews__cnt">
            <div class="b-cnt__title  clearfix">
                <h2 class="b-cnt__title__title ">Отзывы</h2>
                    <span class="b-cnt__title__notation">
                    </span>
            </div>
            <div class="b-cnt_reviews__cnt__body">
                <div class="b-cnt_reviews__cnt__items clearfix">
                    <div class="b-cnt_reviews__cnt__wrap">
                        <div class="b-icon b-cnt_reviews__cnt__items__controll_left js-prev_reviews">&#xe828;</div>
                        <div class="b-icon b-cnt_reviews__cnt__items__controll_right js-next_reviews">&#xe829;</div>
                        <div class="b-cnt_reviews__cnt__items__logo"></div>
                    </div>
                    <div class="b-cnt_reviews__cnt__item  clearfix s-cnt_reviews_item--selected " data-id="1">
                        <i class="b-icon b-cnt_reviews__cnt__item__ico_comma--left">&#xe818;</i>
                        <br clear="all">
                        <div class="b-cnt_reviews__cnt__item__cnt ">
                            Какое огромное счастье и огромная свобода, когда ЭГО прекращает мешать жить,
                            когда вдруг чувствуешь, что никакие реакции человека не препятствуют выражению своих истинных
                            чувств к нему, когда ты наконец можешь точно узнать, какие же чувства лежат в основе твоего
                            общения...
                            Большая благодарность Денису за его ум, тонкость чувствования клиента,
                            глубоко сердечное отношение к миру, профессиональное мастерство и точность,
                            а также умение ясно видеть правду. Я начинаю жить!
                        </div>
                        <i class="b-icon b-cnt_reviews__cnt__item__ico_comma--right">&#xe819;</i>
                        <br clear="all">
                        <div class="b-cnt_reviews__cnt__item__author">— Иван Иванов</div>
                    </div>
                    <div class="b-cnt_reviews__cnt__item  clearfix " data-id="2">
                        <i class="b-icon b-cnt_reviews__cnt__item__ico_comma--left">&#xe818;</i>
                        <br clear="all">
                        <div class="b-cnt_reviews__cnt__item__cnt ">
                            Какое огромное счастье и огромная свобода, когда ЭГО прекращает мешать жить,
                            когда вдруг чувствуешь, что никакие реакции человека не препятствуют выражению своих истинных
                            чувств к нему, когда ты наконец можешь точно узнать, какие же чувства лежат в основе твоего
                            общения...

                        </div>
                        <i class="b-icon b-cnt_reviews__cnt__item__ico_comma--right">&#xe819;</i>
                        <br clear="all">
                        <div class="b-cnt_reviews__cnt__item__author">— Иван Иванов</div>
                    </div>
                    <div class="b-icon  b-cnt_reviews__cnt__items__controll_left_b js-prev_reviews">&#xe80d;</div>
                    <div class="b-icon b-cnt_reviews__cnt__items__controll_right_b js-next_reviews">&#xe80e;</div>

                </div>
            </div>
        </div>
    </div>
    <div class="b-row b-cnt_ask">
        <div class="b-cnt b-cnt_ask__cnt">
            <div class="b-cnt__title  clearfix">
                <h2 class="b-cnt__title__title ">Часто задаваемые вопросы</h2>
                <span class="b-cnt__title__notation"></span>
            </div>
            <ul class="b-cnt_ask__cnt__items">
                <li class="b-cnt_ask__cnt__items__item">
                    <div class="b-cnt_ask__cnt__items__title js-ask_toggle"><i class="b-icon b-cnt_ask__icon">&#xe843;</i>
                        <div class="b-cnt_ask__cnt__items__title__text">
                            Сколько сеансов потребуется для решения конкретной проблемы?
                        </div>
                    </div>
                    <div class="b-cnt_ask__cnt__items__text">
                        Могу ли я получить совет для другого человека?
                        По опыту могу сказать, что совет ценен, когда его спрашивают.
                        Конечно, я могу ответить на ваши вопросы,
                        но давать какие-либо советы на ситуацию, описанную наблюдателем, я не буду.
                        Ведь все завязано на желании человека разобраться в себе и решить свою проблему.
                        Кстати, возможно другой человек вообще не считает, что нуждается в чей-то помощи.
                    </div>
                </li>
                <li class="b-cnt_ask__cnt__items__item">
                    <div class="b-cnt_ask__cnt__items__title js-ask_toggle"><i class="b-icon b-cnt_ask__icon">&#xe843;</i>
                        <div class="b-cnt_ask__cnt__items__title__text"> Будет ли результат?</div>
                    </div>
                    <div class="b-cnt_ask__cnt__items__text">
                        Могу ли я получить совет для другого человека?
                        По опыту могу сказать, что совет ценен, когда его спрашивают.
                        Конечно, я могу ответить на ваши вопросы,
                        но давать какие-либо советы на ситуацию, описанную наблюдателем, я не буду.
                        Ведь все завязано на желании человека разобраться в себе и решить свою проблему.
                        Кстати, возможно другой человек вообще не считает, что нуждается в чей-то помощи.
                    </div>
                </li>
                <li class="b-cnt_ask__cnt__items__item">
                    <div class="b-cnt_ask__cnt__items__title js-ask_toggle"><i class="b-icon b-cnt_ask__icon">&#xe843;</i>
                        <div class="b-cnt_ask__cnt__items__title__text"> Когда стоит обращаться за консультацией?</div>
                    </div>
                    <div class="b-cnt_ask__cnt__items__text">
                        Могу ли я получить совет для другого человека?
                        По опыту могу сказать, что совет ценен, когда его спрашивают.
                        Конечно, я могу ответить на ваши вопросы,
                        но давать какие-либо советы на ситуацию, описанную наблюдателем, я не буду.
                        Ведь все завязано на желании человека разобраться в себе и решить свою проблему.
                        Кстати, возможно другой человек вообще не считает, что нуждается в чей-то помощи.
                    </div>
                </li>
                <li class="b-cnt_ask__cnt__items__item">
                    <div class="b-cnt_ask__cnt__items__title js-ask_toggle"><i class="b-icon b-cnt_ask__icon">&#xe843;</i>
                        <div class="b-cnt_ask__cnt__items__title__text">Будет ли результат?</div>
                    </div>
                    <div class="b-cnt_ask__cnt__items__text">
                        Могу ли я получить совет для другого человека?
                        По опыту могу сказать, что совет ценен, когда его спрашивают.
                        Конечно, я могу ответить на ваши вопросы,
                        но давать какие-либо советы на ситуацию, описанную наблюдателем, я не буду.
                        Ведь все завязано на желании человека разобраться в себе и решить свою проблему.
                        Кстати, возможно другой человек вообще не считает, что нуждается в чей-то помощи.
                    </div>
                </li>
                <li class="b-cnt_ask__cnt__items__item">
                    <div class="b-cnt_ask__cnt__items__title js-ask_toggle ">
                        <i class="b-icon b-cnt_ask__icon">&#xe843;</i>
                        <div class="b-cnt_ask__cnt__items__title__text">Я могу справиться самостоятельно?</div>
                    </div>
                    <div class="b-cnt_ask__cnt__items__text ">
                        Могу ли я получить совет для другого человека?
                        По опыту могу сказать, что совет ценен, когда его спрашивают.
                        Конечно, я могу ответить на ваши вопросы,
                        но давать какие-либо советы на ситуацию, описанную наблюдателем, я не буду.
                        Ведь все завязано на желании человека разобраться в себе и решить свою проблему.
                        Кстати, возможно другой человек вообще не считает, что нуждается в чей-то помощи.
                    </div>
                </li>
            </ul>
            <div class="b-cnt_ask__cnt__footer clearfix">
                <div class="b-cnt_ask__wraper_btn">
                    <div class="btn--blue btn__position--right js-open_window" data-window="your_question">Задать вопрос</div>
                    <div class="btn--green btn__position--right js-open_window" data-window="study_advice" >Записаться на приём</div>
                </div>
            </div>
        </div>
    </div>
    <div class="b-row b-mobile_scroll_up">
        <div class="b-cnt">
            <div class="b-mobile_scroll_up__item js-scroll_up"></div>
        </div>
    </div>
</div>
<!-- include "./partials/footer.html" -->
<!-- include "./partials/_footer.html" -->