<!-- include "./partials/_header.html" -->

<div class="b-wrapper ">
    <!-- include "./partials/header.html" -->
    <!--content-->
    <div class="b-row b-breadcrumbs">
        <div class="b-cnt b-breadcrumbs__cnt">
            <a href="" class="b-breadcrumbs__item">Главная</a>
            <a href="" class="b-breadcrumbs__item">Услуги</a>
        </div>
    </div>

    <div class="b-row b-cnt_text">
        <div class="b-cnt b-cnt_text__cnt">
            <div class="b-cnt__title2  clearfix">
                <h2 class="b-cnt__title__title2 ">Услуги</h2>
                <span class="b-cnt__title__notation"></span>
            </div>
            <div class="b-cnt__desc">
                <p>
                    Стройность – это естественное состояние нашего организма. Диетологами разработано множество различных
                    систем питания, которые позволяют быстро сбросить лишние килограммы: диеты на сахаре и без,
                    диеты по знаку
                    Зодиака… Стройность – это естественное состояние нашего организма.
                </p>
                <br/>
                <p>
                    Диетологами разработано множество различных систем питания,
                    которые позволяют быстро сбросить лишние килограммы: диеты на сахаре и без,
                    диеты по знаку Зодиака… Стройность – это естественное состояние нашего организма.
                    Диетологами разработано множество различных систем питания, которые позволяют
                    быстро сбросить лишние килограммы: диеты на сахаре и без, диеты по знаку Зодиака.
                </p>
            </div>
            <div class="b-tariff_plan clearfix">
                <div class="b-tariff_plan__item clearfix ">
                    <div class="clearfix">
                        <div class="b-tariff_plan__item--head ">
                        <span class="b-tariff_plan__item--head__price">0.0 <span class="b-tariff_plan__item--head__price_c">руб.</span></span>

                        <div class="b-tariff_plan__item--head__time">30 минут</div>
                    </div>
                        <div class="b-tariff_plan__item--desc ">
                            <div class="b-tariff_plan__item__cnt">
                                <h3 class="b-tariff_plan__item__title">
                                    Ознакомительная консультация
                                </h3>
                                <p>
                                    Воспользуйтесь услугой для получения первичной диагностики ваших проблема и знакомство с методом
                                </p>

                            </div>
                        </div>
                        <div class="b-tariff_plan__item--romb"></div>
                        <div class="b-tariff_plan__item--details  ">
                            <ul class="b-list">
                                <li class="b-cnt__list__item_w">
                                    <div class="b-cnt__list__item--w">
                                        Эффективно без гипноза и кушеток
                                    </div>
                                </li>
                                <li class="b-cnt__list__item_w">
                                    <div class="b-cnt__list__item--w">
                                        Первичная диагностика проблем
                                    </div>
                                </li>
                                <li class="b-cnt__list__item_w">
                                    <div class="b-cnt__list__item_w--w">
                                        Знакомство с методом
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="b-tariff_plan__item--footer">
                        <a  class="btn--blue b-tariff_plan__item--footer__btn terms-of-service js-open_window" data-window="study_advice">Выбрать</a>
                    </div>
                </div>
                <div class="b-tariff_plan__item clearfix ">
                    <div class="clearfix">
                        <div class="b-tariff_plan__item--head ">
                        <span class="b-tariff_plan__item--head__price">1 000 <span class="b-tariff_plan__item--head__price_c">руб.</span></span>

                        <div class="b-tariff_plan__item--head__time">60 минут</div>
                    </div>

                        <div class="b-tariff_plan__item--desc ">
                            <div class="b-tariff_plan__item__cnt">
                                <h3 class="b-tariff_plan__item__title">
                                    Скайп консультирование
                                </h3>
                                <p>
                                    Эффективная помощь в решении ваших проблем в любоу точке мира
                                </p>

                            </div>
                        </div>
                        <div class="b-tariff_plan__item--romb"></div>
                        <div class="b-tariff_plan__item--details  ">
                            <ul class="b-list">
                                <li class="b-cnt__list__item_w">
                                    <div class="b-cnt__list__item--w">
                                        Эффективно без гипноза и кушеток
                                    </div>
                                </li>
                                <li class="b-cnt__list__item_w">
                                    <div class="b-cnt__list__item--w">
                                        Эффективные методы консультирования ориентированные на краткосрочность
                                    </div>
                                </li>
                                <li class="b-cnt__list__item_w">
                                    <div class="b-cnt__list__item_w--w">
                                        Лояльный расчет стоимости за не полный час работы
                                    </div>
                                </li>
                                <li class="b-cnt__list__item_w">
                                    <div class="b-cnt__list__item_w--w">
                                        Оплата после консультации через банковскую карту
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="b-tariff_plan__item--footer">
                        <div class="btn--blue b-tariff_plan__item--footer__btn js-open_window" data-window="skype_consultancy">Выбрать</div>
                    </div>

                </div>
                <div class="b-tariff_plan__item clearfix ">
                    <div class="clearfix">
                        <div class="b-tariff_plan__item--head ">
                        <span class="b-tariff_plan__item--head__price">1 500
                            <span class="b-tariff_plan__item--head__price_c">руб.</span>
                        </span>

                        <div class="b-tariff_plan__item--head__time">60 минут</div>
                    </div>

                        <div class="b-tariff_plan__item--desc ">
                            <div class="b-tariff_plan__item__cnt">
                                <h3 class="b-tariff_plan__item__title">
                                    Индивидуальное консультирование
                                </h3>
                                <p>
                                    Эффективная помощь в решении ваших проблем в любоу точке мира
                                </p>

                            </div>
                        </div>
                        <div class="b-tariff_plan__item--romb"></div>
                        <div class="b-tariff_plan__item--details  ">
                            <ul class="b-list">
                                <li class="b-cnt__list__item_w">
                                    <div class="b-cnt__list__item--w">
                                        Эффективно без гипноза и кушеток
                                    </div>
                                </li>
                                <li class="b-cnt__list__item_w">
                                    <div class="b-cnt__list__item--w">
                                        Эффективные методы консультирования ориентированные на краткосрочность
                                    </div>
                                </li>
                                <li class="b-cnt__list__item_w">
                                    <div class="b-cnt__list__item_w--w">
                                        Лояльный расчет стоимости за не полный час работы
                                    </div>
                                </li>
                                <li class="b-cnt__list__item_w">
                                    <div class="b-cnt__list__item_w--w">
                                        Оплата после консультации наличными
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="b-tariff_plan__item--footer">
                        <div class="btn--blue b-tariff_plan__item--footer__btn js-open_window" data-window="individual_counseling">Выбрать</div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="b-row b-cnt_reviews ">
        <div class="b-cnt b-cnt_reviews__cnt">
            <div class="b-cnt__title  clearfix">
                <h2 class="b-cnt__title__title ">Специализированные курсы</h2>
                    <span class="b-cnt__title__notation"></span>
            </div>
            <div class="b-cnt__desc">
                <p>
                    Стройность – это естественное состояние нашего организма. Диетологами разработано множество различных
                    систем питания, которые позволяют быстро сбросить лишние килограммы: диеты на сахаре и без,
                    диеты по знаку
                    Зодиака… Стройность – это естественное состояние нашего организма.
                </p>
                <br/>
                <p>
                    Диетологами разработано множество различных систем питания,
                    которые позволяют быстро сбросить лишние килограммы: диеты на сахаре и без,
                    диеты по знаку Зодиака… Стройность – это естественное состояние нашего организма.
                    Диетологами разработано множество различных систем питания, которые позволяют
                    быстро сбросить лишние килограммы: диеты на сахаре и без, диеты по знаку Зодиака.

                </p>
            </div>
            <div class=" ">
                <div class="b-article_preview__list__item clearfix">
                    <div class="b-article_preview__list__item__body__title--blue">
                        Индивидуальное консультирование
                    </div>
                    <img src="assets/article_2.jpg" alt="" class="b-article_preview__list__item__img--no-border"/>
                    <div class="b-article_preview__list__item__body">

                        <div class="b-cnt__desc b-article_preview__list__item__body__text ">
                            <p>
                                Стройность – это естественное состояние нашего организма.
                                Диетологами разработано множество различных систем питания, которые позволяют быстро
                            </p>
                            <br/>
                            <p>
                                Стройность – это естественное состояние нашего организма.
                                Диетологами разработано множество различных систем питания, которые позволяют быстро
                            </p>
                            <br/>
                           <p>
                               Продолжительность курса 10-12 встреч.
                           </p>

                        </div>

                    </div>
                    <div class="b-article_preview__list__item__body__status clearfix">
                        <div class="btn--blue ">Записаться</div>
                    </div>
                </div>
                <div class="b-article_preview__list__item clearfix">
                    <div class="b-article_preview__list__item__body__title--blue">
                        Индивидуальное консультирование
                    </div>
                    <img src="assets/article_2.jpg" alt="" class="b-article_preview__list__item__img--no-border"/>
                    <div class="b-article_preview__list__item__body">

                        <div class="b-cnt__desc b-article_preview__list__item__body__text ">
                            <p>
                                Стройность – это естественное состояние нашего организма.
                                Диетологами разработано множество различных систем питания, которые позволяют быстро
                            </p>
                            <br/>
                            <p>
                                Стройность – это естественное состояние нашего организма.
                                Диетологами разработано множество различных систем питания, которые позволяют быстро
                            </p>
                            <br/>
                            <p>
                               Продолжительность курса 10-12 встреч.
                           </p>

                        </div>

                    </div>
                    <div class="b-article_preview__list__item__body__status clearfix">
                        <div class="btn--blue " >Записаться</div>
                    </div>
                </div>
                <div class="b-article_preview__list__item clearfix">
                    <div class="b-article_preview__list__item__body__title--blue">
                        Индивидуальное консультирование
                    </div>
                    <img src="assets/article_2.jpg" alt="" class="b-article_preview__list__item__img--no-border"/>
                    <div class="b-article_preview__list__item__body">

                        <div class="b-cnt__desc b-article_preview__list__item__body__text ">
                            <p>
                                Стройность – это естественное состояние нашего организма.
                                Диетологами разработано множество различных систем питания, которые позволяют быстро
                            </p>
                            <br/>
                            <p>
                                Стройность – это естественное состояние нашего организма.
                                Диетологами разработано множество различных систем питания, которые позволяют быстро
                            </p>
                            <br/>
                           <p>
                               Продолжительность курса 10-12 встреч.
                           </p>

                        </div>

                    </div>
                    <div class="b-article_preview__list__item__body__status clearfix">
                        <div class="btn--blue ">Записаться</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- include "./partials/footer.html" -->

<!-- include "./partials/_footer.html" -->
