<!-- include "./partials/_header.html" -->
<div class="b-wrapper">
    <!-- include "./partials/header.html" -->
    <!--content-->
    <div class="b-row b-breadcrumbs">
        <div class="b-cnt b-breadcrumbs__cnt">
            <a href="" class="b-breadcrumbs__item">Главная</a>
            <a href="" class="b-breadcrumbs__item">Полезное</a>
            <a href="" class="b-breadcrumbs__item">Видео</a>
        </div>
    </div>
    <div class="b-row ">
        <div class="b-cnt  clearfix">
            <div class="b-col_left ">
                <div class="b-article_preview">
                    <div class="b-article_preview__text">
                        <h2 class="b-cnt__atitle">Видео</h2>
                        <div class="b-cnt__desc">
                            <p>
                                В детстве каждый из нас пишет свой собственный сценарий жизни.
                                Основной сюжет мы пишем в раннем детстве до того, как научились говорить,
                                а к четырем годам определяем основные моменты его содержания...

                            </p>
                        </div>
                    </div>
                    <div class="b-article_preview__list">
                        <div class="b-article_preview__list__item clearfix">
                            <div class="b-video">
                                <iframe class="b-video__src"  src="https://www.youtube.com/embed/UMASArgKTPs" frameborder="0" allowfullscreen></iframe>
                            </div>
                            <div class="b-article_preview__list__item__body">
                                <div class="b-article_preview__list__item__body__title">
                                    Психотерапия стройности
                                </div>
                                <div class="b-cnt__desc b-article_preview__list__item__body__text ">
                                    <p>
                                        В детстве каждый из нас пишет свой собственный сценарий жизни.
                                        Основной сюжет мы пишем в раннем детстве до того, как научились говорить,
                                        а к четырем годам определяем основные моменты его содержания...
                                    </p>

                                </div>
                                <div class="b-article_preview__list__item__body__status clearfix">
                                    <div class="b-article_preview__list__item__body__status--looking">
                                        <span class="b-article_preview__list__item__body__status--looking__count">11</span>
                                    </div>
                                    <div class=" b-article_preview__list__item__body__status--star">
                                        <i class="b-icon" data-starid="1">&#xe85c;</i>
                                        <i class="b-icon" data-starid="2">&#xe85c;</i>
                                        <i class="b-icon" data-starid="3">&#xe85c;</i>
                                        <i class="b-icon" data-starid="4">&#xe85d;</i>
                                        <i class="b-icon" data-starid="5">&#xe85b;</i>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="b-article_preview__list__item clearfix">
                            <div class="b-video">
                                <iframe class="b-video__src" src="https://www.youtube.com/embed/-NwzR85OH6s" frameborder="0" allowfullscreen></iframe>
                            </div>
                            <div class="b-article_preview__list__item__body">
                                <div class="b-article_preview__list__item__body__title">
                                    Психотерапия стройности
                                </div>
                                <div class="b-cnt__desc b-article_preview__list__item__body__text ">
                                    <p>
                                        В детстве каждый из нас пишет свой собственный сценарий жизни.
                                        Основной сюжет мы пишем в раннем детстве до того, как научились говорить,
                                        а к четырем годам определяем основные моменты его содержания...
                                    </p>

                                </div>
                                <div class="b-article_preview__list__item__body__status clearfix">
                                    <div class="b-article_preview__list__item__body__status--looking">
                                        <span class="b-article_preview__list__item__body__status--looking__count">11</span>
                                    </div>
                                    <div class=" b-article_preview__list__item__body__status--star">
                                        <i class="b-icon" data-starid="1">&#xe85c;</i>
                                        <i class="b-icon" data-starid="2">&#xe85c;</i>
                                        <i class="b-icon" data-starid="3">&#xe85c;</i>
                                        <i class="b-icon" data-starid="4">&#xe85d;</i>
                                        <i class="b-icon" data-starid="5">&#xe85b;</i>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="b-article_preview__list__item clearfix">
                            <div class="b-video">
                                <iframe class="b-video__src" src="https://www.youtube.com/embed/KWOT7y2V4k4" frameborder="0" allowfullscreen></iframe>
                            </div>
                            <div class="b-article_preview__list__item__body">
                                <div class="b-article_preview__list__item__body__title">
                                    Психотерапия стройности
                                </div>
                                <div class="b-cnt__desc b-article_preview__list__item__body__text ">
                                    <p>
                                        В детстве каждый из нас пишет свой собственный сценарий жизни.
                                        Основной сюжет мы пишем в раннем детстве до того, как научились говорить,
                                        а к четырем годам определяем основные моменты его содержания...
                                    </p>

                                </div>
                                <div class="b-article_preview__list__item__body__status clearfix">
                                    <div class="b-article_preview__list__item__body__status--looking">
                                        <span class="b-article_preview__list__item__body__status--looking__count">11</span>
                                    </div>
                                    <div class=" b-article_preview__list__item__body__status--star">
                                        <i class="b-icon" data-starid="1">&#xe85c;</i>
                                        <i class="b-icon" data-starid="2">&#xe85c;</i>
                                        <i class="b-icon" data-starid="3">&#xe85c;</i>
                                        <i class="b-icon" data-starid="4">&#xe85d;</i>
                                        <i class="b-icon" data-starid="5">&#xe85b;</i>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="b-article_preview__list__controll">
                        <div class="btn--blue ">Показать ещё</div>
                    </div>

                </div>
            </div>
            <div class="b-col_right ">
                <div class="b-article_new__wrap clearfix">
                    <div class="b-article_new">
                    <div class="b-cnt__title-l  clearfix">
                        <h1 class="b-cnt__title-l__title ">Новое</h1>
                        <span class="b-cnt__title-l__notation"></span>
                    </div>
                    <div class="b-article_new__list clearfix ">
                        <div class="b-article_new__list__item clearfix">
                            <img src="assets/article_1.jpg" alt="" class="b-article_new__list__item__img"/>
                            <div class="b-article_new__list__item__body">
                                <div class="b-article_new__list__item__body__title">
                                    Психотерапия стройности
                                </div>
                                <a href="" class="b-cnt__alink">Читать дальше</a>
                            </div>
                        </div>
                        <div class="b-article_new__list__item clearfix">
                            <img src="assets/article_2.jpg" alt="" class="b-article_new__list__item__img"/>
                            <div class="b-article_new__list__item__body">
                                <div class="b-article_new__list__item__body__title">
                                    Как перестать тревожиться и начать жить
                                </div>
                                <a href="" class="b-cnt__alink">Читать дальше</a>
                            </div>
                        </div>
                        <div class="b-article_new__list__item clearfix">
                            <img src="assets/article_3.jpg" alt="" class="b-article_new__list__item__img"/>
                            <div class="b-article_new__list__item__body">
                                <div class="b-article_new__list__item__body__title">
                                    О смысле и счастье
                                </div>
                                <a href="" class="b-cnt__alink">Читать дальше</a>
                            </div>
                        </div>
                        <div class="b-article_new__list__item clearfix">
                            <img src="assets/article_4.jpg" alt="" class="b-article_new__list__item__img"/>
                            <div class="b-article_new__list__item__body">
                                <div class="b-article_new__list__item__body__title">
                                    Психотерапия стройности
                                </div>
                                <a href="" class="b-cnt__alink">Читать дальше</a>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="b-article_new">
                    <div class="b-cnt__title-l  clearfix">
                        <h1 class="b-cnt__title-l__title ">Популярное</h1>
                        <span class="b-cnt__title-l__notation"></span>
                    </div>
                    <div class="b-article_new__list clearfix ">
                        <div class="b-article_new__list__item clearfix">
                            <img src="assets/article_1.jpg" alt="" class="b-article_new__list__item__img"/>
                            <div class="b-article_new__list__item__body">
                                <div class="b-article_new__list__item__body__title">
                                    Психотерапия стройности
                                </div>
                                <a href="" class="b-cnt__alink">Читать дальше</a>
                            </div>
                        </div>
                        <div class="b-article_new__list__item clearfix">
                            <img src="assets/article_2.jpg" alt="" class="b-article_new__list__item__img"/>
                            <div class="b-article_new__list__item__body">
                                <div class="b-article_new__list__item__body__title">
                                    Как перестать тревожиться и начать жить
                                </div>
                                <a href="" class="b-cnt__alink">Читать дальше</a>
                            </div>
                        </div>
                        <div class="b-article_new__list__item clearfix">
                            <img src="assets/article_3.jpg" alt="" class="b-article_new__list__item__img"/>
                            <div class="b-article_new__list__item__body">
                                <div class="b-article_new__list__item__body__title">
                                    О смысле и счастье
                                </div>
                                <a href="" class="b-cnt__alink">Читать дальше</a>
                            </div>
                        </div>
                        <div class="b-article_new__list__item clearfix">
                            <img src="assets/article_4.jpg" alt="" class="b-article_new__list__item__img"/>
                            <div class="b-article_new__list__item__body">
                                <div class="b-article_new__list__item__body__title">
                                    Психотерапия стройности
                                </div>
                                <a href="" class="b-cnt__alink">Читать дальше</a>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <hr/>
                <div class="b-article_new__wrap clearfix">
                    <div class="b-article_subscription">
                        <h2 class="b-cnt__aatitle">Подписка на материалы</h2>
                        <div class="b-cnt__desc">
                            <p>
                                Получайте свежие материалы и новости сайта
                            </p>
                        </div>
                        <form action="" method="post" name="article_subscription" class="b-article_subscription">
                            <input type="text" class="form-input_text b-article_subscription__form_text" placeholder="Выш e-mail"/>
                            <input type="submit" class="btn--blue b-article_subscription__form_submit" value="Подписаться">
                        </form>
                    </div>
                </div>
                <div class="b-article_socialnet">
                    <div class="banner">
                        <img src="assets/banner.jpg" alt=""/>
                    </div>

                    <div class="widget">
                        <img src="assets/widget_socialnet.jpg" alt=""/>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="b-row b-mobile_scroll_up">
        <div class="b-cnt">
            <div class="b-mobile_scroll_up__item js-scroll_up"></div>
        </div>
    </div>
</div>
<!-- include "./partials/footer.html" -->
<!-- include "./partials/_footer.html" -->