.b-col__border-bottom {
   // @extend .line_shadow;
    border-bottom: 1px solid $color00;
    position: relative;
    margin: 0 auto;
}

.b-col__border-bottom-light {
   // @extend .line_light_shadow;
    border-bottom: 1px solid $color00;
    position: relative;
    margin: 0 auto;
}
.b-col {
    position: relative;
    margin: 0 auto;
}
.b-row{

}

.b-cnt{
    padding: 0.5rem;
    margin: 0 auto;
    position: relative;

    @include e('title2') {
        position: relative;
        margin-bottom: 3rem;
        text-align: center; 
        @include e('title') {
            @extend .b-inline;
            @extend .b-title_underlined;
            font-size: 1.8rem;
            @include fsize(33);
            line-height: 2.7rem;
            padding-top: 2rem;

            @media only screen and (max-width: 480px) {
                @include fsize(20);
            }

            @media only screen and (min-width: 768px){
                padding-top: 4rem;
            }
            //hack us browser
            @media only screen and (max-width: 640px ) {
                padding-top: 4rem;
            }
            @media only screen and (max-width: 360px ) {
                @include fsize(20);
            }
        }

        @include e('title2') {
            @extend .b-inline;
            @extend .b-title_underlined;
            font-size: 1.8rem;
            @include fsize(33);
            line-height: 2.7rem;
            padding-top: 2rem;

            @media only screen and (max-width: 480px) {
                @include fsize(20);
            }

            @media only screen and (min-width: 768px){
                padding-top: 2rem;
            }
        }
    }

    @include e('title') {
        position: relative;
        margin-bottom: 4rem;
        text-align: center;

        @include e('title') {
            @extend .b-inline;
            @extend .b-title_underlined;
            font-size: 1.8rem;
            @include fsize(33);
            line-height: 2.7rem;
            padding-top: 2rem;

            @media only screen and (max-width: 480px) {
                @include fsize(20);
            }

            @media only screen and (min-width: 768px){
                padding-top: 4rem;
            }
        }

        @include e('title2') {
            @extend .b-inline;
            @extend .b-title_underlined;
            font-size: 1.8rem;
            @include fsize(33);
            line-height: 2.7rem;
            padding-top: 2rem;

            @media only screen and (max-width: 480px) {
                @include fsize(20);
            }

            @media only screen and (min-width: 768px){
                padding-top: 2rem;
            }
        }

        @include e('notation') {
            //font-weight: 600;
            position: relative;
            display: block;
            @include fsize(20);
            margin-top: 0.2rem;

            @media only screen and (max-width: 480px) {
                @include fsize(16);
            }
        }
    }

    @include e('title-l') {
        position: relative;
        margin-bottom: 3rem;
        text-align: left;

        @include e('title') {
            @extend .b-inline;
            @extend .b-title_underlined;
            @extend .altBoldFont;
            padding-top: 0;
            display: block;
            @include fsize(25);
            line-height: 2.5rem;

            @media only screen and (max-width: 480px) {
                @include fsize(20);
            }
        }

        @include e('notation') {
            //font-weight: 600;
            position: relative;
            display: block;
            @include fsize(20);
            margin-top: 0.2rem;

            @media only screen and (max-width: 480px) {
                @include fsize(16);
            }
        }
    }

    @include e('atitle'){
        @include fsize(27);
        font-weight: bold;
        padding-bottom:2.5rem;
        padding-top: 1rem;
        line-height: 1.2;
        @media only screen and (min-width: 650px){
           padding-left: 1.5rem;
        }
        @media (orientation:landscape) and (min-device-height:1000px),
        all and (min-width:1000px) and (min-resolution: 2dppx){
            padding-left: 0rem;
        }
        @media only screen and (min-width: 960px){
            padding-left: 0rem;
        }

        @include m('center') {
            @include fsize(27);
            font-weight: bold;
            padding-bottom:2.5rem;
            padding-top: 1rem;
            line-height: 1.2;
            text-align: center;
        }
    }


    @include e('aatitle'){
        @include fsize(25);
        font-weight: bold;
       // padding-bottom:2.5rem;
        padding-top: 1rem;
        line-height: 1.2;
    }

    @media only screen and (min-width: 960px){
        width: 920px;

    }
    @media (orientation:landscape) and (min-device-height:1000px),
    all and (min-width:1000px) and (min-resolution: 2dppx){
        width: 960px;

    }
    @media only screen and (min-width: 961px){
        width: 960px;
    }





    @include e('list'){
        margin-bottom: 0.6rem ;

        @include e('item') {
            text-align: left;
            margin:0.5rem 0;
            @extend .altLightFont;
            @include fsize(16);
            line-height: 1.5;

            .b-icon{
                @include fsize(16);
                color: $color6;
            }

            @include respond-to(laptop){
                margin-left: 1rem;
            }

           @include m('w') {
               margin-left: 3rem;
               margin-top: -2.5rem;
               margin-bottom: 1rem;

           }
        }

        @include e('item_w') {
            text-align: left;
            margin:0.5rem 0;
            @extend .altLightFont;
            @include fsize(16);
            line-height: 1.5;
            padding: 2rem 0 0.5rem 0;
            border-bottom: 1px solid $color1;

            &:last-child{
                border: none;
            }

            @include respond-to(laptop){
                margin-left: 1rem;
            }

            @include m('w') {
                margin-left: 3rem;
                margin-top: -2.5rem;
                margin-bottom: 1rem;

            }
        }
    }

    @include e('desc'){

        @include fsize(16);
        @extend .altLightFont;
        text-align: left;
        //   line-height: 1.5;
        padding-bottom: 3rem;
        padding-left: 0.5rem;


        //hack us browser
        @media only screen and (min-width: 360px ) {
            padding-left: 0rem;
        }


        @media only screen and (min-width: 480px) {
            padding-left: 0rem;
        }

        @media only screen and (min-width: 640px ) {
            padding-left: 1.8rem
        }

        @media only screen and (min-width: 650px) {
            padding-left: 2rem;
        }

        @media only screen and (min-width: 667px) {
            padding-left: 0rem;
        }

        @media only screen and (min-width: 736px) {
            padding-left: 0rem;

        }
        @media only screen and (min-width: 768px) {
            padding-left: 1.5rem;
            padding-right: 1rem;
        }
        @media (orientation:landscape) and (min-device-height:1000px),
        all and (min-width:1000px) {
            padding-left: 0rem;
            padding-right: 0rem;
        }
        @media only screen and (min-width: 960px) {
            padding-left: 0rem;
            padding-right: 0rem;
        }

        p{

            @extend .altLightFont;
            line-height: 1.4;

            @media (orientation:landscape) and (min-device-height:1000px),
            all and (min-width:1000px) {
                line-height: 1.6;
                @include fsize(16);
            }
            @media only screen and (min-width: 960px) {
                line-height: 1.6;
                @include fsize(16);
            }
        }

    }
    @include e('link'){
        @include fsize(16);
        @extend .altFont;
        text-align: left;
        color:$color6;
        display: inline-block;
        &:visited{
            color:$color6;
        }
    }

    @include e('alink'){
        @include fsize(13);
        @extend .altLightFont;
        text-align: left;
        color:$color6;
        display: inline-block;
        &:visited{
            color:$color6;
        }
    }
    @include e('aalink'){
        @include fsize(16);
        @extend .altLightFont;
        text-align: left;
        color:$color6;
        display: inline-block;
        &:visited{
            color:$color6;
        }
    }
}



.b-col_right{

    position: relative;
    @media (orientation:landscape) and (min-device-height:1000px),
    all and (min-width:1000px) and (min-resolution: 2dppx) {
        width: 24rem;
        float: right;
        border-left:    1px solid  $color11;
        min-height: 20rem;
        padding-left: 2rem;
    }
    @media only screen and (min-width: 960px) {
        width: 22rem;
        float: right;
        border-left: 1px solid  $color11;
        min-height: 20rem;
        padding-left: 2rem;
    }
    @media only screen and (min-width: 961px) {
        width: 23rem;
        float: right;
        border-left: 1px solid  $color11;
        min-height: 20rem;
        padding-left: 2rem;
    }

}
.b-col_left{

    position: relative;


    @media (orientation:landscape) and (min-device-height:1000px),
    all and (min-width:1000px) and (min-resolution: 2dppx){
        width: 66rem;
        float: left;
        padding-right: 2rem;
    }

    @media only screen and (min-width: 960px){
        width: 65rem;
        float: left;
        padding-right: 2rem;
    }

    @media only screen and (min-width: 961px){
        width: 65rem;
        float: left;
        padding-right: 2rem;
    }

}
