.b-contact_popup, .b-contact_popup--position__icon_phone{
    position: absolute;
    margin-top:-400px;
    margin-left: -47px;
    // display: none;
    z-index:10000;

    @include e('romb'){
        border: 1px solid $color00;
        border-bottom: none;
        border-right: none;
        width: 1rem;
        height: 1rem;
        position: absolute;
        transform: rotate(45deg);
        margin: -5px 0 0 20rem;
        background: $color0A;
        z-index: 250;

        @media only screen and (min-width: 960px){
            margin: -5px 0 0 20rem;
        }

    }
    @include e('cnt'){
       // @extend .box_shadow;
        border: 1px solid $color00;
        padding: 0;
        margin-left: 3rem;
        margin-top: 0.1rem;

        @media only screen and (min-width: 960px){
            margin-top: 0rem;
        }
    }
    @include e('item'){
        border-top: 1px solid $color00;
        background: $color0A;
        position: relative;
        min-width: 20rem;
        min-height: 2.5rem;
        text-align: center;
        padding: 0.5rem;
        margin-top: -1px;

        &:first-child{
            padding-top: 1.2rem;
        }

        @include respond-to(phone-m3-landscape) {
            min-height: 2rem;
        }

        @include e('mode'){
            @include fsize(12);
            color: $color11;
            @include respond-to(phone-m3-landscape) {
                @include fsize(12);
            }
        }
        @include e('phone'){
            @include fsize(14);
            line-height: 1.5;
            color: $color10;
            @include respond-to(phone-m3-landscape) {
                @include fsize(14)
            }
        }
        @include e('mail'){
            @include fsize(14);
            color: $color10;
            @include respond-to(phone-m3-landscape) {
                @include fsize(14)
            }
        }
    }
}
.b-label{
    @include fsize(15);
    color:$color3;
    font-weight: 500;
    @include respond-to(phone-m3-landscape) {
        font-size: 0.9rem;
    }
}
.contact_popup--animation-bounceInDown {
    @extend .bounceInDown;
    margin-top:9px;
    @media only screen and (min-width: 960px){
        margin-top:5px;
    }
}
.contact_popup__icon_phone--animation-bounceInDown {
    @extend .bounceInDown;
    margin-top: 0.7rem;
}
@-moz-document url-prefix() {
    .contact_popup--animation-bounceInDown{
        margin-top:5px;
    }
}

.b-contact_popup--position__icon_phone{
    margin-left: -19rem;

    .b-contact_popup__romb {
        margin: -5px 0 0 20rem;

        @media only screen and (min-width: 960px){
            margin: -8px 0 0 14rem;
        }
    }
}