@font-face {
    font-family: 'geometriabold';
    src: url('../fonts/geometria/Geometria-Bold.otf');
    src: url('../fonts/geometria/Geometria-Bold.svg#geometriaregular') format('svg');
    src: url('../fonts/geometria/Geometria-Bold.ttf') format('truetype');
    src: url('../fonts/geometria/Geometria-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'geometriaregular';
    src: url('../fonts/geometria/Geometria.otf');
    src: url('../fonts/geometria/Geometria.svg#geometriaregular') format('svg');
    src: url('../fonts/geometria/Geometria.ttf') format('truetype');
    src: url('../fonts/geometria/Geometria.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* font-family: 'RobotoRegular'; */
@font-face {
    font-family: 'RobotoRegular';
    src: url('../fonts/Roboto/RobotoRegular/RobotoRegular.eot');
    src: url('../fonts/Roboto/RobotoRegular/RobotoRegular.eot?#iefix')format('embedded-opentype'),
    url('../fonts/Roboto/RobotoRegular/RobotoRegular.woff') format('woff'),
    url('../fonts/Roboto/RobotoRegular/RobotoRegular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
/* font-family: 'RobotoLight'; */
@font-face {
    font-family: 'RobotoLight';
    src: url('../fonts/Roboto/RobotoLight/RobotoLight.eot');
    src: url('../fonts/Roboto/RobotoLight/RobotoLight.eot?#iefix')format('embedded-opentype'),
    url('../fonts/Roboto/RobotoLight/RobotoLight.woff') format('woff'),
    url('../fonts/Roboto/RobotoLight/RobotoLight.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
/* font-family: 'RobotoMedium'; */
@font-face {
    font-family: 'RobotoMedium';
    src: url('../fonts/Roboto/RobotoMedium/RobotoMedium.eot');
    src: url('../fonts/Roboto/RobotoMedium/RobotoMedium.eot?#iefix')format('embedded-opentype'),
    url('../fonts/Roboto/RobotoMedium/RobotoMedium.woff') format('woff'),
    url('../fonts/Roboto/RobotoMedium/RobotoMedium.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
/* font-family: 'RobotoBold'; */
@font-face {
    font-family: 'RobotoBold';
    src: url('../fonts/Roboto/RobotoBold/RobotoBold.eot');
    src: url('../fonts/Roboto/RobotoBold/RobotoBold.eot?#iefix')format('embedded-opentype'),
    url('../fonts/Roboto/RobotoBold/RobotoBold.woff') format('woff'),
    url('../fonts/Roboto/RobotoBold/RobotoBold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

/* font-family: 'RobotoRegular'; */
@font-face {
    font-family: 'RobotoRegular';
    src: url('../fonts/Roboto/RobotoRegular/RobotoRegular.eot');
    src: url('../fonts/Roboto/RobotoRegular/RobotoRegular.eot?#iefix')format('embedded-opentype'),
    url('../fonts/Roboto/RobotoRegular/RobotoRegular.woff') format('woff'),
    url('../fonts/Roboto/RobotoRegular/RobotoRegular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
/* font-family: 'RobotoCondensedRegular'; */
@font-face {
    font-family: 'RobotoCondensedRegular';
    src: url('../fonts/RobotoCondensed/RobotoCondensedRegular/RobotoCondensedRegular.eot');
    src: url('../fonts/RobotoCondensed/RobotoCondensedRegular/RobotoCondensedRegular.eot?#iefix')format('embedded-opentype'),
    url('../fonts/RobotoCondensed/RobotoCondensedRegular/RobotoCondensedRegular.woff') format('woff'),
    url('../fonts/RobotoCondensed/RobotoCondensedRegular/RobotoCondensedRegular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
/* font-family: 'RobotoCondensedLight'; */
@font-face {
    font-family: 'RobotoCondensedLight';
    src: url('../fonts/RobotoCondensed/RobotoCondensedLight/RobotoCondensedLight.eot');
    src: url('../fonts/RobotoCondensed/RobotoCondensedLight/RobotoCondensedLight.eot?#iefix')format('embedded-opentype'),
    url('../fonts/RobotoCondensed/RobotoCondensedLight/RobotoCondensedLight.woff') format('woff'),
    url('../fonts/RobotoCondensed/RobotoCondensedLight/RobotoCondensedLight.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
/* font-family: 'RobotoCondensedBold'; */
@font-face {
    font-family: 'RobotoCondensedBold';
    src: url('../fonts/RobotoCondensed/RobotoCondensedBold/RobotoCondensedBold.eot');
    src: url('../fonts/RobotoCondensed/RobotoCondensedBold/RobotoCondensedBold.eot?#iefix')format('embedded-opentype'),
    url('../fonts/RobotoCondensed/RobotoCondensedBold/RobotoCondensedBold.woff') format('woff'),
    url('../fonts/RobotoCondensed/RobotoCondensedBold/RobotoCondensedBold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}


@font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello-18ea193c/font/quote.eot?49751481');
    src: url('../fonts/fontello-18ea193c/font/quote.eot?49751481#iefix') format('embedded-opentype'),
    url('../fonts/fontello-18ea193c/font/quote.woff?49751481') format('woff'),
    url('../fonts/fontello-18ea193c/font/quote.ttf?49751481') format('truetype'),
    url('../fonts/fontello-18ea193c/font/quote.svg?49751481#phone') format('svg');
    font-weight: normal;
    font-style: normal;
}



/* font-family: "UbuntuRegular"; */
@font-face {
    font-family: "UbuntuRegular";
    src: url("../fonts/Ubuntu/UbuntuRegular/UbuntuRegular.eot");
    src: url("../fonts/Ubuntu/UbuntuRegular/UbuntuRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Ubuntu/UbuntuRegular/UbuntuRegular.woff") format("woff"),
    url("../fonts/Ubuntu/UbuntuRegular/UbuntuRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "UbuntuBold"; */
@font-face {
    font-family: "UbuntuBold";
    src: url("../fonts/Ubuntu/UbuntuBold/UbuntuBold.eot");
    src: url("../fonts/Ubuntu/UbuntuBold/UbuntuBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Ubuntu/UbuntuBold/UbuntuBold.woff") format("woff"),
    url("../fonts/Ubuntu/UbuntuBold/UbuntuBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "UbuntuItalic"; */
@font-face {
    font-family: "UbuntuItalic";
    src: url("../fonts/Ubuntu/UbuntuItalic/UbuntuItalic.eot");
    src: url("../fonts/Ubuntu/UbuntuItalic/UbuntuItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Ubuntu/UbuntuItalic/UbuntuItalic.woff") format("woff"),
    url("../fonts/Ubuntu/UbuntuItalic/UbuntuItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "UbuntuLight"; */
@font-face {
    font-family: "UbuntuLight";
    src: url("../fonts/Ubuntu/UbuntuLight/UbuntuLight.eot");
    src: url("../fonts/Ubuntu/UbuntuLight/UbuntuLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Ubuntu/UbuntuLight/UbuntuLight.woff") format("woff"),
    url("../fonts/Ubuntu/UbuntuLight/UbuntuLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "UbuntuLightItalic"; */
@font-face {
    font-family: "UbuntuLightItalic";
    src: url("../fonts/Ubuntu/UbuntuLightItalic/UbuntuLightItalic.eot");
    src: url("../fonts/Ubuntu/UbuntuLightItalic/UbuntuLightItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Ubuntu/UbuntuLightItalic/UbuntuLightItalic.woff") format("woff"),
    url("../fonts/Ubuntu/UbuntuLightItalic/UbuntuLightItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "UbuntuMedium"; */
@font-face {
    font-family: "UbuntuMedium";
    src: url("../fonts/Ubuntu/UbuntuMedium/UbuntuMedium.eot");
    src: url("../fonts/Ubuntu/UbuntuMedium/UbuntuMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Ubuntu/UbuntuMedium/UbuntuMedium.woff") format("woff"),
    url("../fonts/Ubuntu/UbuntuMedium/UbuntuMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "UbuntuMediumItalic"; */
@font-face {
    font-family: "UbuntuMediumItalic";
    src: url("../fonts/Ubuntu/UbuntuMediumItalic/UbuntuMediumItalic.eot");
    src: url("../fonts/Ubuntu/UbuntuMediumItalic/UbuntuMediumItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Ubuntu/UbuntuMediumItalic/UbuntuMediumItalic.woff") format("woff"),
    url("../fonts/Ubuntu/UbuntuMediumItalic/UbuntuMediumItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "UbuntuBoldItalic"; */
@font-face {
    font-family: "UbuntuBoldItalic";
    src: url("../fonts/Ubuntu/UbuntuBoldItalic/UbuntuBoldItalic.eot");
    src: url("../fonts/Ubuntu/UbuntuBoldItalic/UbuntuBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Ubuntu/UbuntuBoldItalic/UbuntuBoldItalic.woff") format("woff"),
    url("../fonts/Ubuntu/UbuntuBoldItalic/UbuntuBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}