.b-footer{
    min-height: 224px;
    color:$color0A;
    background: $color8;
    width: 100%;


    @include e('cnt'){
        margin: 0 auto;
        position: relative;
        padding: 0.5rem  2rem;;

        @media only screen and (min-width: 960px) {
            width: 918px;
        }
        @media (orientation:landscape) and (min-device-height:1000px),
        all and (min-width:1000px) {
            width: 960px;
        }
        @media only screen and (min-width: 961px) {
            width: 960px;
        }
    }

    @include e('desc'){
        text-transform: lowercase;
        margin: 0rem .2rem .5rem 12rem;
        position: relative;
        display: block;
        @include fsize(14);
        width: 152px;
        top: 2.5rem;
        left: 1rem
    }

    @include e('contact') {
        float: right;
        display: none;
        margin: 2.5rem 7rem 1rem 0;


        @media only screen and (min-width: 520px) {
            display: inline-block;
            margin: 0.5rem 2rem 0.5rem 2rem;
        }

        @media only screen and (min-width: 600px) {
            display: inline-block;
            margin: 0.5rem 2rem 0.5rem 7rem;
            margin-top: 1.7rem;

        }

        @media (orientation:landscape) and (min-device-height:1000px),
        all and (min-width:1000px) and (min-resolution: 2dppx){
            display: inline-block;
            margin-top: 1.7rem;
        }
        @media only screen and (min-width: 960px) {
            display: inline-block;
            margin-top: 1.7rem;
        }

        @include m('phone'){
            font-weight: bold;
            @include fsize(20);
            padding-bottom: .3rem;
            display: inline-block;
            color:$color0A!important;
            text-decoration: none;
        }

        @include m('mode'){
            display: block;
            @extend .altFont;
            @include fsize(14)
        }
    }

    @include e('social_media') {
        float: right;
        display: none;
        text-align: center;
        margin: 2.2rem 2rem .5rem 16rem;

        @include e('title') {
            position: relative;
            margin-top: -0.2rem;
            text-align: center;
            padding-bottom: 0.70em;
            @include fsize(12);
        }

        @include e('link'){
            color: $color0A;
            @include fsize(18);
            &:visited{
                color: $color0A;
            }
        }


        @media only screen and (min-width: 960px) {
            display: block;
            margin: 2.2rem 4rem .5rem 16rem;
        }
        @media (orientation:landscape) and (min-device-height:1000px),
        all and (min-width:1000px) and (min-resolution: 2dppx){
            display: block;
            margin: 2.2rem 2rem .5rem 16rem;;
        }
        @media only screen and (min-width: 961px) {
            display: block;
            margin: 2.2rem 2rem .5rem 16rem;
        }
    }

    @include e('nav_panel') {
        padding: 1rem 0;

        @include e('social_media') {
            position: relative;
            float: left;

            @include m('left'){
                display: block;

                .b-footer__social_media__link{
                    @include respond-to(fromPhone) {
                        @include fsize(18);
                    }
                }
                @media (orientation:landscape) and (min-device-height:1000px),
                all and (min-width:1000px) and (min-resolution: 2dppx){
                    display: none;
                }
                @media only screen and (min-width: 960px) {
                   display: none;
               }
           }
        }

        @include e('mobile_menu') {
            position: relative;
            float: right;
            display: none;

            .b-nav_panel__nav_panel__mobile_menu__shortlink{
                position: relative;
                margin: -0.3rem 0 0 0;
                padding: 0;
            }
            .b-nav_panel__mobile_menu__link{
                color: $color0A;

            }
            .b-nav_panel__mobile_menu__shortlink__item{
                margin: 0rem 0.1rem;
            }

            @media only screen and (max-width: 650px) {
                display: block;
            }

        }

        @include e('line_menu') {
            display: none;

            .b-nav_panel__line_menu {
                width: 78rem;
                margin:  0 auto;

            }

            @-moz-document url-prefix() {
                .b-nav_panel__line_menu {
                    width: 77.5rem;
                    margin:  0 auto;
                }
            }
            .b-nav_panel__line_menu__item{
                @media (orientation:landscape) and (min-device-height:1000px),
                all and (min-width:1000px) and (min-resolution: 2dppx){
                    margin: 1rem 1.5rem;
                }
                @media only screen and (min-width: 960px) {
                    margin: 1rem 1.5rem;
                }
            }

            .b-nav_panel__line_menu__link {
                color: $color0A;
                @include fsize(16);
                font-weight: bold;
                &:visited{
                    color: $color0A;
                }
            }
            .b-nav_panel__line_menu__item:after{
                content: "|";
                color: $color0A;
                font-size: 1.5rem;
                right: -2rem;
                top: 0.5rem;
                position: absolute;


            }
            .b-nav_panel__line_menu__item:last-child:after{
                content: " ";
            }
            @media (orientation:landscape) and (min-device-height:1000px),
            all and (min-width:1000px) and (min-resolution: 2dppx){
                display: block;
                width: 77rem;
                margin: 0 auto;
            }
            @media only screen and (min-width: 960px) {
                display: block;
                width: 77rem;
                margin: 0 auto;
            }
        }
    }

    @include e(wrapper){
        @extend .clearfix;
    }

    .icon-home{
        font-size: 33px!important;
        font-size: 3.3rem!important;
    }

    .ico-mail, .ico-phone{

        font-size: 30px!important;
        font-size: 3rem!important;
    }
}

.b-copyright{
    line-height: 1;
    color:$color1;
    text-align: center;
    @include fsize(10);
    padding-top: 1rem;

    @include respond-to(fromPhone) {
        @include fsize(10);
        text-align: left;
    }

}