.form-row{
    padding: 1rem 0;
}
.form-label{
    @include fsize(16);
    display: block;
    padding: 1rem 0;
}
.form-label_textarea{
    position: relative;
    @media only screen and (min-width: 768px) {
        top: -89px;
    }
}
.form-input_text{
    width: 28rem;
    height: 3rem;
    border: 1px solid $color1;
    color: $color1;
    padding: 0 1rem;
    @include fsize(14);
    @extend .altLightFont;
    position: relative;

    @media only screen and (min-width: 960px) {
        width: 32rem;
    }

    &:active{
        border: 1px solid $color6;
        @extend .altFont;
    }
    &:focus{
        border: 1px solid $color6;
        color: $color10;
        @extend .altFont;
    }
}
.form-input_text--short{
    width:16rem;
}
.form-select{
    width: 25.2rem;
    height: 3rem;
    border: 1px solid $color1;
    color: $color1;
    padding: 0 1rem;
    @include fsize(14);
    @extend .altLightFont;
    background: #fff;
    &:active{
        border: 1px solid $color6;
        @extend .altFont;
    }

    &:focus{
        border: 1px solid $color6;
        color: $color10;
        @extend .altFont;
    }
}
.form-area{
    width: 23rem;
    height: 14.9rem;
    border: 1px solid $color1;
    color: $color1;
    padding: 1rem 1rem;
    @extend .altLightFont;
    @include fsize(14);
    text-align: left;
    white-space: normal;

    @media only screen and (min-width: 960px) {
        width: 32rem;
    }

    &:active{
        border: 1px solid $color6;
        @extend .altFont;
    }
    &:focus{
        border: 1px solid $color6;
        color: $color10;
        @extend .altFont;
    }
}
.s-form-error{
    font-family: UbuntuLightItalic;
    @include fsize(16);
    color: $colorA2;
    text-align: left;
    border: 1px solid $colorA2;

    &:hover{
        font-family: UbuntuLightItalic;
        color: $colorA2;
    }
    &:active{
        font-family: UbuntuLightItalic;
        color: $colorA2;
        border: 1px solid $colorA2;
    }

    &:focus{
        font-family: UbuntuLightItalic;
        @include fsize(16);
        color: $colorA2;
        border: 1px solid $colorA2;;
    }
}


input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    cursor:pointer;
    float: left;

    &:before{
        content: '\e822'; //
        font-family: fontello;
        font-style: normal;
        color: $color6;
        font-weight: 400;
        @include fsize(15);
        text-decoration: inherit;
        width: 1em;
        text-align: center;
        text-transform: none;
        line-height: 1rem;
        top: 0.6rem;
        position: relative;
    }
}
input[type="checkbox"]:checked + label span {
    &:before{
        content: '\e821'; //
        font-family: fontello;
        font-style: normal;
        color: $color6;
        font-weight: 400;
        @include fsize(15);
        text-decoration: inherit;
        width: 1em;
        text-align: center;
        text-transform: none;
        line-height: 1rem;
        top: 0.6rem;
        position: relative;
    }
}

.b-radio[type='radio'] {
    -webkit-appearance:none;
    width:20px;
    height:20px;
    border:1px solid $color1;
    border-radius:50%;
    outline:none;
    box-shadow:0 0 2px 0px $color1g inset;
}

.b-radio[type='radio']:hover {
    box-shadow:0 0 2px 0px orange inset;
}

.b-radio[type='radio']:before {
    content:'';
    display:block;
    width: 1rem;
    height: 1rem;
    margin: 4px auto;
    border-radius:50%;
}
.b-radio[type='radio']:checked:before {
    background:$color6;
}


.b-radio_title{
    position: relative;
    top: -4px;
    padding: 0 2rem 0 0.5rem;
    @extend .altLightFont;
    @include fsize(16);
}
.b-radio_wrap{
    position: relative;
    top: 5px;
}
.js-open_window{
    cursor:pointer;
}