.header{
    z-index: 3000;
}
.b-header{
    margin:  0 auto;
    position: relative;
    padding: 0 2rem;
    height: 79px;

    @include e('desc'){
        text-transform: lowercase;
        margin: 0rem .2rem .5rem 14rem;
        position: relative;
        display: block;
        width: 152px;
        top: 2.8rem; 
        padding: 0;
        line-height: 1;
         @include fsize(14);

        @media only screen and (max-width: 320px) {
            width: 147px;
        }

        @media (orientation:landscape) and (min-device-height:1000px),
        all and (min-width:1000px) and (min-resolution: 2dppx){
            width: 142px;
        }

        @media only screen and (min-width: 960px){
            width: 142px;
        }
    }
    @include e('info') {
        display: none;
        width: 26rem;
        position: relative;
        float: right;
        top: 3rem;
        right: 0rem;
        @include fsize(12);


        @media only screen and (min-width: 520px){
            display: none;
        }

        @media only screen and (min-width: 650px){
            display: none;
        }

        @media (orientation:landscape) and (min-device-height:1000px),
        all and (min-width:1000px) and (min-resolution: 2dppx){
            display: inline-block;
            margin-right: 2rem;
        }
        @media only screen and (min-width: 960px){
            display: inline-block;
            margin-right: 2rem;
        }
        //hack us browser
        @media only screen and (max-width: 640px ) {
            display: none;
        }
        @media only screen and (max-width: 360px ) {
            display: none;
        }
    }
    @include e('contact'){
        float: right;
        display: none;

        margin: 1.5rem 2rem .5rem 7rem;

        @media only screen and (min-width: 520px){
            display: inline-block;
            margin: 1.5rem 2rem 0.5rem 2rem;
        }
        @media only screen and (min-width: 568px){
            display: inline-block;
            margin: 2.2rem 2rem 0.5rem 2rem;
        }


        @media only screen and (min-width: 620px){
            display: inline-block;
            margin: 2.2rem 2rem 0.5rem 7rem;
        }

        @media (orientation:landscape) and (min-device-height:1000px),
        all and (min-width:1000px) and (min-resolution: 2dppx){
            display: inline-block;
        }
        @media only screen and (min-width: 960px){
            display: inline-block;
        }


        @include m('phone'){
            font-weight: bold;
            @include fsize(22);
            text-align: right;
        }
        @include m('mode'){
            display: block;
            top: 1.5rem;
            @include fsize(16);

            @include respond-to(phone-landscape-d1) {
                display: none;
            }
            @include respond-to(phone-d1) {
                display: none;
            }
            @include respond-to(phone-landscape-d2) {
                display: none;
            }
            @include respond-to(phone-d2) {
                display: none;
            }
            @media (orientation:landscape) and (min-device-height:1000px),
            all and (min-width:1000px) and (min-resolution: 2dppx){
                display: none;
            }
            @media only screen and (min-width: 960px){
                display: none;
            }

        }
        @include m('other'){
            display: none;
            @include fsize(16);
            width: 15rem;
            position: relative;
            margin: 0.5rem 0;
            color: $color6;
            cursor:pointer;
            width: 19rem;
            text-align: right;
            margin-top: .8rem;


            @include e('text'){
                font-family: $baseFontFamily;

                @media (orientation:landscape) and (min-device-height:1000px),
                all and (min-width:1000px) and (min-resolution: 2dppx){
                    margin-right: 1rem;
                }
                @media only screen and (min-width: 960px){
                    margin-right: 1rem;
                }
            }

            @include respond-to(phone-landscape-d1) {
                display: block;
            }
            @include respond-to(phone-d1) {
                display: block;
            }
            @include respond-to(phone-landscape-d2) {
                display: block;
            }
            @include respond-to(phone-d2) {
                display: block;
            }
            @media (orientation:landscape) and (min-device-height:1000px),
            all and (min-width:1000px) and (min-resolution: 2dppx){
                display: block;
            }
            @media only screen and (min-width: 960px){
                display: block;
            }


        }
    }
}

.b-logo {
    color: $color0A;
    width: 13rem;
    display: block;
    position: relative;
    float: left;
    margin-top: 2.5rem;
    cursor: pointer;
}

.b-logo:visited{
    color: $color0A;
}





