.lock {
    /* when modal is opened we're removing scrollbars from the main content */
    overflow: hidden;
    position: relative;
}

.shim {
    /* shim will stay fixed and will take all the space available */
    position: fixed;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0px;
    right: 0;
    overflow:hidden;
    width: 100%;

    /* if modal content doesn't fit inside the shim, display scrollbars */
    //overflow: auto;
    z-index: 99099;

    /* allow one-finger iPad scrolling */
    -webkit-overflow-scrolling: touch;
}

/* fix for iPad glitches */
.shim > * {
    -webkit-transform: translateZ(0px);
}

.shim {
    background: rgba(0,0,0,0.5);
    z-index: 10000;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000); /* IE6–IE8 */
    zoom: 1;
}

.shim:after {
    display: inline-block;
    height: 100%;
    margin-left: -0.05em;
    content: "";
}

.modal {
    background: $color0A;
    width: 263px;
    min-width: 263px;
    margin: 0px auto;
    max-width: 550px;
    border: 3px solid $color6;
    padding: 20px;
    pointer-events: auto;
    overflow-scrolling: touch;
    left: 0;
    right: 0;
    //top:0;
    position:fixed;
   // position:absolute;
    overflow: auto;
    z-index: 11000;

    //outline: none;
/*    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;*/

    @media only screen and (min-height: 320px){
        height: 480px;
        .modal_cnt{
            margin-bottom: 350px;
        }
    }
    @media only screen and (min-height: 850px){

        height: auto;
        .modal_cnt{
            margin-bottom: auto;
        }
    }
    @media only screen and (min-width: 330px) and (orientation: portrait){

        margin: 0;
        top: 50%;
        left: 50%;
        position:fixed;
        transform: translate(-50%, -50%);

    }
    @media only screen and (min-width: 768px){
        width: 540px;
        margin: 0;
        top: 50%;
        left: 50%;
        position:fixed;
        transform: translate(-50%, -50%);
    }
    @media only screen and (min-width: 960px){
        width: 540px;
        top: 50%;
        left: 50%;
        margin: 0;
        position:fixed;
        transform: translate(-50%, -50%);
    }
}

.modal .close {
    float: right;
    text-decoration: none;
    font-size: 40px;
    margin-top: -25px;
    margin-right: -11px;
    color: $color10;
    cursor: pointer;
}
.modal_cnt{
    @include e('title') {
        @include fsize(20);
        @extend .altBoldFont;
        text-align: center;
        text-transform: uppercase;
    }
    @include e('subtitle') {
        @include fsize(16);
        @extend .altLightFont;
        text-align: center;
        margin-bottom: 2rem;
    }
}

.b-cnt_contact__cnt__form_study_advice__form{
    width: 260px;
    margin: 0 auto;
    @media only screen and (min-width: 768px){
        width: 514px;
        position: relative;
    }

    .form-label{
        @include fsize(16);
        @extend .altFont;
        padding-right: 2rem;

        @media only screen and (min-width: 768px){
            width: 14rem;
            text-align: right;
            display: inline-block;
        }
    }
    .form-input_text{
        width: 23rem;
    }
}

.b-cnt_contact__cnt__form_appointment__form{
    width: 260px;
    margin: 0 auto;
    @media only screen and (min-width: 768px){
        width: 514px;
        position: relative;
    }

    .form-label{
        @include fsize(16);
        @extend .altFont;
        padding-right: 2rem;

        @media only screen and (min-width: 768px){
            width: 18rem;
            text-align: right;
            display: inline-block;
        }
    }
    .form-input_text{
        width: 23rem;
    }
}
.b-cnt_contact__cnt__form_study_advice__form .form-row{
    padding: 0.3rem 0;
}
.b-cnt_contact__cnt__form_study_advice__submit{

    @media only screen and (min-width: 768px){
        margin-left: 21.3rem;
    }
}
.study_advice_yes{
    margin-top: 1rem;
    margin-bottom: 1rem;
    position: relative;

    @media only screen and (min-width: 768px){
        margin-left: 21.3rem;
    }

    @include e('licen'){
        width: 24rem;

        .b-cnt__link{
            @include fsize(10);
        }
    }
}
.b-study_advice_skype{
    display: none;
}
.b-study_advice_meet_address__item{
    color:$colorA2;
    width: 254px;
    margin-top: 2rem;
    margin-bottom: 1rem;
    &:before{
        content: '\e873';
        color:$colorA2;
        font-family: fontello;
        font-style: normal;
        font-weight: 400;
        speak: none;
        @include fsize(28);
        text-decoration: inherit;
        width: 1em;
        margin-right: 0.5rem;
        text-align: center;
        font-variant: normal;
        text-transform: none;
        line-height: 1rem;
        top: 1rem;
        position: relative;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    @media only screen and (min-width: 768px){
        margin-left: 16rem;
        width: 258px;
        margin-top: 1rem;
    }

    @include m('title'){
        @extend .altLightFont;
        @include fsize(14);
        position: relative;
        margin: -24px 0 0 36px;
    }
    @include m('body'){
        @extend .altLightFont;
        @include fsize(12);
        margin: 0px 0 0 36px;
    }
}