.nav_panel{
    z-index: 444;
    background: $color0D;
    width: 100%;
    padding: 0.1rem 0px;

}
.nav_panel__fixed{
    position: fixed;
    top: 0px;
}
.b-nav_panel{

    margin:  0 auto;
    position: relative;
    padding: 0 2rem;


    @include e('line_menu'){
        //margin:  0 auto;
        margin:  0;
        padding: 0;
       // width: 44rem;
       // height: 4.4rem;
        display: none;

        @include e('item'){
            display:inline-block;
            position: relative;
            margin: 1rem 3rem 1rem 0rem;
            // cursor:pointer;
        }

        @include e('link'){
            color: $color9;

            text-decoration: none;
            display: inline-block;
            @include fsize(17);
            padding-top: 5px;

            &:hover{
                color: $color6!important;
            }

            &:visited{
                color: $color9;
            }
        }
        //Выбранный пункт (класс состояния элемента)
        .st-nav_panel__line_menu__item--selected{
            .b-nav_panel__line_menu__link {
                color: $color6;
            }
        }


        @include e('submenu'){
           // @extend .line_shadow;
            position: absolute;
            display: none;
            background: $color0D;
            padding: 0;
            margin: 0;
            margin-left: -8px;
            margin-top: 12px;
            z-index: 1999;

            @include e('item'){

                margin: 0;
                border-top: 1px solid $color1;
                z-index: 1800;

                @include e('linksub'){
                    color: $color9;
                    text-decoration: none;
                    display: block;
                    font-weight: bold;
                    @include fsize(14);
                    padding: 0.5rem 2rem;

                    &:visited{
                        color: $color9;
                    }
                }

                &:hover{
                    background: $color6;
                    .b-nav_panel__line_menu__submenu__item__linksub{
                        color: $color0A!important;
                    }
                }
            }
            //Выбранный пункт (класс состояния элемента)
            .st-nav_panel__line_menu__submenu__item--selected{
                background: $color6;
                .b-nav_panel__line_menu__submenu__item__linksub{
                    color: $color0A!important;
                }
            }
        }
        @-moz-document url-prefix() {
            @include e('submenu') {
                margin-top: 12px;
            }
        }

        @media only screen and (min-width: 768px) {
            display: block;
           // border: 1px solid red;

        }
        @media (orientation:landscape) and (min-device-height:1000px),
        all and (min-width:1000px) and (min-resolution: 2dppx){
            display: block;
            float: left;
        }
        @media only screen and (min-width: 960px) {
            display: block;
            float: left;
        }


    }

    @include e('mobile_menu'){
        display: none;

        .icon-home{
            @include fsize(33);
        }

        @include e('link'){
            color:$color6;
            @include fsize(30);
            display: block;
            cursor: pointer;
            z-index: 4000;

            &:visited{
                color:$color1!important;
            }
            &:hover{
                color:$color1!important;
            }
            &:active {
                color: $color1!important;
            }
        }

        @include e('mainmenu'){
            display: inline-block;
            position: relative;
            float: left;
            margin: 0.77rem 0;
        }
        @include e('shortlink'){
            display: inline-block;
            position: relative;
            float: right;
            padding: 0;
            margin: 0;
            margin: 0.5rem 0;

            @include e('item'){
                display: inline-block;
                position: relative;
                margin: 0rem 0.5rem;
                padding: 0;
            }
        }

        //Выбранный пункт (класс состояния элемента)
        .st-nav_panel__mobile_menu__item--selected{
            .b-nav_panel__mobile_menu__link{
                color:$color1;
            }
        }
        @media only screen and (max-width: 767px) {
            display: block;
        }

    }

    @include e('sidebar'){
        position: fixed;
        background: $color8;

        min-height: 100vh;
        height: auto;
        left: 0px;
        height: 100%;
        //top: 7.6rem;
        top: 0rem;
        min-width: 23rem;
        z-index: 3303;
        // overflow-y: auto;
        transform: translateX(-28rem);
       // transform: translateX(0rem);

        will-change: transform;
        transition: transform 0.3s;
        opacity:0.9;
        color: $color0A;
        //display: none;

        @extend .box_shadow;

        @include e('icon_close'){
            position: relative;
            display: inline-block;
            float: right;
            padding: 1rem;
            @include fsize(16);
        }

        @include e('menu'){
            position: relative;
            margin-top: 3rem;
            padding: 0;


            @include respond-to(phone-m3-landscape) {
                margin-top: 4.5rem;
            }

            @include e('item'){

                @include respond-to(phone-m3-landscape) {

                }
            }
            //Выбранный пункт (класс состояния элемента)
            .st-nav_panel__sidebar__menu__item--selected{
                background: $color6;
            }
            @include e('link'){
                @include fsize(16);
                color:$color0A;
                text-decoration: none;
                padding: 1rem 1rem 1rem 4rem;
                display: inline-block;

                @include respond-to(phone-m3-landscape) {
                    @include fsize(15);

                }

                &:visited{
                    color: $color0A;
                }
            }

        }
        @include e('submenu'){
            position: relative;
            margin: 0;
            padding: 0;
            display: none;

            @include e('item'){
                background: $color0A;
            }

            @include e('link'){
                color:$color9;
                @include fsize(14);
                text-decoration: none;
                padding: .9rem 1rem .9rem 4rem;
                display: inline-block;

                &:visited{
                    color: $color9;
                }
            }
            //Выбранный пункт (класс состояния элемента)
            .st-nav_panel__sidebar__submenu__item--selected{
                .b-nav_panel__sidebar__submenu__link{
                    color: $color6;
                }
            }
        }

        @include respond-to(fromPhone) {
            display: block;
        }
    }


    .ico-arrow-down{
        position: relative;
        top: 1px;
        display: inline-block;
    }
}

.s-sidebar--show{
    transform: translateX(0rem)!important;
}

.b-mobile_menu_swipe{
    position: fixed;
    display: block;
    width: 30px;
    height: 100%;
    z-index: 1000;

    @media only screen and (min-width: 960px){
        display: none;
    }
}