
.player{
    audio{
        display: none;
    }
}

.audiojs{

    background: none!important;
    box-shadow:none;
    height: auto;
    width: 310px;


    .time, .play-pause{
        border: none;
    }
    .time{
        float:none;
        top:-70px;
        position: relative;
        text-shadow: none;
        color: $color6;
        em{
            color: $color6;
        }
    }
    .controll{

        width: 210px;
        height: 40px;
        float: left;

        .togoback{
            background: url($asset-base-path + '/player/togo_prev.png');
            position: relative;
            width: 45px;
            height: 35px;
            float: left;
            background-size: cover;
            transition: all .5s;
            margin-right: 2px;
            cursor: pointer;

            .togobackw{
                background: url($asset-base-path + '/player/togo_prev_selected.png');
                background-size: cover;
                transition: all .5s;
                width: 45px;
                height: 35px;
                opacity: 0;
            }
        }

        .togonext{
            background: url($asset-base-path + '/player/togo_next.png');
            position: relative;
            width: 45px;
            height: 35px;
            background-size: cover;
            transition: all .5s;
            float: left;
            margin-right: 6px;
            cursor: pointer;
            .togonextw{
                background: url($asset-base-path + '/player/togo_next_selected.png');
                background-size: cover;
                transition: all .5s;
                width: 45px;
                height: 35px;
                opacity: 0;
            }
        }
        .volume_mute{
            background: url($asset-base-path + '/player/btn_volume_mute.png');
            /*width: 116px;
            height: 45px;*/
            width: 35px;
            height: 35px;
            position: relative;
            background-size: cover;
            transition: all .5s;
            float: left;
            margin-right: 2px;
            cursor: pointer;

        }
        .volume_m{
            background: url($asset-base-path + '/player/btn_volume_down.png');
            /*width: 116px;
            height: 45px;*/
            width: 35px;
            height: 35px;
            position: relative;
            background-size: cover;
            transition: all .5s;
            margin-right: 2px;
            float: left;
            cursor: pointer;

            .volume_m_p{
                background: url($asset-base-path + '/player/btn_volume_down_press.png');
                /*width: 116px;
                height: 45px;*/
                width: 35px;
                height: 35px;
                position: relative;
                background-size: cover;
                transition: all .5s;
                margin-right: 2px;
                float: left;
                opacity: 0;
            }
        }
        .volume_p{
            background: url($asset-base-path + '/player/btn_volume_up.png');
            /*width: 116px;
            height: 45px;*/
            width: 35px;
            height: 35px;
            position: relative;
            background-size: cover;
            transition: all .5s;
            cursor: pointer;
            float: left;

            .volume_p_p{
                background: url($asset-base-path + '/player/btn_volume_up_press.png');
                /*width: 116px;
                height: 45px;*/
                width: 35px;
                height: 35px;
                position: relative;
                background-size: cover;
                transition: all .5s;
                cursor: pointer;
                float: left;
                opacity: 0;
            }
        }
    }
    .play-pause{

        width: 85px;
        height: 85px;
        padding: 0;
        margin: 4px 6px;

        .play{
            background:none;
            background: url($asset-base-path + '/player/btn_play.png');
            background-size: cover;
            transition: all .5s;
            width: 85px;
            height: 85px;
        }
        .pause{
            background: url($asset-base-path + '/player/btn_pause.png');
            background-size: cover;
            transition: all .5s;
            width: 85px;
            height: 85px;

        }
        .loading{
            background:none;
            background: url($asset-base-path + '/player/btn_play.png');
            background-size: cover;
            transition: all .5s;
            width: 85px;
            height: 85px;
        }
    }
    .playing .play-pause .play{display: none!important;}
    .playing .play-pause .loading{display: none!important;}
    .playing .play-pause .pause{display: block!important;}


    .player_filestatus{
        position:relative;
        margin: 7.5rem 0 1rem 2rem;

        .player_filestatus__link{
            @include fsize(14);
            @extend .altFont;
            color: $color12;
            display: block;
            float: left;
            position: relative;
            z-index: 250;
        }
        .player_filestatus__status{
            @include fsize(12);
            @extend .altLightFont;
            position: relative;
            width: 20rem;
            top: 3px;
            left: 0.5rem;

            @media only screen and (min-width: 530px){
                top: 2px;
            }

            @media only screen and (min-width: 650px){
                top: 3px;
            }

            @media only screen and (min-width: 960px){
                top: 3px;
            }
        }
    }
    .scrubber{
        background: url($asset-base-path + '/player/bg_loader.png') repeat-x ;
        height: 29px;
        margin: 10px;
        border: none;
        overflow: visible;
        margin-top: 2rem;
        width: 188px;

        .progress{
            background: $color6;
            .pimp{
                cursor: pointer;
                width: 29px;
                height: 29px;
                position: relative;
                float: right;
                z-index: 23232;
                top: -8px;
                right: -15px;
                background: url($asset-base-path + '/player/pimp.png') no-repeat;

            }
        }

        .loaded{
            background: $color00;
        }
    }

}
