.b-search{
    float: right;
    position: relative;
    font-size: 2.3rem;
    margin: 0.7rem 2rem 0 0;
    display: none;

    ::-moz-placeholder          {line-height:30px;}/* Firefox 19+ */
    :-moz-placeholder           {line-height:30px;}/* Firefox 18- */

    @media (orientation:landscape) and (min-device-height:1000px),
    all and (min-width:1000px) and (min-resolution: 2dppx){
        display: block;
    }
    @media only screen and (min-width: 960px){
        display: block;
    }
    @media only screen and (min-width: 961px){
        display: block;
    }

    @include e('icon') {
        position: absolute;
        float: right;
        left: 15.5rem;
        top: 0.7rem;
    }

}