// Шрифты
$baseFontSize: 10;
$baseFontFamily : UbuntuRegular, "Helvetica", "Arial", sans-serif; //, geometriaregular, sans-serif
$baseFontLightFamily: UbuntuLight, "Helvetica", "Arial", sans-serif;
$baseFontLightItalicFamily: UbuntuLightItalic, "Helvetica", "Arial", sans-serif;
$altFontFamily: RobotoRegular, "Helvetica", "Arial", sans-serif;
$altFontBoldFamily: RobotoBold, "Helvetica", "Arial", sans-serif;
$altFontLightFamily: RobotoLight, "Helvetica", "Arial", sans-serif;
$altFontRCRFamily: RobotoCondensedRegular, RobotoLight, "Arial", sans-serif;
$asset-base-path: '../assets' !default;