.box_shadow{
    box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.34),
    0 0px 4px 0px rgba(0, 0, 0, 0.2),
    0 1px 0px 0px rgba(0, 0, 0, 0.12);
    transition-property: max-height, box-shadow;
}
.line_shadow{
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.34);
    transition-property: max-height, box-shadow;
}

.line_light_shadow{
    box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.34);
    transition-property: max-height, box-shadow;
}