.bg_liner{
    background: repeating-linear-gradient(
                    -55deg,
                    $colorA13,
                    $colorA13 2px,
                    $colorA12 2px,
                    $colorA12 6px
    );
}

.b-tariff_plan{
    padding-top: 3rem;
    padding-bottom: 3rem;

    @include e('item') {
        margin: 0 0.5rem;
        background: $color00;
        margin-bottom: 2rem;

        border-top-left-radius: 16px;
        border-top-right-radius: 16px;

        @media only screen and (min-width: 480px){
            margin: 0 2rem;
            margin-bottom: 2rem;
        }

        @media only screen and (min-width: 640px){
            margin: 0 0.5rem;
            margin-bottom: 4rem;
        }

        @media (orientation:landscape) and (min-device-height:1000px),
        all and (min-width:1000px) and (min-resolution: 2dppx){
            width: 268px;
            float: left;
            margin: 0 3.12rem;

            &:first-child{
                margin-left: 0rem;
            }

            &:last-child{
                margin-right: 0rem;
            }
        }

        @media only screen and (min-width: 960px){
            width: 265px;
            float: left;
            margin: 0 3.12rem;

            &:first-child{
                margin-left: 0rem;
            }

            &:last-child{
                margin-right: 0rem;
            }
        }

        @media only screen and (min-width: 961px){
            width: 268px;
            float: left;
            margin: 0 3.12rem;

            &:first-child{
                margin-left: 0rem;
            }

            &:last-child{
                margin-right: 0rem;
            }
        }

        @include e('cnt') {
        }
        @include e('title') {
            @include fsize(18);
            @extend .altBoldFont;
            text-align: center;
            line-height: 1.3;
            padding-bottom: 1.5rem;
            margin-bottom: 1.5rem;
            border-bottom: 1px solid $color1;
            min-height: 5rem;
            font-weight: 500;
        }

        @include m('head'){
            min-height: 4.8rem;
            @extend .bg_liner;
            border-top-left-radius: 16px;
            border-top-right-radius: 16px;
            padding: 0.5rem;
            position: relative;
            z-index: 111;



            @include e('time') {
                color: $color0A;
                @include fsize(20);
                @extend .altLightFont;
                text-align: center;
                min-width: 22rem;
                display: block;
                margin-left: -20px;

            }
            @include e('price') {
                color: $color0A;
                @include fsize(50);
                @extend .altRCRFont;
                text-align: center;
                min-width: 22rem;
                display: block;
                margin-bottom: -1rem;
            }
            @include e('price_c') {
                color: $color0A;
                @include fsize(20);
                @extend .altBoldFont;
            }
        }

        @include m('desc'){
           // background: $color00;
            min-height: 16.5rem;
            position: relative;
            padding: 2rem;
            z-index: 111;
            min-height: 18rem;

            @media only screen and (min-width: 641px){
                width: 22rem;
                float: left;
            }
            @media only screen and (min-width: 736px){
                width: 23rem;
                float: left;;
            }
            @media only screen and (min-width: 768px){
                width: 23rem;
                float: left;;
            }
            @media (orientation:landscape) and (min-device-height:1000px),
            all and (min-width:1000px) and (min-resolution: 2dppx){
                width: auto;
                float: none;
            }
            @media only screen and (min-width: 960px){
                width: auto;
                float: none;
            }
        }
        @include m('romb'){
            background: $color00;
            position: relative;
            transform: rotate(45deg);
            width: 18rem;
            height: 18rem;
            margin: 0 auto;
            margin-top: -18rem;
            z-index: 110;


            @media only screen and (min-width: 641px){
                margin-left: 10rem;
                top: 20rem;
                left: -3rem;
            }

            @media only screen and (min-width: 736px){
                top: 23rem;
                left: -2rem;
            }

            @media only screen and (min-width: 800px){
                left: 2rem;
            }

            @media (orientation:landscape) and (min-device-height:1000px),
            all and (min-width:1000px) and (min-resolution: 2dppx){
                margin: 0 auto;
                margin-top: -18rem;
                top: 0;
                left: 0;
            }
            @media only screen and (min-width: 960px){
                margin: 0 auto;
                margin-top: -18rem;
                top: 0;
                left: 0;
            }

        }
        @include m('details'){
            padding: 5rem 2rem 1rem 2rem;
            border-left: 1px solid $color1g;
            border-right: 1px solid $color1g;
            background: $color0A;


            @media only screen and (min-width: 641px){
                width: 32rem;
                float: right;
                padding: 2rem 2rem 1rem 4rem;
                min-height: 23rem;
                border-left: none;
            }
            @media only screen and (min-width: 690px){
                width: 34rem;
            }

            @media only screen and (min-width: 736px){
                width: 38rem;
            }
            @media only screen and (min-width: 768px){
                width: 41rem;
            }
            @media (orientation:landscape) and (min-device-height:1000px),
            all and (min-width:1000px) and (min-resolution: 2dppx){
                width: auto;
                float: none;
                padding: 5rem 2rem 1rem 2rem;
                border-left: 1px solid $color1g;
                min-height: 46rem;
            }
            @media only screen and (min-width: 960px){
                width: auto;
                float: none;
                padding: 5rem 2rem 1rem 2rem;
                border-left: 1px solid $color1g;
                min-height: 46rem;
            }

        }

        @include m('footer') {
            background: $color0A;
            //margin-bottom: 2rem;
            padding-bottom: 2rem;
            border-left: 1px solid $color1g;
            border-right: 1px solid $color1g;
            border-bottom: 1px solid $color1g;

            @media only screen and (min-width: 641px){
                padding-top: 2rem;
                width: 38rem;
                float: right;
                border-left: none;
                margin-bottom: 0rem;
            }
            @media only screen and (min-width: 690px){
                width: 40rem;
            }
            @media only screen and (min-width: 736px){
                width: 44rem;
            }

            @media only screen and (min-width: 768px){
                width: 47rem;
            }

            @media (orientation:landscape) and (min-device-height:1000px),
            all and (min-width:1000px) and (min-resolution: 2dppx){
                margin-bottom: 0rem;
                border-left: 1px solid $color1g;
                float: none;
                width: auto;
                padding-top: 0rem;
                padding-bottom: 2rem;
            }
            @media only screen and (min-width: 960px){
                margin-bottom: 0rem;
                border-left: 1px solid $color1g;
                float: none;
                width: auto;
                padding-top: 0rem;
                padding-bottom: 2rem;
            }


            @include e('btn'){
                margin: 0 auto;
                width: 8rem;
                display: block;
            }
        }
    }
}