@mixin respond-to($media) {
  @if $media == laptop {
    /* ----------- Non-Retina Screens ----------- */
    @media screen and (min-width: 960px) and (min-resolution: 1dppx) { @content; }
  }
  @else if $media == laptop-d2 {
    /* ----------- Non-Retina Screens ----------- */
    @media screen and (min-width: 960px) and (max-resolution: 2dppx) { @content; }
  }
  @else if $media == laptop-retina {
    /* ----------- Retina Screens ----------- */
    @media screen and (min-width: 1200px),
    only screen and (device-pixel-ratio: 2),
    only screen and (-o-min-pixel-ratio: 2),
    only screen and (min--moz-pixel-ratio: 2),
    only screen and (-webkit-min-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi) { @content; }
  }
  @else if $media == laptop-fhd {
    /* ----------- Non-Retina Screens ----------- * /
    @media screen and (min-width: 1920px) and (min-resolution: 1dppx) { @content; }
  }
  @else if $media == laptop-fhd2 {
    /* ----------- Non-Retina Screens ----------- */
    @media screen and (min-width: 1920px) and (min-resolution: 192dpi) { @content; }
  }
  @else if $media == laptop-retina-full {
    /* ----------- Non-Retina Screens ----------- */
    @media screen and (min-width: 2560px),
    only screen and (device-pixel-ratio: 2),
    only screen and (-o-min-pixel-ratio: 2),
    only screen and (min--moz-pixel-ratio: 2),
    only screen and (-webkit-min-pixel-ratio: 2),
    only screen and (min-resolution: 144dpi) { @content; }
  }
  @else if $media == laptopAll {
    /* ----------- Retina Screens ----------- */
    @media screen and (min-width: 960px) and (min-resolution: 1dppx){ @content; }
  }
  @else if $media == table {
    /* ----------- iPad mini и iPad 1 и 2 ----------- */
    /* Portrait and Landscape */
    @media only screen and (min-width: 768px),
    only screen and (max-width: 1024px),
    only screen and (device-pixel-ratio: 1),
    only screen and (-o-min-pixel-ratio: 1),
    only screen and (min--moz-pixel-ratio: 1),
    only screen and (-webkit-min-pixel-ratio: 1) { @content; }
  }
  @else if $media == table-portrait {
    /* ----------- iPad mini и iPad 1 и 2 ----------- */
    /* Portrait */
    @media only screen and (min-width: 768px),
    only screen and (max-width: 1024px),
    only screen and (orientation: portrait),
    only screen and (device-pixel-ratio: 1),
    only screen and (-o-min-pixel-ratio: 1),
    only screen and (min--moz-pixel-ratio: 1),
    only screen and (-webkit-min-pixel-ratio: 1) { @content; }
  }
  @else if $media == table-landscape {
    /* ----------- iPad mini и iPad 1 и 2 ----------- */
    /* Landscape */
    @media only screen and (min-width: 767px),
    only screen and (max-width: 1024px),
    only screen and (orientation: landscape),
    only screen and (device-pixel-ratio: 1),
    only screen and (-o-min-pixel-ratio: 1),
    only screen and (min--moz-pixel-ratio: 1),
    only screen and (-webkit-min-pixel-ratio: 1) { @content; }
  }
  @else if $media == table-retina {
    /* Portrait and Landscape */
    @media only screen and (min-width: 768px),
    only screen and (max-width: 1280px),
    only screen and (device-pixel-ratio: 2),
    only screen and (-o-min-pixel-ratio: 2),
    only screen and (min--moz-pixel-ratio: 2),
    only screen and (-webkit-min-pixel-ratio: 2) { @content; }
  }
  @else if $media == table-retina-portrait {
    /* ----------- iPad 3 и 4 ----------- */
    /* Portrait */
    @media only screen and (min-width: 768px),
    only screen and (max-width: 1280px),
    only screen and (orientation: portrait),
    only screen and (device-pixel-ratio: 2),
    only screen and (-o-min-pixel-ratio: 2),
    only screen and (min--moz-pixel-ratio: 2),
    only screen and (-webkit-min-pixel-ratio: 2) { @content; }
  }
  @else if $media == table-retina-landscape {
    /* ----------- iPad 3 и 4 ----------- */
    /* Landscape */
    @media only screen and (min-width: 768px),
    only screen and (max-width: 1280px),
    only screen and (orientation: landscape),
    only screen and (device-pixel-ratio: 2),
    only screen and (-o-min-pixel-ratio: 2),
    only screen and (min--moz-pixel-ratio: 2),
    only screen and (-webkit-min-pixel-ratio: 2)  { @content; }
  }
  @else if $media == table-retina-landscape-d2 {
    /* ----------- iPad 3 и 4 ----------- */
    /* Landscape */
    @media screen and (min-width: 1300px) and (orientation: landscape) and (min-resolution: 1dppx){ @content; }
  }
  @else if $media == phone-m {
    /* Portrait */
    @media
    only screen and (min-width: 600px) and (max-width: 800px) and (max-resolution: 2dppx) and (orientation: portrait){ @content; }
  }
  @else if $media == phone-m-landscape {
    /* Landscape */
    @media
    only screen and (min-width: 668px) and (max-width: 1024px) and (max-resolution: 2dppx)  and (orientation: landscape){ @content; }
  }
  @else if $media == phone-m1-landscape {
    /* Landscape */
    @media
    only screen and (min-width: 520px) and (max-width: 1024px) and (max-resolution: 2dppx)  and (orientation: landscape){ @content; }
  }
  @else if $media == phone {
    /* Portrait */
    @media
    only screen and (min-width: 320px) and (max-width: 800px) and (max-resolution: 1dppx) and (orientation: portrait){ @content; }
  }
  @else if $media == phone-landscape {
    /* Landscape */
    @media
    only screen and (min-width: 520px) and (max-width: 1280px) and (max-resolution: 1.25dppx)  and (orientation: landscape){ @content; }
  }
  @else if $media == phone-landscape-d1 {
    /* Landscape */
    @media
    only screen and (min-device-width: 900px) and (max-device-width: 1280px) and (max-resolution: 1dppx)  and (orientation: landscape){ @content; }
  }
  @else if $media == phone-d1 {
      /* Landscape */
      @media
      only screen and (min-device-width: 750px) and (max-device-width: 1024px) and (min-resolution: 1dppx)  and (orientation: portrait){ @content; }
  }
  @else if $media == phone-landscape-d2 {
      /* Landscape */
      @media
      only screen and (min-device-width: 750px) and (max-device-width: 1280px) and (max-resolution: 2dppx)  and (orientation: landscape){ @content; }
  }
  @else if $media == phone-d2 {
      /* Landscape */
      @media
      only screen and (min-device-width: 750px) and (max-device-width: 1024px) and (min-resolution: 2dppx)  and (orientation: portrait){ @content; }
  }
  @else if $media == phone-hi {
    @media only screen and (min-device-width: 360px),
    only screen and (max-device-width: 736px),
    only screen and (device-pixel-ratio: 3),
    only screen and (-o-min-device-pixel-ratio: 3),
    only screen and (min--moz-device-pixel-ratio: 3),
    only screen and (-webkit-min-device-pixel-ratio: 3)  { @content; }
  }
  @else if $media == phone-hi-portrait {
    /* Portrait */
    @media
    only screen and (min-device-width: 480px) and (max-device-width: 800px) and (min-resolution: 3dppx)  and (orientation: portrait) { @content; }
  }
  @else if $media == phone-hi-landscape {
    /* Landscape */
    @media only screen and (min-device-width: 520px) and (max-device-width: 800px) and (min-resolution: 3dppx) and (orientation: landscape) { @content; }
  }
  @else if $media == phone-m3-landscape {
    /* Landscape */
    @media
    only screen and (max-height: 568px) and (orientation: landscape){ @content; }
  }
  @else if $media == table-m3-landscape {
    /* Landscape */
    @media
    only screen and (min-height: 768px) and (orientation: landscape){ @content; }
  }
  @else if $media == fromTables {
    /* Landscape */
    @media only screen and (min-width: 621px) { @content; }
  }
  @else if $media == fromPhone {
    /* Landscape */
    @media only screen and (max-width: 620px) { @content; }
  }
  @else if $media == fromPhone-landscape {
    /* Landscape */
    @media
    only screen and (max-height: 480px) and (orientation: landscape){ @content; }
  }
}

@mixin fontsize($size:1.6, $line: $size * 1.5){
  font-size:   ($size * $baseFontSize) + px;
  line-height: ($line * $baseFontSize) + px;
  font-size:   $size + rem;
  line-height: $line + rem;
}

@mixin fsize($size, $base: $baseFontSize) {
  font-size: $size + px; // fallback for old browsers
  font-size: (($size / $base) * 1) + rem;
}


@mixin lineheight($line){
  line-height: ($line * $baseFontSize) + px;
  line-height: $line + rem;
}
@mixin bbc_color($color1, $color2, $reverse: 0) {

  $colorA: $color2;
  $colorB: $color1;

  @if $reverse == 0 {
    $colorA: $color1;
    $colorB: $color2;
  }

  background: $colorA;
  border-color: $color2;
  color: $colorB;
}
/**
Центровка блока
*/

// .parent {
//   position: relative;
// }
// .child {
//   @include centerer;
// }

@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/**
БЭМ
*/
// .block {
//    /* CSS declarations for `.block` */
//    @include e('element') {
//    /* CSS declarations for `.block__element` */
//    }
//    @include m('modifier') {
//    /* CSS declarations for `.block--modifier` */
//        @include e('element') {
//        /* CSS declarations for `.block--modifier__element` */
//        }
//    }
// }
//
/// Block Element
/// @access public
/// @param {String} $element - Element's name
@mixin element($element) {
  &__#{$element} {
    @content;
  }
}

/// Block Modifier
/// @access public
/// @param {String} $modifier - Modifier's name
@mixin modifier($modifier) {
  &--#{$modifier} {
    @content;
  }
}
/// @alias element
@mixin e($element) {
  @include element($element)  {
    @content;
  }
}
/// @alias modifier
@mixin m($modifier) {
  @include modifier($modifier) {
    @content;
  }
}


@mixin linx ($link, $visit, $hover, $active) {
  a {
    color: $link;
    &:visited {
      color: $visit;
    }
    &:hover {
      color: $hover;
    }
    &:active {
      color: $active;
    }
  }
}
/*ПОдстановка путй - asset*/

// .foo {
//    background-image: image('kittens.png');
// }

// @font-face {
//    font-family: 'Unicorn Font';
//    src: font('unicorn.eot?') format('eot'),
//    font('unicorn.otf') format('truetype'),
//    font('unicorn.woff') format('woff'),
//    font('unicorn.svg#unicorn') format('svg');
//    font-weight: normal;
//    font-style: normal;
//  }

/// Base path for assets (fonts, images...),
/// should not include trailing slash
/// @access public
/// @type String


/// Asset URL builder
/// @access private
/// @param {String} $type - Asset type, matching folder name
/// @param {String} $file - Asset file name, including extension
/// @return {URL} - A `url()` function leading to the asset
@function asset($type, $file) {
  @return url($asset-base-path + '/' + $type + '/' + $file);
}

/// Image asset helper
/// @access public
/// @param {String} $file - Asset file name, including extension
/// @return {URL} - A `url()` function leading to the image
/// @require {function} asset
@function image($file) {
  @return asset('images', $file);
}

/// Font asset helper
/// @access public
/// @param {String} $file - Asset file name, including extension
/// @return {URL} - A `url()` function leading to the font
/// @require {function} asset
@function font($file) {
  @return asset('fonts', $file);
}


/*Темнее и освитление цвета*/

// .foo {
//    color: tint(#BADA55, 42%);
//  }

//  .bar {
//    background-color: shade(#663399, 42%);
//  }

/// Slightly lighten a color
/// @access public
/// @param {Color} $color - color to tint
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function tint($color, $percentage) {
  @return mix($color, white, $percentage);
}

/// Slightly darken a color
/// @access public
/// @param {Color} $color - color to shade
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function shade($color, $percentage) {
  @return mix($color, black, $percentage);
}

@mixin headerButtonsPos($position) {
  @if $position == left {
    right: auto;
  }

  @if $position == right {
    right: 0.55rem;
  }
}