.b-wrapper{
    min-height: 100vh;
    margin-bottom: -224px;
    margin-top: 6px;
    position: relative;


    &:after {
        content: "";
        display: block;
        min-height: 224px;
    }
}
.b-wrapper_header{
    min-height: 3.8rem;
}