//@import "normalize";
@import "util";
@import "fonts";
@import 'colors/color-blue_grey';
@import "settings";
*{
  padding: 0;
  margin: 0;
}
html{
  height: 100%;
  //font-size : (($baseFontSize * 100) / 16) + 0%;
  font-size: 10px;
}

body {
    @include fsize(10);
    font-family: $baseFontFamily;
    color: $colorTextBase;
    padding: 0;
    margin: 0;
    height: 100%;
   // position: relative;
}

body{
    margin-top: -7px;
}
img {
    max-width: 100%;
}

*:focus {
  outline: 0;
}

[placeholder] {
  color:$color0B;
  @include lineheight(2);
  text-overflow:ellipsis;
  transition: line-height 0.5s ease;
}
::-webkit-input-placeholder{
  color:$color0B;
  @include lineheight(2);
  text-overflow:ellipsis;
  transition: line-height 0.5s ease;
}
::-moz-placeholder{
  color:$color0B;
  @include lineheight(2);
  text-overflow:ellipsis;
  transition: line-height 0.5s ease;
}
:-moz-placeholder{
  color:$color0B;
  @include lineheight(2);
  text-overflow:ellipsis;
  transition: line-height 0.5s ease;
}
:-ms-input-placeholder{
  color:$color0B;
  @include lineheight(2);
  text-overflow:ellipsis;
  transition: line-height 0.5s ease;
}
:focus::-webkit-input-placeholder {line-height: 100px; transition: line-height 0.5s ease;}
:focus::-moz-placeholder          {line-height: 100px; transition: line-height 0.5s ease;}
:focus:-moz-placeholder           {line-height: 100px; transition: line-height 0.5s ease;}
:focus:-ms-input-placeholder      {line-height: 100px; transition: line-height 0.5s ease;}

input {
  font-family: $baseFontFamily;
  @include fontsize(1.6, 1.6);
  color:$colorTextBase;
  border: solid 0.1rem $color5;
}

input[type="search"] {
  -webkit-appearance: none;
  color:$colorTextBase;
}
input[type="search"]::-ms-clear {
  /* removes close icon - IE */
  display: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
h1, h2, h3, h4, h5, h6{
}
h1{
  @include fontsize(1.8);
  padding-top: 2.5rem;
}
h2{
  @include fontsize(1.3);
}
h3{
  @include fontsize(1.15);
}
h4{
  @include fontsize(1.03)
}
h5{
  @include fontsize(0.81)
}
h6{
  @include fontsize(0.73)
}
p {
  line-height: 1.6;
  @include fsize(16);
  @extend .altLightFont;
}
/*b, strong{
  font-family: $altFontBoldFamily;
  @include fontsize(1.1);
}*/
blockquote{
  @include fsize(16);
  font-style: italic;
  color: $color14;
  margin: 1rem 1rem 1rem 1rem;
  border-left: 0.4rem solid $color1;
  padding-left: 1rem;
}
blockquote *{@include fsize(16);
  color: $color11;
}
blockquote small, cite {
  color: $color2;
  font-style: italic;
}
address{
  line-height: 1.4rem;
}

li {
  list-style-type: none;
}
@include linx($colorLink, $colorLinkVisit, $colorLinkHover, $colorLinkActive);
.b-hr_white{
    border:none;
    border-bottom: 1px solid $color0A;
}
hr{
    border: none;
    border-bottom: 1px solid $color1;
    margin: 1rem 0 ;
}
.red{
  color: $colorA2;
}
.brdr{
  border: 1px solid $colorA2;
}

.brdb{
  border: 1px solid $color3;
}
.brdg{
  border: 1px solid $colorA6;
}
.hide{
  display: none!important;
}
.b-icon {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  font-size: 2rem;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */

  /* You can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.b-inline{
    display: inline-block;
}
.b-title_underlined{
  border-bottom: 2px solid $color6;
  padding-left:0rem;
  padding-right:0rem;
  padding-bottom: 0.4rem;

  @media only screen and (min-device-width: 960px) {
    padding-bottom: 1rem;

    border-bottom: 3px solid $color6;
  }
}
.btn{
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  padding: 1rem 4rem; //* изменения  отступа для регулировки размера *//
  border-radius: .3em;
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  margin: 0.5rem;
  @include fsize(16);

  &:active {
    position: relative;
    top: 1px;
  }
}
.btn--green{
  @extend .btn;
  color: $color0A;
  border: solid 1px $colorA4;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5da32c+0,477d22+100 */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5da32c+0,5da32c+21,477d22+72 */
    background: $colorA4; /* Old browsers */
    background: -moz-linear-gradient(top, $colorA4 0%, $colorA4 21%, $colorA5 72%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$colorA4), color-stop(21%,$colorA4), color-stop(72%,$colorA5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, $colorA4 0%,$colorA4 21%,$colorA5 72%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, $colorA4 0%,$colorA4 21%,$colorA5 72%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, $colorA4 0%,$colorA4 21%,$colorA5 72%); /* IE10+ */
    background: linear-gradient(to bottom, $colorA4 0%,$colorA4 21%,$colorA5 72%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$colorA4', endColorstr='$colorA5',GradientType=0 ); /* IE6-9 */


  &:hover {
      background: $colorA5; /* Old browsers */
      background: -moz-linear-gradient(top, $colorA5 0%, $colorA5 21%, $colorA4 72%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$colorA5), color-stop(21%,$colorA5), color-stop(72%,$colorA4)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, $colorA5 0%,$colorA5 21%,$colorA4 72%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, $colorA5 0%,$colorA5 21%,$colorA4 72%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top, $colorA5 0%,$colorA5 21%,$colorA4 72%); /* IE10+ */
      background: linear-gradient(to bottom, $colorA5 0%,$colorA5 21%,$colorA4 72%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$colorA5', endColorstr='$colorA4',GradientType=0 ); /* IE6-9 */

  }
  &:active {
      background: $colorA5;
    background: -webkit-gradient(linear, left top, left bottom, from($colorA6), to($colorA5));
    background: -moz-linear-gradient(top,  $colorA6,  $colorA5);
    background-image: -o-linear-gradient(top,  $colorA6,  $colorA5);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='$colorA6', endColorstr='$colorA5');
  }
}
.btn--blue{
    @extend .btn;
    color: $color0A;
    border: solid 1px $colorA8;
    background: $colorA7;
    background: -moz-linear-gradient(top, $colorA7 0%, $colorA7 21%, $colorA8 72%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$colorA7), color-stop(21%,$colorA7), color-stop(72%,$colorA8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, $colorA7 0%,$colorA7 21%,$colorA8 72%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, $colorA7 0%,$colorA7 21%,$colorA8 72%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, $colorA7 0%,$colorA7 21%,$colorA8 72%); /* IE10+ */
    background: linear-gradient(to bottom, $colorA7 0%,$colorA7 21%,$colorA8 72%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$colorA7', endColorstr='$colorA8',GradientType=0 ); /* IE6-9 */

    &:hover {
      background: $colorA8;
      background: -moz-linear-gradient(top, $colorA8 0%, $colorA8 21%, $colorA7 72%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$colorA8), color-stop(21%,$colorA8), color-stop(72%,$colorA7)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, $colorA8 0%,$colorA8 21%,$colorA7 72%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, $colorA8 0%,$colorA8 21%,$colorA7 72%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top, $colorA8 0%,$colorA8 21%,$colorA7 72%); /* IE10+ */
      background: linear-gradient(to bottom, $colorA8 0%,$colorA8 21%,$colorA7 72%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$colorA8', endColorstr='$colorA7',GradientType=0 ); /* IE6-9 */

  }
    &:active {
    background: -webkit-gradient(linear, left top, left bottom, from($colorA9), to($colorA8));
    background: -moz-linear-gradient(top,  $colorA9,  $colorA8);
    background-image: -o-linear-gradient(top,  $colorA9,  $colorA8);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='$colorA9', endColorstr='$colorA8');
  }
    &:disabled{
        box-shadow: 0px 0px 1px rgba(0,0,0,.2);
        background: $colorA14;
        border: solid 1px $colorA14;
        cursor: pointer;

    }
}

.btn__position{
  position: relative;
  display: inline-block;
}
.altBoldFont{
  font-family: $altFontBoldFamily;
}
.altLightFont{
  font-family: $altFontLightFamily;
}
.altRCRFont{
  font-family: $altFontRCRFamily;
}
.baseLightFont{
  font-family: $baseFontLightFamily;
}
.baseLightItalicFont{
  font-family: $baseFontLightItalicFamily;
}
.altFont{
  font-family: $altFontFamily;
}
.bg-vk{background: $colorVK;}
.bg-twitter{ background: $colorTwitter;}
.bg-f{background: $colorFacebook;}
.bg-ok{background: $colorOK;}
.bg-yt{background: $colorYT;}
.img320right{
    float: right;
    width: 35%;
    margin-left: 2rem;
    margin-bottom: 0.5rem;
}
.img320left{
    float: left;
    width: 35%;
    margin-right: 2rem;
    margin-bottom: 0.5rem;
}
.banner{
    margin: 1rem 0 ;
    display: none;
    @media only screen and (min-device-width: 960px){
        display: block;
    }
}

.widget{
    margin: 3rem 0 ;
    display: none;
    @media only screen and (min-device-width: 960px){
        display: block;
    }
}
a.btn--blue {color:$color0A;}


@import "clearfix";
@import "shadow";
@import "animate";
@import "wrapper";
@import "col_row";
@import "header";
@import "nav_panel";
@import "form";
@import "./content/breadcrumbs";
@import "./content/slide_article";
@import "./content/cnt_main_row";
@import "./content/cnt_about";
@import "./content/cnt_individual_work";
@import "./content/cnt_live_cicle";
@import "./content/cnt_psy_area__cnt";
@import "./content/cnt_steps";
@import "./content/cnt_reviews";
@import "./content/cnt_ask";
@import "./content/mobile_scroll_up";
@import "./content/cnt_contact";
@import "./content/cnt_text";
@import "./content/cnt_group_center";
@import "./content/cnt_basis_center";
@import "./content/cnt_methods";
@import "./content/cnt_list_article";
@import "./content/cnt_service";
@import "contact_popup";
@import "player";
@import "tariff_plan";
@import "footer";
@import "./content/slide_article";
@import "modal_window";
@import "search";
