// theme Blue Grey
$color0AA: #000;
$color0A: #fff;
$color0B: #e2e3df;
$color0C: #2e3233;
$color0D: #fafafa;

$color00: #ededed;
$color0: #94d8d1;
$color1: #c6c6c6;
$color1g: #b7b7b7;
$color2: #B0BEC5;
$color3: #3b6392;
$color4: #00e0ff;
$color5: #1fccf8;
$color6: #1faed8;
$color7: #294758;
$color8: #4d4d4d;
$color9: #383838;
$color10: #3b3b3b;
$color11: #f7f5f5;
$color12: #5b5b5b;
$color13: #e1e1e1;
$color14: #868686;






$colorA0: #fdd104;
$colorA1: #FFD180;
$colorA2: #ff0000;
$colorA3: #FF9100;
$colorA4: #5da32c;
$colorA5: #477d22;
$colorA6: #076f11;
$colorA7: #65acd5;
$colorA8: #4e84a4;
$colorA9: #1e8db6;
$colorA10: #134c7b;
$colorA11: #064558;
$colorA12: #2fb4db;
$colorA13: #25aad1;
$colorA14: rgba(43, 131, 174, 0.26);

$colorVK: #1358cf;
$colorTwitter: #01c6fa;
$colorFacebook: #0560d3;
$colorOK: #ed8d05;
$colorYT: #d21316;


// Цвет фона
$backgroundColor: $color0A;
// Цвет ссылок
$colorLink: $color7;
$colorLinkHover: $color9;
$colorLinkVisit: $color3;
$colorLinkActive: $color7;

// основной цвет  текста
$colorTextBase: $color9;
