@font-face {
  font-family: 'quote';
  src: url('../font/quote.eot?30888095');
  src: url('../font/quote.eot?30888095#iefix') format('embedded-opentype'),
       url('../font/quote.woff?30888095') format('woff'),
       url('../font/quote.ttf?30888095') format('truetype'),
       url('../font/quote.svg?30888095#quote') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'quote';
    src: url('../font/quote.svg?30888095#quote') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "quote";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-home:before { content: '\e800'; } /* '' */
.icon-mail-alt:before { content: '\e801'; } /* '' */
.icon-search:before { content: '\e802'; } /* '' */
.icon-th-large:before { content: '\e803'; } /* '' */
.icon-menu:before { content: '\e804'; } /* '' */
.icon-phone:before { content: '\e805'; } /* '' */
.icon-cog-alt:before { content: '\e806'; } /* '' */
.icon-ok:before { content: '\e807'; } /* '' */
.icon-cancel:before { content: '\e808'; } /* '' */
.icon-left-open:before { content: '\e809'; } /* '' */
.icon-right-open:before { content: '\e80a'; } /* '' */
.icon-up-open:before { content: '\e80b'; } /* '' */
.icon-down-open:before { content: '\e80c'; } /* '' */
.icon-angle-circled-left:before { content: '\e80d'; } /* '' */
.icon-angle-circled-right:before { content: '\e80e'; } /* '' */
.icon-angle-circled-up:before { content: '\e80f'; } /* '' */
.icon-angle-circled-down:before { content: '\e810'; } /* '' */
.icon-play:before { content: '\e811'; } /* '' */
.icon-stop:before { content: '\e812'; } /* '' */
.icon-pause:before { content: '\e813'; } /* '' */
.icon-to-end:before { content: '\e814'; } /* '' */
.icon-to-end-alt:before { content: '\e815'; } /* '' */
.icon-to-start:before { content: '\e816'; } /* '' */
.icon-align-justify:before { content: '\e817'; } /* '' */
.icon-quote-left:before { content: '\e818'; } /* '' */
.icon-quote-right:before { content: '\e819'; } /* '' */
.icon-mail:before { content: '\e81a'; } /* '' */
.icon-vkontakte:before { content: '\e81b'; } /* '' */
.icon-whatsapp:before { content: '\e81c'; } /* '' */
.icon-twitter:before { content: '\e81d'; } /* '' */
.icon-facebook:before { content: '\e81e'; } /* '' */
.icon-youtube:before { content: '\e81f'; } /* '' */
.icon-medkit:before { content: '\e820'; } /* '' */
.icon-check:before { content: '\e821'; } /* '' */
.icon-check-empty:before { content: '\e822'; } /* '' */
.icon-mail-1:before { content: '\e823'; } /* '' */
.icon-heart:before { content: '\e824'; } /* '' */
.icon-menu-1:before { content: '\e825'; } /* '' */
.icon-check-1:before { content: '\e826'; } /* '' */
.icon-cancel-1:before { content: '\e827'; } /* '' */
.icon-left-open-big:before { content: '\e828'; } /* '' */
.icon-right-open-big:before { content: '\e829'; } /* '' */
.icon-up-open-big:before { content: '\e82a'; } /* '' */
.icon-down-open-big:before { content: '\e82b'; } /* '' */
.icon-skype:before { content: '\e82c'; } /* '' */
.icon-mail-2:before { content: '\e82d'; } /* '' */
.icon-menu-2:before { content: '\e82e'; } /* '' */
.icon-at:before { content: '\e82f'; } /* '' */
.icon-vk:before { content: '\e830'; } /* '' */
.icon-skype-1:before { content: '\e831'; } /* '' */
.icon-odnoklassniki:before { content: '\e832'; } /* '' */
.icon-down:before { content: '\e833'; } /* '' */
.icon-up:before { content: '\e834'; } /* '' */
.icon-right:before { content: '\e835'; } /* '' */
.icon-left:before { content: '\e836'; } /* '' */
.icon-down-dir:before { content: '\e837'; } /* '' */
.icon-up-dir:before { content: '\e838'; } /* '' */
.icon-right-dir:before { content: '\e839'; } /* '' */
.icon-left-dir:before { content: '\e83a'; } /* '' */
.icon-angle-down:before { content: '\e83b'; } /* '' */
.icon-angle-up:before { content: '\e83c'; } /* '' */
.icon-angle-right:before { content: '\e83d'; } /* '' */
.icon-angle-left:before { content: '\e83e'; } /* '' */
.icon-gplus:before { content: '\e83f'; } /* '' */
.icon-plus-circled:before { content: '\e840'; } /* '' */
.icon-minus-circled:before { content: '\e841'; } /* '' */
.icon-minus:before { content: '\e842'; } /* '' */
.icon-plus:before { content: '\e843'; } /* '' */
.icon-info:before { content: '\e844'; } /* '' */
.icon-info-circled:before { content: '\e845'; } /* '' */
.icon-attach:before { content: '\e846'; } /* '' */
.icon-bookmark:before { content: '\e847'; } /* '' */
.icon-thumbs-up:before { content: '\e848'; } /* '' */
.icon-thumbs-down:before { content: '\e849'; } /* '' */
.icon-reply:before { content: '\e84a'; } /* '' */
.icon-forward:before { content: '\e84b'; } /* '' */
.icon-quote:before { content: '\e84c'; } /* '' */
.icon-print:before { content: '\e84d'; } /* '' */
.icon-search-1:before { content: '\e84e'; } /* '' */
.icon-cancel-2:before { content: '\e84f'; } /* '' */
.icon-location:before { content: '\e850'; } /* '' */
.icon-angle-double-up:before { content: '\e851'; } /* '' */
.icon-angle-double-down:before { content: '\e852'; } /* '' */
.icon-skype-2:before { content: '\e853'; } /* '' */
.icon-twitter-1:before { content: '\e854'; } /* '' */
.icon-facebook-1:before { content: '\e855'; } /* '' */
.icon-left-open-1:before { content: '\e856'; } /* '' */
.icon-right-open-1:before { content: '\e857'; } /* '' */
.icon-youtube-1:before { content: '\e858'; } /* '' */
.icon-email:before { content: '\e859'; } /* '' */
.icon-twitter-bird:before { content: '\e85a'; } /* '' */
.icon-star-empty:before { content: '\e85b'; } /* '' */
.icon-star:before { content: '\e85c'; } /* '' */
.icon-star-half-alt:before { content: '\e85d'; } /* '' */
.icon-comment:before { content: '\e85e'; } /* '' */
.icon-search-2:before { content: '\e85f'; } /* '' */
.icon-eye:before { content: '\e860'; } /* '' */
.icon-clock:before { content: '\e861'; } /* '' */
.icon-clock-1:before { content: '\e862'; } /* '' */
.icon-gplus-1:before { content: '\e863'; } /* '' */
.icon-vkontakte-rect:before { content: '\e864'; } /* '' */
.icon-user:before { content: '\e865'; } /* '' */
.icon-link-ext:before { content: '\e866'; } /* '' */
.icon-info-1:before { content: '\e867'; } /* '' */
.icon-headphones:before { content: '\e868'; } /* '' */
.icon-rouble:before { content: '\e869'; } /* '' */
.icon-user-1:before { content: '\e86a'; } /* '' */
.icon-user-2:before { content: '\e86b'; } /* '' */
.icon-user-3:before { content: '\e86c'; } /* '' */
.icon-user-male:before { content: '\e86d'; } /* '' */
.icon-chat:before { content: '\e86e'; } /* '' */